[2013-02-06 02:30] agapple opened #1 "修复memory-instance.xml下，不配置zkserver，可以正常启动和关闭"

[2013-02-06 02:32] agapple opened #2 "instance增加自动扫描机制"
扫描conf目录下的子目录，排除spring以外，将目录名做为instance destination，自动加载该instance，默认读取global lazy

[2013-02-06 12:08] #1 closed, assigned to agapple

[2013-02-18 08:33] #2 closed, assigned to agapple

[2013-02-18 09:41] agapple opened #3 "mysql 编码参数去除charsetNumber，根据connectionCharset设置的编码即可"
v1.0.0的版本中，设定编码需要同时设置charsetNumber和connectionCharset，charsetNumber主要是和mysql进行handshark时，指定character_set_results的返回编码。connectionCharset指定为客户端的解析编码

[2013-02-18 10:56] agapple opened #4 "[feature request]MySQL table encoding automatic identification"
schema编码识别：
SELECT default_character_set_name FROM information_schema.SCHEMATA S
WHERE schema_name = "schemaname";

表编码识别：
SELECT CCSA.character_set_name FROM information_schema.`TABLES` T,
       information_schema.`COLLATION_CHARACTER_SET_APPLICABILITY` CCSA
WHERE CCSA.collation_name = T.table_collation
  AND T.table_schema = "schemaname"
  AND T.table_name = "tablename";

字段编码识别：
SELECT charact

[2013-02-18 11:04] #3 closed, assigned to agapple

[2013-02-18 12:55] agapple opened #5 "抽取mysql packet协议包为独立工程，方便重用"
mysql packet介绍：模拟mysql登录，select/update语句与mysql进行通讯

[2013-02-18 12:59] agapple opened #6 "dbsync binlog解析增加testcase用例"
增加testcase用例，引导别人使用

[2013-02-18 13:53] #5 closed, assigned to agapple

[2013-02-18 14:19] #6 closed, assigned to agapple

[2013-02-19 04:17] agapple opened #7 "table meta是否主键信息判断错误"
Entry数据中isKey的数据返回错误，全部返回为true

[2013-02-19 04:19] #7 closed, assigned to agapple

[2013-02-19 04:22] agapple opened #8 "canal新增AdminGuide"
需要新增AdminGuide，指导用户如何正确配置canal的相关参数，以及运维的基本操作

[2013-02-19 04:22] agapple opened #9 "canal新增DevGuide"
新增DevGuide，指导用户如何开发canal的组件，主要是介绍canal的类结构和模型

[2013-02-19 04:31] agapple opened #10 "mysql特定的ddl操作(删除字段，rename table等)，导致解析挂起"
目前已知会导致挂起的ddl操作：
1. 字段删除
2. rename table  (导致desc table时找不到对应的meta信息，无法补全Entry信息)

会导致信息错乱的ddl操作：
1. 首先删除一个字段，然后再新加一个字段(非添加到末尾)

原因：
- mysql binlog中的tablemap LogEvent，没有包含对应的column name信息，只是按照当前table中column的顺序，列出了字段类型
- 回退到ddl操作前的binlog重新开始解析，此时数据库中desc table所获取的信息就会和table map中不一致(无法进行match操作)，会导致信息混乱

[2013-02-19 06:17] agapple opened #11 "mysql driver在获取table meta时，针对表不存在出现阻塞"
mysql driver在处理返回的数据包没有考虑异常情况

[2013-02-19 06:18] #11 closed, assigned to agapple

[2013-02-19 08:14] agapple opened #12 "1.0.0版本代码提交"
1.0.0版本代码提交

[2013-02-19 08:14] #12 closed, assigned to agapple

[2013-02-20 13:05] agapple opened #13 "mysql instance支持group模式"
支持多个mysql parse数据合并为一个store输出，进行消费。
典型的业务：数据按水平拆分为16个库后，合并为逻辑的一个canal destination进行消费，客户端不用关心后续16个库的链接情况

需要考虑：
1. 强一致 (group内所有的parse都正常工作，才运行客户端消费数据)
2. 弱一致 (group内只要有一个parse正常工作，就允许客户端消费数据)

[2013-02-23 09:04] wenzhihong2003 opened #14 "cannal.properties里的配制选项是否轻微错误?"
在deployer工程里的canal.properties里的

canal.address=

是否应该改为

canal.ip=

因为在 CanalConstants 这个类里是如下定义的:

public static final String CANAL_IP                          = ROOT + "." + "ip";

[2013-02-24 06:46] #14 closed, assigned to nobody

[2013-02-26 14:05] agapple opened #16 "column字段变更信息丢失"
在LogEventConvert中处理时column，信息不正确。
1. isUpdate所有都为true，正确的应该是：根据before和after字进行判断.
2. sqlType所有都为0，正确应该是：int类型对应于的java.sql.Types

[2013-02-26 14:11] #16 closed, assigned to agapple

[2013-02-26 14:15] agapple opened #17 "mysql varchar类型处理'\000'字符问题"
线上测试遇到一个问题：
a. 业务执行sql插入了一条记录，其中一个字段为：'210012\000\000\000'
b. otter中美同步，更新了这条记录，将字段更新为： '210012'  (去除了\000)
c. canal再一次解析时，发现before和after值相同，没有任何字段发生变更，导致otter同步sql执行失败。

原因分析：
1. dbsync在解析'210012\000\000\000'，等价于'210012'，自动忽略了'\000'请求

代码：
for (; (found < end) && buf[found] != '\0'; found++)

说明： \0为c-style风格的字符串结束符，至于业务执行怎么插入了\000，目前暂未知原因

[2013-02-26 15:01] #17 closed, assigned to in355hz

[2013-02-27 10:20] agapple opened #18 "mysql text中文字符出现乱码"
mysql table中字段类型为text时，数据库编码和表编码均为utf-8，canal配置的解析编码为utf-8，解析出来的数据记录为乱码.

原因分析：
1. mysql binlog中将text/blob类型都记录为LogEvent.MYSQL_TYPE_BLOB
2. canal识别到BLOB信息，无法区分是text还是blob，都按照iso-8859-1进行编码，导致问题的产生

解决：
1.  拿到binlog后，针对BLOB类型，需要反查下table meta信息，获取真实的字段类型，区分出text，然后按照编码进行解析.

[2013-02-27 10:22] #18 closed, assigned to agapple

[2013-03-05 07:14] agapple opened #19 "mysql metaConnection链接泄漏"
运行一段时间后，与mysql之间的数据库链接达到了几千条，且全部都是处于ESTABLISHED状态。

进行jmap dump内存对象，却无法找到SocketChannelImpl的相关实例，说明是被full gc回收了.

[2013-03-05 07:34] #19 closed, assigned to agapple

[2013-03-18 03:05] li1gang11 opened #20 "支持mysql 5.6吗？"
支持mysql 5.6吗？

[2013-03-18 07:59] #13 closed, assigned to agapple

[2013-03-18 07:59] #10 closed, assigned to agapple

[2013-03-18 08:11] agapple opened #21 "canal MemoryStore支持按内存大小定义"
canal v1.0.2版本支持的MemoryEventStoreWithBuffer，是通过定义bufferSize来控制内存使用，但遇到大文本字段时，单纯按照记录数来控制就很容易爆内存.

所以，需要支持基于内存大小管理的EventStore，同时支持按内存大小获取数据，方便client进行内存控制.

MemoryEventStoreWithBuffer.setBufferMemSize()

[2013-03-18 08:18] #21 closed, assigned to agapple

[2013-03-19 11:22] agapple opened #22 "canal server在处理客户端主动关闭连接时，是否需要关闭instance"
在canal 1.0.2版本以及以前的版本，在设计的时候，canal server针对instance管理一直都是lazy模式处理.  当canal client断开链接时，canal server会主动关闭instance，等下一次canal client链接后再重新创建.

先前的考虑：
1. canal server主动关闭instance，主要是考虑是想将canal server作成无状态，下一次canal client可以随机选择一台机器获取数据，新的canal server会重新启动instance，整个HA模型会比较简单.

改进：
1.  canal server在client退出时不主动关闭instance资源
2.  下一次canal client重新链接后，需要通过Cluster模式(通过zookeeper获取到HA模式中正在运行的canal server的机器信息)

[2013-03-19 11:24] agapple opened #23 "canal client在第一次建立连接时，如果canal server所有都配置了lazy模式，client启动失败"
client启动时需要做一个check :
1.  如果当前instance已经有running的canal server，直接选择该节点，进行链接
2.  如果没有running节点，再从instance/cluster节点中，随机选择一个节点，进行链接

[2013-03-19 11:38] #22 closed, assigned to agapple

[2013-03-19 11:38] #23 closed, assigned to agapple

[2013-03-19 12:02] #8 closed, assigned to agapple

[2013-03-21 02:15] agapple opened #24 "windows在与mysql建立链接时，出现unexpected blocking io behavior异常"
异常栈：
<code>
0:42:02.725 [main] WARN  c.a.o.c.p.d.mysql.MysqlConnector - connect failed!java.io.IOException: unexpected blocking io behavior
at com.alibaba.otter.canal.parse.driver.mysql.utils.PacketManager.write(PacketManager.java:54)
at com.alibaba.otter.canal.parse.driver.mysql.MysqlConnector.negotiate(MysqlConnector.java:159)
at com.alibaba.otter.canal.parse.driver.mysql.MysqlConnector.connect(

[2013-03-26 07:16] agapple opened #25 "windows bat脚本启动失败"
出错提示：

'conf_dir' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
'canal_conf' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
'logback_configurationFile' 不是内部或外部命令，也不是可运行的程序
或批处理文件。
Listening for transport dt_socket at address: 9099
Exception in thread "main" java.lang.NoClassDefFoundError: com/alibaba/otter/can
al/deployer/CanalLauncher
Caused by: java.lang.ClassNotFoundException: com.alibaba.otter.canal.deployer.Ca
nalLauncher

[2013-03-26 07:20] #25 closed, assigned to agapple

[2013-03-29 04:49] ghost opened #26 "集群模式下，客户端与instance断开连接，zookeeper running节点 自动被删除了"
问题：
  集群模式下，客户端与instance断开连接，zookeeper running节点
自动被删除了。并且查看canal.log,无任何异常信息输出。
请问这是目前的bug么，还是说zookeeper配置问题 ？

我所期望的：
   客户端断开链接后，running节点依然存在，下次客户端连接上来，可以继续使用之前的信息，包括cursor信息。

ps:貌似看到类似问题是1.0.3解决。现在是啥版本。。。

[2013-03-29 12:33] #26 closed, assigned to agapple

[2013-04-01 15:41] #9 closed, assigned to agapple

[2013-04-03 14:54] agapple opened #27 "canal server running节点判断是否为本机操作优化"
canal server在zookeeper的节点：

<pre class="java" name="code">
[zk: localhost:2181(CONNECTED) 15] get /otter/canal/destinations/example/running
{"active":true,"address":"10.20.144.51:11111","cid":1}
</pre>

目前一台机器，判断当前是否为工作节点，是通过cid是否和本机的id相同来判断，但目前cid这信息在启动canal server没有严格校验是否有重复，导致两台机器都认为是自己本机，对于后续的命令控制操作有风险

解决：将判断是否本机的操作，修改为基于address是否相同来判断，ip+port可以唯一定义一个jvm

[2013-04-03 15:04] #27 closed, assigned to agapple

[2013-04-03 15:35] agapple opened #28 "canal HA模式cluster集群列表数据更新问题"
每个instance下面都会有个cluster目录，代表服务这个instance的canal server的机器列表：

<pre>
[zk: localhost:2181(CONNECTED) 15] ls /otter/canal/destinations/example/cluster
[10.20.144.22:11111]
</pre>

1.0.2版本的cluster列表只会在running节点抢占成功后才会生成running节点，和原本cluseter的定位想矛盾

解决： canal server启动对应的instance时，不管有没有抢占到running节点，都应该创建cluster节点，表明自己是可以work for this instance，如果此时发生running节点删除，客户端就可以从cluster列表中找到一个节点，进行链接，lazy的方式促使它进行启动。

[2013-04-03 15:50] #28 closed, assigned to agapple

[2013-04-08 15:48] #20 closed, assigned to in355hz

[2013-04-10 05:43] agapple opened #29 "canal解析DDL操作出现异常，导致整个解析挂起"
问题描述:
1.  启动canal server/client
2.  执行ddl操作，比如create，alter , delete，create表的操作.  特定的case触发DDL表名解析错误
3.  canal在解析binlog后，发现binlog column信息和当前tablemeta cache中的数据不一致，抛出异常，进行重试.

存在的问题:  就是在第三步出现异常后，没有更新对应的cache数据，导致下一次解析时一直使用上一次错误的tablemeta，导致一直出错，一直在重试.

[2013-04-10 05:48] #29 closed, assigned to agapple

[2013-04-10 09:50] agapple opened #30 "mac下startup.sh启动脚本报错"
问题： bin_abs_path=$(readlink -f $(dirname $0))
mac下readlink -f不能正常工作

解决：
case "`uname`" in
    Linux)
                bin_abs_path=$(readlink -f $(dirname $0))
                ;;
        *)
                bin_abs_path=`cd $(dirname $0); pwd`
                ;;

[2013-04-10 09:51] #30 closed, assigned to agapple

[2013-04-10 09:55] agapple opened #31 "mysql YEAR类型binlog输出使用short替换Date"
问题： mysql YEAR类型在canal1.0.3版本中使用了java.sql.Date对象来标示，无法准确的表示一个年份信息，原本一个年份2013，输出结果会是：2013-01-01

if (cal == null)
   cal = Calendar.getInstance();
cal.clear();
cal.set(Calendar.YEAR, i32 + 1900);
value = new java.sql.Date(cal.getTimeInMillis());

解决：
1.  直接使用数字存储表示，protobuf输出结果为2013

[2013-04-10 09:56] #31 closed, assigned to agapple

[2013-04-11 13:36] agapple opened #32 "client基于zookeeper地址断开一次后，立马重新启动，偶儿会出现NPE异常"
问题描述：
1.  client基于zookeeper地址获取canal server的工作节点
2.  client第一次起来工作后，被非正常退出，比如kill.   然后立马又重新启动
3.  client会出现NullPointException异常

原因分析：
1.  client第一次启动后，会在zookeeper记录一个client running节点，非正常退出后，running节点不会立马小时
2.  当client下一次立马启动后，发现running节点存在，并不会立马创建socket，当执行后面的get数据操作时，发现socket为null，就出现了NPE问题

影响的版本 <= 1.0.3.

[2013-04-11 14:08] #32 closed, assigned to agapple

[2013-04-12 10:28] shijinkui opened #33 "新建个example module"
<name>canal driver module for otter ${project.version}</name>

modulename  太长了

[2013-04-15 08:23] #33 closed, assigned to agapple

[2013-04-15 15:10] agapple opened #34 "canal新增基于file记录位点信息，不依赖zookeeper持久化canal server状态"
计划支持非zookeeper模式，也可以有持久化的功能，关闭canal server后，下一次启动时也能继续上一次的位置进行消费数据，不会丢失数据

注意： 基于file持久化的模式，存在一个问题，就是无法实现集群failover的功能，因为file属于本机，failover切换到另一机器后无法找到file，会造成无法找到上一次解析位置.

[2013-04-16 04:00] #34 closed, assigned to agapple

[2013-04-16 14:32] agapple opened #35 "支持binlog_format为statement,mixed模式的解析输出"
binlog_format模式有statement, row ,mixed三种模式，主要的区别在于insert/update/delete记录是否采取sql方式，还是详细的记录变更.

期望：
1. canal也可以支持非row模式的数据解析，解析对应的sql.  (非row模式下，不会提供before/after columns信息)

[2013-04-16 14:56] #35 closed, assigned to agapple

[2013-04-17 03:40] agapple opened #36 "eclipse中直接启动canal server"
eclipse直接运行CanalLanuncher会启动失败，对应依赖的canal.properties和spring/xxx-instance.xml无法找到

原因：
1.  canal server启动时为了简化路径依赖，都使用了相对路径或者classpath:进行描述资源依赖，所以基于eclipse启动后，导致查找资源失败

解决：
1.  将conf/目录下的配置，加入到eclipse的classpath中

[2013-04-17 03:55] #36 closed, assigned to agapple

[2013-04-18 03:53] agapple opened #37 "DDL语句不能及时输出"
ddl语句会在Transaction Buffer中被缓存中，只有在下一次出现Transaction Begin/End的消息时，才会输出到store中，client才可见

解决：ddl语句在binlog协议中，前后不会有begin/commit事件，需要特殊处理，进入Transaction Buffer后，也立马flush到store中

影响版本 <= 1.0.3

[2013-04-18 03:53] #37 closed, assigned to agapple

[2013-04-25 05:41] #24 closed, assigned to agapple

[2013-04-28 08:11] agapple opened #38 "scan定时扫描需要忽略canal meta/paser.dat文件"
默认配置中，canal选择的是file-intance.xml机制，会将相关数据定时刷新到文件. 而文件的存储默认是和instance的配置文件在一起.

比如 conf/example/meta.dat.

所以在scan定时扫描的时候，就会发现instance下的文件有所变化，导致需要进行一次reload.

解决： scan扫描时，忽略.dat的文件变更

[2013-04-28 08:46] #38 closed, assigned to agapple

[2013-05-14 04:32] ghost opened #39 "HA模式下mysql master-standby无法自动切换"
canal 主

canal config
## detecing config

canal.instance.detecting.enable = true
canal.instance.detecting.sql = insert into retl.xdual values(1,now()) on duplicate key update x=now()
canal.instance.detecting.interval.time = 3
canal.instance.detecting.retry.threshold = 3
canal.instance.detecting.heartbeatHaEnable = true
#

example log

2013-05-14 10:23:29.509 [destination = example , address = /192

[2013-05-15 03:54] #39 closed, assigned to agapple

[2013-05-23 06:26] agapple opened #40 "[feature request]Canal supports local file persist for EventStore"
支持基于本地文件存储的EventStore实现，解决一对多的需求.

需要考虑的几个点：
1.  文件数据的清理模型： 定时清理，ack清理，满清理
2.  位点管理： binlog解析位点，文件位点
3.  位点定位： 时间戳，binlog位置，文件位点
4.  快慢队列： memory + file的混合模式支持，(定时将file数据读入到memory buffer中，提升效率)

[2013-05-23 10:32] agapple opened #41 "mysql 5.6新增两种type事件MYSQL_TYPE_TIMESTAMP2/MYSQL_TYPE_DATETIME2"

[2013-05-23 12:21] #41 closed, assigned to agapple

[2013-06-05 10:18] agapple opened #42 "canal自动重连时会出现destination:idbbond-1 should start first信息"
<pre title="code">
2013-06-05 18:08:40.960 [main] INFO c.alibaba.otter.canal.client.impl.ClusterCanalConnector - restart the connector for next round retry.
2013-06-05 18:08:40.975 [main] WARN c.alibaba.otter.canal.client.impl.ClusterCanalConnector - something goes wrong when getWithoutAck data from server:/192.168.1.134:11111
com.alibaba.otter.canal.protocol.exception.CanalClientException: someth

[2013-06-05 10:28] agapple opened #43 "canal重启后会丢失client提交的filter条件，被instance.properties配置的filter给覆盖"
canal server在重启后，没有重新读取一次客户端subscribe()提交的filter记录，导致启动时重新载入了instance.properties，client filter条件被丢弃

解决：canal instance重新启动时，优先读取一次MetaManager中记录的client filter信息

[2013-06-05 11:04] #42 closed, assigned to agapple

[2013-06-05 11:04] #43 closed, assigned to agapple

[2013-06-19 02:00] agapple opened #44 "关注表的条件变更，对应生效时间问题"
目前关注表的正则，可以通过两种方式进行设置
1.  conf下的instance.properties中，可以设置table.regex，在第一次启动的时候直接载入使用
2.  某个client进行subscribe(filter)，可以提交一个filter

如果方式2中，提交了filter，目前的策略是直接覆盖了方式1中的条件，如果canal server选择了file/zookeeper持久化了meta，即使下次server重启，对应的关注表条件也会是方式2提交的数据

生效时间问题：
方式1：修改instance.properties，需要重启instance(如果开启scan，自动会重启)，instance重启会回退一部分binlog，比如客户端未ack的数据，或者消费了一半的事务，还有就是未及时刷出内存位点数据到持久化介质.  所以，对应的生效时间会对之前的部分数据进行作用

[2013-07-24 03:28] agapple opened #47 "canal server启动时针对canal.ip配置为空时，默认监听为AddressUtils.getHostIp()的地址，导致多IP地址不可访问"
canal server启动时针对canal.ip配置为空时，默认监听为AddressUtils.getHostIp()的地址，导致多IP地址不可访问.

解决：
1.  如果配置ip地址为空时，默认socket的监听为 :${canal.port}，不指定ip绑定，接收任何该机器任何ip过来的请求.
2.  同时会通过AddressUtils.getHostIp()选择一个ip，暴露到zk中，由客户端进行访问.

[2013-07-24 03:33] #47 closed, assigned to agapple

[2013-07-24 03:41] agapple opened #48 "mysql主备切换采用虚ip切换，canal的failover机制"
采用虚ip进行mysql主备管理时，暴露的ip只有1个，目前canal识别主备切换是根据ip和对应meta信息中的ip地址发生不一致时，进行一次切换操作，基于时间戳重新定位binlog .
所以，当使用虚ip，后端发生了主备切换，前端无法感知，一直会出现对应binlog不存在的错误，一直重试，从而导致canal整个不可用

解决：在出现binlog不存在的错误时，尝试按照时间戳重新定位binlog .

什么情况下binlog会出现不存在：
1. 虚ip　mysql主备切换
2. canal解析延迟过久，对应binlog已经被删除.

针对情况2，需要避免。解决办法：当按照时间戳进行重新定位binlog时，如果当前所有binlog的时间戳都晚于查找的时间戳，那应该挂起，不能直接使用第一个binlog进行解析处理

[2013-07-24 03:51] agapple opened #49 "canal server在windows下启动失败，conf目录下修改配置一直不生效"
canal deployer在打包的时候，将conf也打入到了jar中，而在一些特定的环境下，classloader会优先加载了jar包中的conf配置文件，从而导致在打包目录下的配置一直未生效.

也就是说：conf下和canal.deployer-xxxx.jar中都有canal.properties和instance.properties

解决办法：
1.  在canal.deployer-xxx.jar打包时去除conf目录.

[2013-07-24 03:53] #49 closed, assigned to agapple

[2013-08-06 08:29] agapple opened #50 "canal中输出表名全为小写"
canal 1.0.6版本之前，解析的schema , tablename 全部转化为了小写。

解决：需要保留下binlog中记录的内容，不做大小写转化

[2013-08-06 08:30] #50 closed, assigned to agapple

[2013-08-09 07:41] agapple opened #51 "mysql地址配置出错，增加异常描述信息"
Caused by: org.springframework.beans.factory.BeanCreationException: Error creatng bean with name 'com.alibaba.otter.canal.parse.support.AuthenticationInfo#1f5ea4a' defined in class path resource [spring/file-instance.xml]: Initialization of bean failed; nested exception is java.lang.ArrayIndexOutOfBoundsException: 1
at org.springframework.beans.factory.support.AbstractAutowireCapableBeaFactory.doC

[2013-08-09 07:43] #51 closed, assigned to agapple

[2013-08-09 07:55] #44 closed, assigned to agapple

[2013-08-09 13:47] agapple opened #52 "canal client支持getWithout timeout超时控制的接口调用"
RT.

解决： CanalConnector新增方法
1.  Message getWithoutAck(int batchSize, Long timeout, TimeUnit unit)
2.  Message get(int batchSize, Long timeout, TimeUnit unit)

[2013-08-09 13:48] #52 closed, assigned to agapple

[2013-08-19 09:21] xwinie opened #53 "能不能增加 mysql 和oracle 方面的手册？"
能不能增加手册 或者详细的文档？谢谢！

[2013-08-20 05:15] nickzhuo opened #54 "缺少thred id讯息？"
当做程序事物日志来用的时候缺少前后台关联性，需要加入binlog本身已有的thredid。希望能够在下个版本里加入。

[2013-08-21 08:07] #54 closed, assigned to agapple

[2013-08-22 03:24] #48 closed, assigned to agapple

[2013-08-22 06:40] agapple opened #55 "client在server不可用时，出现cpu100%"
用户反馈：在linux上，ClusterCanalConnector这种方式里面只有一个地址的时候 如果这个宕机了 重连的速度非常快 cpu100%.

大致客户端代码：
while(true) {
    client.connect()
    client.getWithoutAck()/client.ack();
}

windows下cpu不会100%，linux环境下明显.

[2013-08-22 06:52] #55 closed, assigned to agapple

[2013-08-22 07:58] agapple opened #56 "canal server在开启heartbeat，遇到解析异常后会出现mysql链接暴涨"
canal server在开启heartbeat，遇到解析异常后会出现mysql链接暴涨.
用户在使用canal解析mysql 5.6.13版本时，解析时出现如下异常：

<pre>
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: java.lang.IllegalArgumentException: !! Unknown BLOB packlen = 0
        at com.taobao.tddl.dbsync.binlog.event.RowsLogBuffer.fetchValue(RowsLogBuffer.java:752)
        at com.taobao.tddl.dbsync.binlog.e

[2013-08-27 10:28] #56 closed, assigned to agapple

[2013-08-27 14:39] #53 closed, assigned to agapple

[2013-08-28 07:32] agapple opened #57 "特殊数据类型解析"
特殊数据：
1. year类型，默认值为0000
2. date类型，默认值为0000-00-00 00:00:00

[2013-08-28 14:47] #57 closed, assigned to agapple

[2013-08-29 13:35] ghost opened #58 "不能按特定规则指定DDL订阅"
比如订阅DML   pop.\*

对于DDL而言，_._的数据都会被订阅

[2013-08-30 05:52] #58 closed, assigned to agapple

[2013-09-01 23:17] ghost opened #59 "canal server 高可用连接数问题"
client server连接了两个数据库。默认是数据库A，standby 数据库B。当数据库A挂掉的时候，canal与数据库B的连接数暴增，导致连接拒绝。

[2013-09-03 10:20] agapple opened #60 "SimpleDdlParser process query failed."
出现类似异常：

<pre>
pid:1 nid:1 exception:canal:6.21->6.20:com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: SimpleDdlParser process query failed. pls submit issue with this queryString: CREATE table `bak591`.`j_order_log_back_201309` like j_order_log
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: SimpleDdl

[2013-09-03 12:57] #60 closed, assigned to agapple

[2013-09-04 08:56] agapple opened #61 "canal支持下otter ddl同步的需求"
otter issue : https://github.com/alibaba/otter/issues/12

ddl同步的无法支持幂等性处理，需要尽可能保证ddl/dml是相互独立，尽可能是单条的ddl进行串行执行，不考虑batch.

解决：
1. canal server增加参数，canal.instance.get.ddl.isolation，代表是否孤立的返回单条ddl语句.

[2013-09-04 10:19] #61 closed, assigned to agapple

[2013-09-12 04:04] agapple opened #62 "ddl语句解析异常"
针对如下ddl语句：

<pre>
CREATE TABLE `cm_settle_incash` (
   `batch_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '批次',
   `counter_acct_code` bigint(20) DEFAULT NULL COMMENT '柜台科目号',
   `channel_sum_amount` decimal(18,2) NOT NULL COMMENT '总金额',
   `channel_sum_cost` decimal(18,2) NOT NULL DEFAULT '0.00' COMMENT '总成本',
   `bank_sum_amount` decimal(18,2) NOT NULL DEFAULT '0.00' COMMENT '总来款',
   `begin_

[2013-09-12 04:12] #62 closed, assigned to agapple

[2013-09-16 13:18] agapple opened #63 "zkClient使用0.2版本后，出现NoSuchMethodError"
![zkclient](https://f.cloud.github.com/assets/834743/1148993/adb7ffce-1ed2-11e3-85d7-135e9c1d3490.jpg)
zkClient使用0.2版本后，出现NoSuchMethodError

[2013-09-16 13:21] #63 closed, assigned to agapple

[2013-09-17 16:32] agapple opened #64 "canal client example异常处理"
1.  canal server集群，所有的节点全挂了，对应的canal client example需要处理no alive canal server的异常.
2.  ClusterCanalConnector.connect()，当重试retryTimes次后，如果还建立不了链接，增加异常反馈，而不应该只是记录日志.

[2013-09-17 16:39] #64 closed, assigned to agapple

[2013-09-24 13:50] agapple opened #65 "schema为纯数字时，desc 123.table会包语法错误，导致获取表结构异常"
<pre>
mysql> desc 123.pre_common_addon ;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '123.pre_common_addon' at line 1
</pre>

需要对schema / table name做一下转义符

[2013-09-24 14:18] #65 closed, assigned to agapple

[2013-09-25 10:53] agapple opened #66 "mysql binary类型处理"
otter issue : https://github.com/alibaba/otter/issues/22

针对同步binary类型，binlog里记录为String，导致后续在处理时按照字符串进行处理，出现错误.

[2013-09-25 13:38] #66 closed, assigned to agapple

[2013-10-08 08:39] agapple opened #67 "canal增加heartbeat事件"
支持下otter需求： https://github.com/alibaba/otter/issues/25

[2013-10-08 13:35] agapple opened #68 "canal监控配置文件变化时考虑下与meta.dat文件输出"
测试过程中，移除了一个instance配置，发现通道并未停止，而是继续运行着，检查了下conf目录，发现又重新生成了该目录，该目录下存在一个meta.dat文件.  导致自动停止失败.

解决： 忽略空的文件，每个instance必须包含instance.properties才算一个正常的，否则需要进行关闭

[2013-10-08 13:53] #68 closed, assigned to agapple

[2013-10-08 14:40] #67 closed, assigned to agapple

[2013-10-09 07:31] agapple opened #69 "mysql登录失败"
<pre>
Caused by: java.io.IOException: connect /192.168.1.206:3306 failure:java.lang.ArrayIndexOutOfBoundsException: 1
        at com.alibaba.otter.canal.parse.driver.mysql.utils.ByteHelper.readUnsignedShortLittleEndian(ByteHelper.java:56)
        at com.alibaba.otter.canal.parse.driver.mysql.packets.server.ErrorPacket.fromBytes(ErrorPacket.java:35)
        at com.alibaba.otter.canal.parse.driver.m

[2013-10-10 06:19] agapple opened #70 "mysql bit类型支持"
测试的表：

<pre>
CREATE TABLE `test_bit_all` (
  id int(10) unsigned NOT NULL AUTO_INCREMENT,
  bit1 bit(1),
  bit2 bit(9),
  bit3 bit(17),
  bit4 bit(25),
  bit5 bit(33),
  bit6 bit(41),
  bit7 bit(49),
  bit8 bit(57),
  bit9 bit(64),
  PRIMARY KEY (`id`)
  )  ENGINE=InnoDB DEFAULT CHARSET=gbk;
</pre>

构造数据：
insert into test_bit_all(id,bit1,bit2,bit3,bit4,bit5,bit6,bit7,bit8,bit9) values(null,1844674

[2013-10-10 06:20] #70 closed, assigned to agapple

[2013-10-11 06:34] #69 closed, assigned to agapple

[2013-10-17 05:19] agapple opened #71 "增加filterQueryDdl功能"
之前支持filterQueryDcl,filterQueryDml，部分用户期望只关乎对应的row数据，这里也加上filterQueryDdl控制，允许忽略ddl事件.

[2013-10-17 05:27] #71 closed, assigned to agapple

[2013-11-01 06:35] scriptguy opened #72 "mysql5.6日期字段无法同步"
版本：otter-4.2.3
os：CentOS release 6.3
mysql：5.6.10-log MySQL Community Server
字段类型：
create_time         | datetime     | YES  |     | NULL    |       |
update_time         | datetime     | YES  |     | NULL    |       |

配置了一个单向同步channel，源表里有create_time、update_time字段，启动channel同步就会出现挂起，查看日志发现报错，提示时间格式不对，相应的错误日志如下：

pid:3 nid:1 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: j

[2013-11-01 08:25] #72 closed, assigned to agapple

[2013-11-12 03:34] agapple opened #73 "EntryProtocol增加mysql type类型，用于客户自定义处理"
<pre>
/**每个字段的数据结构**/
message Column {
    /**字段下标**/
    optional int32      index           =       1;

    /**字段java中类型**/
    optional int32      sqlType         =       2;

    /**字段名称(忽略大小写)，在mysql中是没有的**/
    optional string     name            =       3;

    /**是否是主键**/
    optional bool       isKey           =       4;

    /**如果EventType=UPDATE,用于标识这个字段值是否有修改**/
    optional bool

[2013-11-12 03:39] #73 closed, assigned to agapple

[2013-11-15 07:19] agapple opened #74 "mysql create table语句解析错误"
<pre>
public static final String TABLE_PATTERN        = "^(IF\\s*NOT\\s*EXIST\\s*)?(IF\\s*EXIST\\s*)?(`?.+?`?[;\\(\\s]+?)?.*$"; // 采用非贪婪模式
</pre>

在mysql语法里正确为EXISTS

[2013-11-15 07:29] #74 closed, assigned to agapple

[2013-12-02 03:26] agapple opened #75 "heartbeat心跳检查程序出现Timer already cancelled."
<pre>
2013-11-26 15:33:28.895 [destination = inter_ttsdb1 , address = /192.168.24.130:3306 , EventParser] WARN  c.a.o.canal.parse.inbound.mysql.dbsync.DirectLogFetcher - Received EOF packet from server, apparent master disconnected.
2013-11-26 15:33:28.895 [destination = inter_ttsdb1 , address = /192.168.24.130:3306 , EventParser] INFO  c.alibaba.otter.canal.parse.driver.mysql.MysqlConnector - dis

[2013-12-02 03:31] #75 closed, assigned to agapple

[2013-12-03 02:35] agapple opened #76 "canal心跳检查出现ArrayIndexOutOfBoundsException"
<pre>
Exception in thread "destination = transfer1 , address = /192.168.237.26:3306 , MysqlHeartBeatTimeTask" java.lang.ArrayIndexOutOfBoundsException: 1
at com.alibaba.otter.canal.parse.driver.mysql.utils.ByteHelper.readBinaryCodedLengthBytes(ByteHelper.java:83)
at com.alibaba.otter.canal.parse.driver.mysql.packets.server.OKPacket.fromBytes(OKPacket.java:44)
at com.alibaba.otter.canal.parse.drive

[2013-12-03 02:38] #76 closed, assigned to agapple

[2013-12-06 03:47] #59 closed, assigned to agapple

[2013-12-13 13:52] ljy010 opened #77 "canal server宕掉后，canal client有可能切不到备用server上"
canal server 通过ZK做集群，当一个server宕掉后，如果ZK上临时节点没有消失，则canal client有可能会一直阻塞。

Caused by: java.net.ConnectException: Connection refused: connect
    at sun.nio.ch.Net.connect(Native Method) ~[na:1.6.0_45]
    at sun.nio.ch.SocketChannelImpl.connect(SocketChannelImpl.java:532) ~[na:1.6.0_45]
    at com.alibaba.otter.canal.client.impl.SimpleCanalConnector.doConnect(SimpleCanalConnector.java:117) [canal.cli

[2013-12-13 15:26] #77 closed, assigned to agapple

[2013-12-17 03:24] agapple opened #78 "default-instance.xml模式下，客户端订阅的filter条件在canal server切换后会丢失filter"
ZooKeeperMetaManager的listAllSubscribeInfo方法中只读取了clientId信息，并没有读取对应的filter，导致canal client提交的信息在canal server下一次启动时并没有载入，导致切换后客户端提交的filter并未生效.
ps . MemoryMetaManager/FileMetaManager模式下正常.

<pre>
  String path = ZookeeperPathUtils.getDestinationPath(destination);
        List<String> childs = null;
        try {
            childs = zkClientx.getChildren(path);
        } catch (ZkNoNodeException e) {

[2013-12-17 03:26] #78 closed, assigned to agapple

[2013-12-17 03:33] agapple opened #79 "多表ddl的sql tableName解析失败"
<pre>
DROP /*!40005 TEMPORARY */ TABLE IF EXISTS `temp_bond_keys`,`temp_bond_key_id`

RENAME TABLE A TO B , C TO D .
</pre>

目前已知的这两种ddl会存在多表操作，目前暂不支持多表解析.
后续完美解决：使用类似druid/cobar的mysql sql语法解析，提取对应的表.

ddl不能正常解析出表名，存在的影响：
1.  ddl不能正常同步.
2.  ddl语句不会发送给canal client，因为不满足对应的过滤条件，但不会阻塞整个解析

[2013-12-24 13:58] agapple opened #80 "优化下should start first异常"
比如出现如下异常：

<pre>
 failed to subscribe with reason: something goes wrong with channel:[id: 0x01039fc0, /192.168.22.153:15686 => /192.168.22.19:11111], exception=com.alibaba.otter.canal.server.exception.CanalServerException: destination:example should start first
</pre>

大致原因：canal server发生一次切换，比如在上一个节点刚好在执行getWithoutAck()，切到下一个节点后，如果继续执行getWithoutAck()，因为未进行subscribe()调用，会出现server未初始化，调用getWithoutA

[2013-12-24 14:15] #80 closed, assigned to agapple

[2013-12-27 02:21] sisyphsu opened #81 "Canal服务器重启后，SlaveID被强制更新为-1"
运行环境：
    Zookeeper集群
    单Canal服务器（测试）
    单Canal客户端（测试）
    2个MySQL实例（不断有新binlog）

问题：
    某次Canal关闭时stop操作无响应，无奈之下采用kill -9 pid强制关闭canal进程。

[code]

以下是canal其中一个mysql实例的启动日志（已开启debug级别），希望大家能帮我解决这个问题：

2013-12-27 09:51:57.745 [canal-instance-scan-0] DEBUG o.s.beans.factory.xml.PluggableSchemaResolver - Found XML schema [http://www.springframework.org/schema/beans/spring-beans-2.0.xsd] in classp

[2013-12-27 06:51] sisyphsu opened #82 "Canal会导致ZooKeeper的磁盘IO负载过高。"
在测试中我们发现Canal会导致ZooKeeper的IO负载极高，iotop下可以看到ZooKeeper持续以400KB/s的速度向磁盘写入事务数据，因此磁盘IO负载居高不下。我们目前并没有提供独立的服务器来运行ZooKeeper，因此我们希望能够通过降低ZooKeeper的write/update压力，从而减少它的磁盘IO占用率。

按我的理解，Canal应该是每次客户端ACK时都会将最新的binlog偏移量更新入ZooKeeper，这就导致ZooKeeper的事务很多，磁盘IO占用率很大。

我修改了canal.properties中的canal.zookeeper.flush.period配置为5000, 希望Canal能每5秒钟更新一次ZooKeeper。但是配置之后，发现它根本不起作用，ZooKeeper的写压力仍然巨大。

之后我监视ZooKeeper的日志发现，绝大部分的写操

[2013-12-27 08:04] #82 closed, assigned to agapple

[2013-12-27 08:05] #81 closed, assigned to agapple

[2014-01-08 14:54] agapple opened #83 "增加重置位点的工具"
收到反馈来看，重置位点有普遍的需求，并且手工重置的方式误操作或者操作不成功比较多，考虑集成到系统中作为工具提供

[2014-01-20 09:10] agapple opened #84 "支持mariadb5.5.34/10.0.7版本的binlog解析"
支持下maraidb 5/10版本的binlog解析

变化内容： https://github.com/alibaba/canal/wiki/BinlogChange%28MariaDB5%2610%29

[2014-01-20 09:28] #84 closed, assigned to agapple

[2014-01-21 05:23] zetawang opened #85 "无法设置max_packet_size，可能导致无法同步binlog"
max_packet_size默认是16m，如果mysql packet大于16m，则canal无法同步binlog。

[2014-02-18 13:09] agapple opened #86 "canal中针对group情况不支持非HeartBeat的HA方式"
支持下otter issue : https://github.com/alibaba/otter/issues/45

[2014-02-18 13:10] agapple opened #87 "group模式开启了HeartBeat线程，出现数据阻塞"
otter issue : https://github.com/alibaba/otter/issues/46

[2014-02-18 13:13] #86 closed, assigned to agapple

[2014-02-18 13:13] #87 closed, assigned to agapple

[2014-03-04 01:11] dream5son opened #88 "canal deployer 1.0.14版本，在client端接受到的entry都是TRANSACTION_BEGIN和TRANSACTION_END"
具体现象是这样的，在canal的server端启动的一小段时间内接受到的数据是正常的，但是在过大约10分钟之后，客户端接受到的entry的entryType就全部为TRANSACTION_BEGIN和TRANSACTION_END了。

曾经怀疑是我写的客户端有问题，但是把客户端换成示例客户端还是一样的效果。

已经尝试将server端的日志级别设置为debug，但是没有得到什么有价值的调试信息。

麻烦提供一下解决此问题的思路，或者我的server端配置有问题，可能是哪儿的问题，谢谢！！！

[2014-04-04 09:53] MZLCC opened #89 "客户端不停重连服务端，服务端启动后，客户端连接线程卡死。"
当只有一个canal server的时候，客户端不停的重连服务端，当服务端启动后，客户端连接线程会卡死。
问题出现在SimpleCanalConnector的initClientRunningMonitor的方法。
   runningMonitor.setListener(new ClientRunningListener() {

[code]

当doConnect出现异常退出后，mutex.set(true)未被执行，抛出的异常会被外层调用函数catch住，这样导致其他函数会卡死在mutex这个锁上。

[2014-04-15 02:38] caojia opened #90 "Master挂掉后的恢复"
Hi jianghang，

你好！请问如果在Canal的架构中，如果Mysql的Master挂掉后，新的Slave被Promote成新的Master，Canal能够找到binlog在原Master的位置所对应的新的Master的位置么？是否能保证Canal中的Change Event是Exactly Once的？

谢谢！

[2014-04-16 03:46] #90 closed, assigned to nobody

[2014-04-17 07:27] caojia opened #91 "SimpleCanalConnector在竞争的时候会抛should connect first的Exception"
_Repro_:
1. 使用default-instance模式（有Zookeeper支持）的Canal Server；
2. Setup第一个ClusterCanalClient，调用connect的时候，成功连接；
3. Setup第二个ClusterCanalClient，调用connect的时候，会抛Exception: com.alibaba.otter.canal.protocol.exception.CanalClientException: should connect first
        at com.alibaba.otter.canal.client.impl.SimpleCanalConnector.waitClientRunning(SimpleCanalConnector.java:418)
        at com.alibaba.otter.ca

[2014-04-21 02:40] #91 closed, assigned to nobody

[2014-04-28 12:48] #88 closed, assigned to nobody

[2014-05-29 16:09] #85 closed, assigned to agapple

[2014-05-29 16:09] #89 closed, assigned to nobody

[2014-06-18 14:43] agapple opened #92 "如果出现解析异常，允许跳过"
针对出现列不一致，表不存在等情况，跳过解析异常，并记录对应的数据日志，供人肉处理，默认为false，配合otter使用

[2014-06-18 15:22] #92 closed, assigned to agapple

[2014-06-20 05:38] agapple opened #93 "支持表黑名单定义"
<=1.0.17版本，订阅表目前只支持正向匹配，而目前正则表达式对于需要单独排除某张表时不是很方便，希望可以有白名单+黑名单的定义.

策略：
1.  如果只有白名单，那就是只进行正向匹配
2.  如果只有黑名单，那就是只排除黑名单匹配
3.  如果黑+白名单，先做白名单匹配，再做黑名单排除

[2014-06-20 07:43] #93 closed, assigned to agapple

[2014-06-26 04:18] yabigfish opened #94 "canal/example/src/main/bin/startup.sh"
ALIBABA_JAVA="/usr/alibaba/java/bin/java"
TAOBAO_JAVA="/opt/taobao/java/bin/java"
...
  elif [ -f $ALIBABA_JAVA ] ; then
    JAVA=$TAOBAO_JAVA
...
  elif [ -f $TAOBAO_JAVA ] ; then
    JAVA=$TAOBAO_JAVA
...

[2014-06-26 07:30] agapple opened #95 "canal解析将mysql set类型转为unsigned long类型"
mysql中set的数据表示是通过bit来描述.
举个例子：比如set('a','b,'c,','d')，插入一条'a','c'的记录，mysql用bit表示就是1010，转化为10进制就是5，注意是litten-endian.

[2014-06-26 07:32] #95 closed, assigned to agapple

[2014-06-26 07:34] #94 closed, assigned to agapple

[2014-06-26 07:37] agapple opened #96 "表黑名单默认关闭"
目前表黑名单定义针对spring模式，虽然配置了一个空值，针对AviaterRegexFilter空值意味着全匹配，所以所有的数据全部被当作黑名单过滤了

AviaterRegexFilter曾加个属性，特殊处理空值

[2014-06-26 07:44] #96 closed, assigned to agapple

[2014-09-05 15:06] ChinaXing opened #97 "group 配置实现"
你好，我看了group-instance.xml 发现两个eventParser配置了同一个destination，而且下面的master 和standby 只有一个数据库，请问是如何实现N：1 的？

多谢！

[2014-09-23 04:59] ChinaXing opened #99 "重启canal后某些情况下parseEvent失败无法继续"
异常如下：

2014-09-23 12:49:09.635 [destination = db2 , address = /10.15.2.116:3306 , EventParser] ERROR com.alibaba.otter.canal.common.alarm.LogAlarmHandler - destination:db2[com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row d

[2014-10-08 15:58] ChinaXing opened #100 "设置filterTransactionEntry后，导致MetaManager中client得cursor 得不到更新"
在EvenSink中，https://github.com/alibaba/canal/blob/master/sink/src/main/java/com/alibaba/otter/canal/sink/entry/EntryEventSink.java#L77

此处代码会在filterTransactionEntry设置为true的时候过滤到TRANSACTION_BEGIN和END的event。

而在getWithoutAck ->  getEvents -> com/alibaba/otter/canal/store/memory/MemoryEventStoreWithBuffer.java 中，的 doGet 方法中可以看到，设置LogPositionRange 的ack属性是根据这个range中是否存在TRANSACTION_BEGIN 和END的event来进行设置的

[2014-10-08 16:38] #100 closed, assigned to nobody

[2014-10-29 10:48] heliu0328 opened #103 "parse解析自动切换失败"
原因在于haController里边的eventParser没有赋值。

[2014-10-29 11:35] #103 closed, assigned to nobody

[2014-11-12 04:53] #99 closed, assigned to nobody

[2014-11-12 04:53] #97 closed, assigned to nobody

[2014-12-17 14:06] agapple opened #105 "mysql5.6开启checksum后,基于时间查找位点会找到错误的位置"
问题描述：在mysql5.6之后版本中，因为引入了checksum机制，会在正常event的末尾加上4字节的checksum，而在做基于时间查找的seek方法中，decoder解析未识别FORMAT格式的event事件，导致没有判断出开启了checksum，所以导致正常的事务头的BEGIN，多了个4个字节，而判断是否为事务头采用了严格的字符串匹配，就因为多了4个字节，导致event类型出错。

影响范围：基于mysql5.6 + 开启了checksum + 涉及时间查找(比如主备切换和基于时间戳启动)

修改:
1.  增加format类型解析

[code]
1. 基于时间查找，增加事务begin/end的多重判断.

[2014-12-17 14:12] #105 closed, assigned to agapple

[2014-12-26 07:49] footstone opened #106 "CanalController.java异常处理不规范"
**问题描述**

工程引入xerces.jar、xercesImpl.jar时，读取配置文件会出问题，不能正常运行。但是因为CanalController.java（Line:286 ）缺少对异常情况的处理，异常被吞，导致不能输出异常信息，增加排查问题的难度。

**异常信息**

[code]

**建议**

增加try catch，并记录异常日志。

[code]

[2014-12-26 12:25] #106 closed, assigned to nobody

[2015-01-04 12:13] colorant commented on #40
在store这里持久化的话，似乎很难处理不同client使用不同filter的需求吧，这样的话，就得在client端自己过滤，貌似效率比较低？

[2015-01-05 04:41] agapple commented on #40
可以考虑提前数据过滤和数据客户端过滤，两种组合

[2015-01-07 10:07] rusongit opened #107 "canal 解析mysql异常"
2015-01-07 17:37:51.436 [destination = example , address = /192.168.0.20:3306 , EventParser] ERROR c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - dump address /192.168.0.20:3306 has an error, retrying. caused by
com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
com.alibaba.otter.canal.parse.excep

[2015-01-09 03:56] NewsGitHub opened #108 "新版本编译代码提示内存溢出"
parse events has an errorjava.lang.OutOfMemoryError: Java heap space
	at java.nio.HeapByteBuffer.<init>(HeapByteBuffer.java:57) ~[na:1.7.0_67]
	at java.nio.ByteBuffer.allocate(ByteBuffer.java:331) ~[na:1.7.0_67]
	at com.alibaba.otter.canal.client.impl.SimpleCanalConnector.readNextPacket(SimpleCanalConnector.java:364) ~[classes/:na]
	at com.alibaba.otter.canal.client.impl.SimpleCanalConnector.doCon

[2015-01-13 10:40] agapple commented on #108
运行的是mvn？尝试调整下mvn的jvm参数

[2015-01-13 10:40] agapple commented on #107
请提供一下mysql版本信息和canal版本信息

[2015-01-14 02:23] rusongit commented on #107
mysql5.6.21,canal1.0.20一，在slave库上测试报：2015-01-14 10:19:05.121 [main] WARN  org.springframework.beans.TypeConverterDelegate - PropertyEditor [com.sun.beans.editors.EnumEditor] found through deprecated global PropertyEditorManager fallback - consider using a more isolated form of registration, e.g. on the BeanWrapper/BeanFactory!2015-01-14 10:19:05.231 [main] INFO  c.a.otter.canal.instance.spring.Can

[2015-01-14 07:17] agapple commented on #107
mysql-bin.000092,position=59469,timestamp=1421036672000，方便提供一下对应的binlog文件给我不？本地测试了对应的mysql 5.6.22版本的decimal类型，解析是正常的

[2015-01-14 07:49] rusongit commented on #107
这是我们线上库，不方便提供binlog，我们库是slave库，是不是这个引起的？李迅（ruson） 上海-hadoop工程师，ELEME IncEmail：xun.li@ele.me | Mobile:18201873319http://ele.me 饿了么                             原始邮件                             发件人: agapple<notifications@github.com>收件人: alibaba/canal<canal@noreply.github.com>抄送: rusongit<xun.li@ele.me>发送时间: 2015年1月14日(周三) 15:17主题: Re: [canal] canal 解析mysql异常 (#107)mysql-bin.000092,position=59469,time

[2015-01-15 03:22] NewsGitHub opened #109 "Could not find first log file name in binary log index file"
2015-01-15 10:40:01.756 [destination = example , address = /127.0.0.1:3306 , EventParser] ERROR com.alibaba.otter.canal.common.alarm.LogAlarmHandler - destination:example[java.io.IOException: Received error packet: errno = 1236, sqlstate = HY000 errmsg = Could not find first log file name in binary log index file
        at com.alibaba.otter.canal.parse.inbound.mysql.dbsync.DirectLogFetcher.fetch(

[2015-01-19 02:46] agapple commented on #109
这个应该和你的mysql又关吧，指定一个canal起始位点，如果有问题，可以通过命令验证下mysql binlog
show binlog events in 'mysql-bin.000001' from xxx limit 10;

[2015-01-19 02:47] agapple commented on #107
不确定，我试过5.6.22版本是正常的。可以试着在你们测试库中重现一下问题，到时候发我binlog即可

[2015-01-19 02:47] #108 closed

[2015-02-13 01:36] #109 closed

[2015-03-04 02:28] wenerme commented on #40
提这样一个想法看行不行,主要是为了支持 Client 与 Canal 在同一服务器上的性能.
加入将 Event 存入Chronicle-Map, 这样支持在 Canal 写的时候, client 同时也能读,没有网络传输,直接的文件并发读取,以 key 作为 binlog 位置,如果能存为有序 map, 那么 client 自己也能找到下一个读取 key, 这样能使 canal 与 client 相独立出来,主要是避免了一层网络开销.但是只能在 canal 与 client 同 pc 的时候才能做到最高效.这个只是部署上的调整,觉得也是能够接受.

[2015-03-04 03:44] wenerme opened #111 "是否考虑合并模块,目前模块数量太多了"
目前是15个模块吧,部分模块内只有很少的内容,不便于开发和阅读,经常都是在模块之间跳来跳去.

[2015-03-06 02:15] agapple commented on #40
canal本身就支持嵌入式模式，允许应用直接内嵌canal server,减少网络传输. CanalServerWithEmbeded

[2015-03-06 02:18] agapple commented on #111
暂时不考虑合并，倒是可以考虑打包时出一个类似spring-all的包

[2015-03-20 02:12] wenerme commented on #40
嵌入模式,只能有一个消费者?

[2015-03-20 06:57] wenerme commented on #83
思路是什么样的呢?
再添加一个借口,增加一个消息类型?
或者直接运行 rollback 到 ack 后的 batchId ?
重置是以什么为单位? batchId, binlog position, timestamp ?

[2015-03-20 13:43] agapple commented on #83
应该是binlog position, timestamp，你可以先考虑下

[2015-03-30 09:59] agapple opened #112 "mysql5.6时间毫秒精度支持"
支持下mysql5.6毫秒精度的解析.

测试case：
----
CREATE TABLE `t1` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `time0` time DEFAULT NULL,
  `time1` time(1) DEFAULT NULL,
  `time2` time(2) DEFAULT NULL,
  `time3` time(3) DEFAULT NULL,
  `time4` time(4) DEFAULT NULL,
  `time5` time(5) DEFAULT NULL,
  `time6` time(6) DEFAULT NULL,
  `timestamp0` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `timestamp1` times

[2015-04-10 04:39] #112 closed

[2015-04-23 08:16] wenerme opened #114 "是否可以更新下 Guava 版本"
canal 里的是 guava r09,现在开发的都不可能用这么旧的版本,所以无法把 canal 服务嵌入到应用中直接使用,能不能给接受新的版本呢? 如果能接受,我可以改好,然后 pr

[2015-04-23 08:16] #111 closed

[2015-04-27 12:29] wenerme commented on #114
目前我的分支已经可以用更新版本的 guava 了

[code]

[2015-04-29 08:27] wenerme commented on #114
Done at 6a0733bbab7b600c0d41afa8a421e9c443ddecbc

[2015-04-29 08:27] #114 closed

[2015-04-30 03:05] agapple opened #116 "ArrayIndexOutOfBoundsException: 0"
see : https://github.com/alibaba/otter/issues/76

[2015-05-05 02:53] #116 closed

[2015-05-05 09:04] zhenglu1989 opened #117 "现在很多时候binlog-format都是mixed"
现在很多时候binlog-format都是mixed,以后会支持这类型么

[2015-05-09 01:43] agapple commented on #117
目前canal版本解析支持mixed/statement/row格式

[2015-05-22 09:14] NewsGitHub commented on #109
已经解决了 是linux文件权限问题

[2015-06-16 09:32] Bruce2jiang opened #118 "我在windows启动node 4.2.11 报下面错误"
Listening for transport dt_socket at address: 8099
閿欒: 鎵句笉鍒版垨鏃犳硶鍔犺浇涓荤被 澶勪簬鎵撳紑鐘舵€併€

[2015-06-17 04:12] agapple commented on #118
1. 先解决乱码问题，
2. Listening这日志是正常输出

[2015-06-17 04:12] #117 closed

[2015-06-29 15:52] agapple opened #119 "支持下mysql5.6的noblob/minimal的binlog解析"
mysql 5.6开始支持binlog_row_image属性,允许应用控制记录binlog里的before/after的字段内容，以前默认是记录所有字段.

文档:http://dev.mysql.com/doc/refman/5.6/en/replication-options-binary-log.html#sysvar_binlog_row_image.

支持:
1. 解析识别changeColumns,针对noblob/minimal的情况,只返回binlog里有的字段类型
2. MysqlEventParser增加supportBinlogFormats/Images的控制,允许用户定义期望支持的类型，如果db不符合这类型直接报错.  (for otter,  只支持row模式 + FULL image)

[2015-06-29 15:53] #119 closed

[2015-06-30 02:07] agapple commented on #107
初步怀疑是这类问题，先关闭.  see : https://github.com/alibaba/canal/issues/119

[2015-06-30 02:07] #107 closed

[2015-06-30 02:09] #118 closed

[2015-07-17 06:44] agapple commented on #79
先临时方案解决，后续统一修改为SQL解析器进行优化

[2015-07-17 06:44] #79 closed

[2015-07-21 09:26] suxingfate opened #123 "Update event被识别为INSERT EVENT当表格存储为ndbcluster同时设置有pk的情况下"
创建这样的表格，这里要同时有PK和ndbcluster engine的指定。只指定其一，不会触发这种情况。
create table test3col(id int(3), name varchar(10), last varchar(10), primary key(id))engine=ndbcluster;

mysql> insert into test3col values(1,'a','b');
mysql> update test3col set last='c' where id=1;

SimpleCilent打印出来的log，可以发现update命令被认为是insert类型，同时只显示了主键和更新列
================> binlog[log-bin.000001:3946366] , name[cudb_user_data,test3col] , eve

[2015-07-23 09:09] smilingleo opened #125 "canal 1.0.20与otter.canal-client 1.0.20使用的protobuf版本不同"
一个是2.4.1一个是2.5，导致用canal-client连接 canal时报错：
[code]

[2015-07-25 15:28] dawnbreaks opened #126 "Canal有计划支持基于GTID去做数据同步么"
如果MySQL使用VIP是去HA，当MYSQL发生主从切换的时候，canal会可能会报错，因为和备机上的binlog和position对不上。如果是基于GTID去拉binlog，应该就能解决这个问题。

[2015-07-28 05:49] agapple commented on #123
1. 只显示主键和变更列，估计和你mysql版本有关，mysql5.6之后支持minial image模式，只会记录变更列和主键
2. 至于update被认为insert，个人初步判断和ndbcluster有关，以前没测试过

[2015-07-28 05:50] agapple commented on #123
建议你直接看一下show binlog events看一下对应update sql的binlog对象

[2015-07-28 05:53] agapple commented on #126
基于主备复制的mysql，GTID可以解决切换后位点查找的问题，技术上可以实现，具体时间不可保证

[2015-07-28 05:55] agapple commented on #125
目前canal和otter使用的protobuf版本均为2.4.1.  目前看来是2.4.1生成的class，2.5无法支持，需要测试使用2.5之后，部分老版本用户使用2.4.1版本是否可以正常使用

[2015-07-28 05:57] dawnbreaks commented on #126
嗯，明白。感谢@agapple 同学。代码提交的时候关下这个issue，好让我知道去试用下。

[2015-07-28 07:06] smilingleo commented on #125
问题是在maven repository里面，canal.protocol的dependency中protobuf没有指定版本：
http://search.maven.org/#artifactdetails%7Ccom.alibaba.otter%7Ccanal.protocol%7C1.0.20%7Cjar
[code]
默认会用2.5.0

[2015-07-29 07:41] agapple commented on #125
https://repo1.maven.org/maven2/com/alibaba/otter/canal/1.0.20/canal-1.0.20.pom，父工程会显示声明protobuf版本为2.4.1

[2015-07-29 08:31] suxingfate commented on #123
mysql 5.6

mysql> show binlog events in 'log-bin.000001' from 3960268 limit 100;
+----------------+---------+------------+-----------+-------------+-----------------------------------------+
| Log_name       | Pos     | Event_type | Server_id | End_log_pos | Info                                    |
+----------------+---------+------------+-----------+-------------+--------------------------------

[2015-08-04 03:15] agapple commented on #123
Write_rows/Update_rows/Delete_rows，binlog针对不同的类型会有严格区分，你这里就是记录为insert类型，估计和你选择的ndb存储有关

[2015-09-08 13:14] snowwolf007cn opened #129 "无法读取Binlog"
环境：
Fedora 21
docker 1.8.1
docker mysql 5.5.45

mysql配置：
[code]

canal配置：
[code]

启动参数：
[code]

日志：
[code]

使用mysqlbinlog可以解析
[code]

[2015-09-08 13:15] snowwolf007cn commented on #129
在非docker的MariaDB 10，docker的5.6上都是如此，请问是什么问题呢？

[2015-09-14 03:20] agapple commented on #129
prepare to find start position by switch ::1441612069000
基于时间戳定位位点，找不到比这时间小的binlog.
建议. 删除历史位点，重新订阅

[2015-10-20 04:08] yancai opened #130 "mysql 5.6版本 datetime值为null时 sqltype解析异常"
问题描述：
mysql 版本为5.6.12，
在插入数据时，DATETIME类型的字段（如update_time字段）设置为NULL时，在从canal客户端获取到的数据中，对应字段的sqlType为1111（OTHER）

而在mysql 5.5.*版本中做同样的测试，DATETIME为null时，canal客户端获取到的对应sqlType为93（TIMESTAMP）

这个是BUG么？

[2015-10-28 10:49] agapple commented on #130
我先验证下

[2015-10-29 04:38] fly0wing opened #131 "parse row data failed"
mysql版本：5.6.23-log，
使用otter做数据同步的时候，会报如下错误:
pid:2 nid:2 exception:canal:canal_mysql:com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: java.lang.IllegalArgumentException: bad format, x exceed: 2147483

[2015-10-29 10:41] fly0wing commented on #131
看了相关文档，怀疑是mysql semisync plugin导致的。semisync 会修改mysql event头信息。。。

[2015-11-13 05:59] #123 closed

[2015-11-13 05:59] #129 closed

[2015-11-13 06:02] agapple commented on #131
麻烦报告一下canal版本和otter版本

[2015-11-13 06:17] agapple commented on #130
确认是一个bug，mysql5.6增加了新的LogEvent类型，增加swtich判断后即可修复

[2015-11-13 06:17] #130 closed

[2015-11-18 02:12] fly0wing commented on #131
canal: 1.0.20
otter: 4.2.12
mysql环境是一个主从集群，开启半同步插件。
连从库会报这个错误；
连主库没有问题。

[2015-11-18 10:02] agapple commented on #131
测试了本地的mysql 5.6版本，针对decimal类型暂时没发现有类似错误，如果方便是否可以提供一下对应出错位点的binlog原始文件

[2015-11-30 02:11] lulu2panpan opened #132 "filterEmtryTransactionEntry的问题"
在EntryEventSink类的sinkData方法中，有对filterEmtryTransactionEntry进行判断的代码段，如下所示：
            if (filterEmtryTransactionEntry && !CollectionUtils.isEmpty(events)) {
                long currentTimestamp = events.get(0).getEntry().getHeader().getExecuteTime();
                // 基于一定的策略控制，放过空的事务头和尾，便于及时更新数据库位点，表明工作正常
                if (Math.abs(currentTimestamp - lastEmptyTransactionTimestamp) > emptyTrans

[2015-11-30 03:40] agapple commented on #132
事务头和尾主要是用来区分事务边界，本身数据没啥意义.  1025的transaction end事件的确可能被忽略了。 在canal+otter产品配合实施中，otter对于过滤后的空事务事件不是强需求，反而占用了过多的canal eventStore的ringBuffer空间，导致整体业务的处理速度变慢，所以当时设计默认值为true，待考虑和优化

[2015-11-30 05:51] lulu2panpan commented on #132
感谢您的回复。
的确，出现事务被截断的情况是个小概率事件，并且像1025例子这样被截断后恰好出现了一个空事务事件更是一个极端事件。
您说的“反而占用了过多的canal eventStor的ringBuffer空间”指的应该是mysql的binlog-format不等于row的情况吧。当binlog-format等于row的时候，每次EventTransactionBuffer都是攒够一个事务才flush一次，除非事务太大被截断，否则不会出现【空事务事件】的情况。而当binlog-format比如等于mixed时，下面的代码段会进入if语句，基本上每条语句都会flush一次，导致很多【空事务事件】。
case ROWDATA:
                put(entry);
                // 针对非DML的数据，直接输出，不进行buffer控制

[2015-11-30 06:04] lulu2panpan commented on #132
您说的 “ 在canal+otter产品配置实施中，otter对于过滤后的空事务事件不是强需求 ”，这个该怎么理解呢？还是1025那个例子，如果1025对应的TRANSACTIONEND事件被过滤，otter怎么来界定事务边界呢？

[2015-11-30 06:12] lulu2panpan opened #133 "关于事务被截断的疑问"
下面是我的实验步骤，发现除了canal.instance.transaction.size参数可能导致事务被截断外，客户端batchsize的设置也会导致事务被截断，请问下，canla在设计的时候对事务完整性是一个什么样的考虑呢？只要保证能把数据同步给客户端，能记下ack，保证最终一致？
下面是我的实验。

1. 创建一个测试用存储过程，过程代码如下：
        DELIMITER //
        CREATE PROCEDURE loop_insert(IN count int)
        begin
            declare lp int;
            declare idvalue int;
            set lp=0;
            select max(id)+1 into idvalue from test;

[2015-11-30 06:49] lulu2panpan opened #134 "关于max memory size的问题"
Hi jianghang：
在类MemoryEventStoreWithBuffer的checkFreeSlotAt方法中，
if (batchMode.isMemSize()) {
                final long memsize = putMemSize.get() - ackMemSize.get();
                if (memsize < bufferSize * bufferMemUnit) {
                    return true;
                } else {
                    return false;
                }
            } else {
                return true;
            }

[2015-11-30 07:32] agapple commented on #132
otter非事务敏感性，其主要利用事务头和尾来更新位点而已，不是以事务单元进行整体提交，具体可以看下数据导入的wiki

[2015-11-30 07:46] lulu2panpan commented on #132
恩 “非事务敏感性、主要利用事务头和尾来更新位点”  这个明白了。
上述关于binlog-format的表述是否正确？如果事务不被截断，并且binlog-foramt为row，那出现【空事务事件】的场景应该就没有了吧？

[2015-11-30 08:02] lulu2panpan commented on #132
关于【空事务事件】，我找到另外的场景了，当配置filter的时候，如果某个表被过滤，那这张表的rowdata event会被过滤掉，但是TRANSACTIONBEGIN和TRANSACTIONEDN并没有被过滤掉，所以还是需要通过filterEmtryTransactionEntry 进行控制。您说的“反而占用了过多的canal eventStor的ringBuffer空间”应该主要指这种情况吧？

[2015-11-30 08:21] agapple commented on #134
putMemSize.get() - ackMemSize.get()， 这个得出来的结果就是当前在内存中未被get的数据，也就是使用中的内存块，因为Ringbuffer的特性是lazy set模式，在几个位点之间会有部分内存数据未被及时清理，不过一般在数据高速get/put过程中，总的内存量是可控的，并不是非常精确

[2015-11-30 09:05] lulu2panpan commented on #134
恩 明白 tks

[2015-11-30 09:58] agapple commented on #133
说下我当时考虑的思路：
1. canal.instance.transaction.size，这个参数主要控制parser解析后，提交到event store时，如果要保证事务可见的一致性，设置的最大保证一致性的事务大小为1024. (举个例子：如果没有这一致性保护，你get频繁调用可能会拿到一次事务头，事务体数据，事务尾数据)，事务的一致性写入是事务块读取的一个基础
2. 目前get数据获取时，暂时没有考虑事务完整读取的机制，主要还是考虑业务需求，对于事务完整性不敏感.  要保证完整读取其实也不难.

你可以描述一下，你们对完整事务的需求，主要基于什么样的业务考虑

[2015-11-30 09:59] agapple commented on #132
是的，理解正确. RingBuffer是固定数组大小的设计，所以空的事务头和尾会影响整体的吞吐量

[2015-12-01 00:37] lulu2panpan commented on #133
明白你的意思。
但是最后那个binlog-format的问题，不知道您试了没有。如果format是mixed类型，那么canal.instance.transaction.size应该就失效了，因为isDml返回的是false，每收到一个rowdata类型的entry就flush一次了。
            case ROWDATA:
                put(entry);
                // 针对非DML的数据，直接输出，不进行buffer控制
                EventType eventType = entry.getHeader().getEventType();
                if (eventType != null && !isDml(eventType)) {
                    f

[2015-12-01 10:04] zhenghub opened #135 "值由Null变为空字符串时，isUpdated属性为false"
mysql版本是5.5
将一个varchar类型的列的值由NULL，改为''时，从canal获取的entry的column里，isupdated属性为false。看了下LogEventConverter，感觉是isUpdated方法有个bug。newValue为""，旧值为NULL时，旧的column.getValue()为""。

[2015-12-02 04:14] agapple commented on #135
column.isNull()方法可以判断是否为null值

[2015-12-02 05:42] zhenghub commented on #135
这是在otter中发现的，otter使用了canal的column.isUpdated方法来判断是否发生了变更，然后就有些列同步错误了。

[2015-12-02 06:37] agapple commented on #135
多谢反馈，问题代码已经修复，下个版本可发布

[2015-12-02 06:59] zhenghub commented on #135
不客气。期待canal与otter更加完善

[2015-12-03 12:12] Librazk opened #136 "Table无主键时，insert数据会导致columnInfo和tableMeta的size不匹配，从而instance监控hang掉"
问题描述如题，以下为error log

2015-12-03 16:27:55.718 [destination =  , address =  , EventParser] ERROR com.alibaba.otter.canal.common.alarm.LogAlarmHandler - destination:crm[com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data fa

[2015-12-04 01:26] agapple commented on #136
column size is not match for table:s1.t1,6 vs 5.  应该是做了字段删除操作

[2015-12-04 02:16] Librazk commented on #136
未做过字段删除，而且添加主键后就没有这个问题了。

个人猜测是因为mysql对无主键的表会自动创建一个隐藏主键，binlog中带有这个隐藏主键的数据，而tableMeta中则没有此字段，两边无法对应，因此程序报错。对于这种情况可否作适当处理？

[2015-12-04 06:46] agapple commented on #136
你测试的是RDS吧？RDS的确默认会对无主键表添加隐藏字段，需要super权限才可见

[2015-12-05 02:38] Librazk commented on #136
是RDS，有什么推荐的解决方案吗？目前我们需监测RDS库，这样的情况常常会使canal出问题

[2015-12-07 02:11] agapple commented on #136
使用新RDS的自主用户权限，对canal授权super权限

[2015-12-18 01:32] xianjingfeng opened #137 "java.lang.ArrayIndexOutOfBoundsException: 0 com.alibaba.otter.canal.parse.inbound.mysql.dbsync.SimpleDdlParser.parseTableName(SimpleDdlParser.java:163)"
版本1.0.19
错误如下：
![qq 20151218092517](https://cloud.githubusercontent.com/assets/11752250/11886867/b88a512a-a569-11e5-9dba-1feaa8a6637c.png)

binlog位置如下：
![qq 20151218092527](https://cloud.githubusercontent.com/assets/11752250/11886874/c864b91e-a569-11e5-8677-c808ef22c33d.png)

 使用pt-online-schema-change变更字段后出现这种情况

[2015-12-18 04:54] agapple commented on #137
https://github.com/alibaba/canal/pull/128，已经有用户修复，新版本发布后即可，或者可自行打包当前master

[2015-12-30 05:56] #137 closed

[2015-12-30 05:57] #132 closed

[2015-12-30 05:57] #133 closed

[2015-12-30 05:57] #135 closed

[2015-12-30 05:58] #134 closed

[2015-12-30 05:58] #125 closed

[2016-01-11 03:37] archerwq commented on #126
这个进展如何呢？有计划支持么

[2016-01-14 04:00] GitHub-BruceTong opened #139 "关闭canal之后mysql连接未释放"
**使用canal时，发现当mysql库没有任何binlog产生时，关闭canal后部分mysql连接未释放。**

mysql版本：5.6.24-72.2-log
canal版本：1.0.21

关闭前的堆栈信息如下：
[code]

关闭前的mysql连接信息如下：
[code]

**执行./bin/stop.sh后，发现442035连接未释放！！！**
./log/90/90.log如下：
[code]
另外，偶尔还会出现以下莫名mysql连接：
![image](https://cloud.githubusercontent.com/assets/7714843/12315487/4bcd3586-bab6-11e5-8a34-4c15758cab19.png)

[2016-01-18 06:36] agapple commented on #139
stop执行后，jvm是否已经完整退出？

[2016-01-18 06:44] GitHub-BruceTong commented on #139
jvm进程已完整退出。

[2016-01-18 09:54] agapple commented on #139
JVM退出，TCP照理应该完全退出，确认下是否是canal对应进程之前的TCP链接

[2016-01-20 10:54] wcc526 opened #140 "是否支持python客户端读取同步的binlog?"
是否支持python客户端读取同步的binlog?

[2016-01-22 03:40] agapple commented on #140
canal目前只提供了java版本，server采用了protobuf协议进行通讯，可以按照协议需求自行完成一个python client版本开发

[2016-01-30 01:41] zhufeizzz opened #141 "请教几个Canal使用的几个问题，多谢"
1、文档说多个canal实例的serverId不能重复，请问有啥影响？我试的好像没什么问题
2、instance.properties里面的正则监听一个表和多个表对canal服务端性能影响大吗，因为我们的表是动态生成的，如果影响不大在客户端动态订阅就好了
3、多个otter客户端连接同一个canal时我发现一条消息只会收到一次，请问这个特性靠谱吗？

[2016-02-02 05:00] agapple commented on #141
1. 同一个mysql主备集群serverId，出现重复的时候，mysql会随机kill一个客户端链接
2. 正则表达式会有长度限制，相比于正则计算，网络I/O会先成为瓶颈
3. 建议一个server只有一个client，server和client都使用HA的模式，可以保证只有一个client工作，并且client能收到全部数据

[2016-02-19 06:26] fangzhucode opened #142 "canal1.0.21版本中zkclient和kafka zkclient版本冲突问题"
canal和kafka一块用的时候 canal1.0.21版本中zkclient(com.github.sgroschupf )和kafka中zkclient版本(com.101tec:zkclient)冲突
artifactId不一样 不好排除包
 这种问题有什么解决方案吗 多谢啊
为什么当时不使用com.101tec这个稍微大众的zkclient版本

[2016-02-22 02:52] #142 closed

[2016-02-23 01:55] dingjun84 opened #143 "master分支代码在使用OTTER时报NullPointerException"
[code]

原因是：CanalInstanceWithManager 与 AbstractCanalInstance声明了相同名字的属性，
CanalInstanceWithManager.java 110行调用了super.start()，调用了父类没有初始化的属性导致的。
[code]

[2016-02-25 09:03] GitHub-BruceTong commented on #139
确实是canal的连接

[2016-03-01 09:50] #143 closed

[2016-03-01 09:51] #140 closed

[2016-03-01 10:16] agapple commented on #139
经过debug测试，canal已经正确关闭了socket，只不过部分情况下操作系统的tcp链接会一直处于close_wait状态，可以通过调整操作系统参数，加速回收这类状态的链接.

[2016-03-01 14:21] agapple commented on #139
mysql binlogdump为服务端主动推送数据模式，在客户端发起socket.close之后，服务端一致为发送ACK包导致一致处于CLOSE_WAIT状态.

采取的策略：针对binlog dump链接,在socket.close完成之后,再新开一个链接发起一次KILL CONNECTION   ID请求彻底关闭binlogdump链接.

[2016-03-01 14:21] #139 closed

[2016-03-04 16:04] jamesmarva opened #146 "Canal启动成功，但是查看instance发现错误"

[2016-03-04 16:18] jamesmarva commented on #146
系统 CentOS6.5
我的 /etc/my.cnf 配置：
_[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-bin=mysql-bin
binlog-format=ROW
server_id=1
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid_

instance.properties 配置：
_$ cat conf/example/instance.properties
#############

[2016-03-05 06:49] agapple commented on #146
自己用client链接下mysql

[2016-03-05 09:07] jamesmarva commented on #146
这个问题今天解决了，是这样的，因为不同的版本问题，导致创建用户的赋予权限，密码出现了不同，设置成'%'的时候，会导致 'localhost'无法登录。。。需要用命令单独去用'localhost'在运行一次。我用的是mysql5.5版本的。。

[2016-03-05 10:26] #146 closed

[2016-03-09 01:46] lulu2panpan opened #147 "关于canal高可用的问题"
目前canal的高可用只考虑了双机热备，并且是抢占式的(大部分情况下一台机器运行所有instance，另一台机器处于空闲状态)

有没有考虑过canal的集群和负载均衡？比如：
一共有20个instance，10台canal-server，每台canal-server在conf目录下都配置这20个instance，但是通过负载均衡策略，每台server实际只运行2个instance。当出现宕机时，做re-balance，其它server接管宕机server的instance。

没有这种统一的集群策略的话，目前只能以分组的方式实现某种程度的集群。比如：
canal_A1和canal_A2为一组，conf目录下配置instance1，instance2，instance3，instance4
canal_B1和canal_B2为一组，conf目录下配置instance5，instance6，

[2016-03-09 02:40] agapple commented on #147
高可用模式，是针对instance级别，非server级别. 也就是说你10台server，20个instance，每个instance都会是10台server进行互相抢占

[2016-03-09 02:46] #141 closed

[2016-03-09 02:48] agapple commented on #147
倒是可以对集群模式下的server，允许设置容量上限，比如最多同时服务多少个instance，避免一个server撑死. 比如你这情况，单server设置最多服务2个，就可以将instance服务平摊到所有server上

[2016-03-09 03:12] lulu2panpan commented on #147
单server设置最多服务2个，是基于instance的数目是静态的假设的，如果以后能做成动态的就好了，自动做balance操作。

[2016-03-09 03:20] agapple commented on #147
你假定有10台server，但是在启动第一台server时是不知道还有剩余9台，所以启动第一台server时，要么就人为设置上限不加载所有instance，要么就是认为自己应该全部加载.
一旦集群启动完成后，节点的起停也有类似的问题，别人一旦抢占不会自动做均衡.

[2016-03-09 03:29] lulu2panpan commented on #147
恩，这个如果真做的话，可以考虑通过zk做协调，metaq的消费端负载均衡就做到了动态调整。

[2016-03-14 12:01] kingzone opened #148 "canal目前支持oracle吗？"
canal目前支持oracle吗？刚看了一下代码，貌似还不支持吧？
[https://github.com/alibaba/canal/blob/master/instance/manager/src/main/java/com/alibaba/otter/canal/instance/manager/CanalInstanceWithManager.java#L295](https://github.com/alibaba/canal/blob/master/instance/manager/src/main/java/com/alibaba/otter/canal/instance/manager/CanalInstanceWithManager.java#L295)
是不是意味着otter也只支持mysql，读和写都是？

[2016-03-14 13:26] agapple commented on #148
可以看下wiki，都有明确描述，目前不支持oracle，对于oracle有需求可以参考我的另一个项目：https://github.com/alibaba/yugong

[2016-03-14 14:52] kingzone commented on #148
Yugong 支持oracle到mysql ，反过来从mysql 到oracle也支持吗

[2016-03-14 15:42] agapple commented on #148
yugong开源不支持mysql->oracle

[2016-03-15 08:37] OpenZYK opened #149 "关于BINLOG_SEND_ANNOTATE_ROWS_EVENT"
在mysql官方文档中，基于COM_BINLOG_DUMP协议的dump请求中flags只看到BINLOG_DUMP_NON_BLOCK这一种，请问BINLOG_SEND_ANNOTATE_ROWS_EVENT代表什么意思？在官方文档的哪里可以找到相关说明？

[2016-03-16 02:41] OpenZYK commented on #148
请问oracle版的canal就是yugong么？还是有另一个基于ogg实现的版本？

[2016-03-23 06:33] szlaigithub opened #151 "jdk版本"
jdk使用什么版本好

[2016-03-23 07:08] agapple commented on #151
我们之前都是用1.6.25

[2016-03-23 08:47] szlaigithub commented on #151
otter添加数据表的时候如何匹配全库所有的表

[2016-03-23 10:22] minotaursu opened #152 "canal是否和MQ消息一样只能保证最少一次，不能保证只有一次。"
在数据库主备切换，canal崩溃重启等情况，canal是否会重复发送消息？出现相同的insert语句。

[2016-03-23 10:37] agapple commented on #152
没法保证

[2016-03-23 10:39] agapple commented on #151
先把wiki和视频都看一遍

[2016-03-23 11:08] minotaursu commented on #152
除了网络因素，是否有情况一定会出现重复消息，例如kill -9 canal pid,然后重启。如果有必然出现重复的情况方便进行一些测试。

[2016-03-23 12:02] agapple commented on #152
kill -9就是一种网络不确定因素，我数据发给你了，你还没返回ack给我，我只能下次再发给你

[2016-03-23 13:58] #152 closed

[2016-03-24 01:57] lulu2panpan opened #153 "canal无法关闭的问题"
当开启了canal.auto.scan功能，并且实际执行过动态增减instance的操作后。
执行sh stop.sh，无法关闭canal服务器，一直处于卡死等待状态，只能通过kill结束进程

[2016-03-24 02:43] timqq opened #154 "canal binlog解析报错"
报错日志：
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: java.lang.IllegalArgumentException: limit excceed: 367
	at com.taobao.tddl.dbsync.binlog.LogBuffer.getFullString(LogBuffer.java:1122) ~[canal.parse.dbsync-1.0.21.jar:na]
	at com.taobao.tddl.dbsync.binlog.event.RowsLogBuffer.fetchValue(RowsLogBuffer.java:920) ~[canal.parse.dbsync-1.0.21.j

[2016-03-24 02:58] timqq commented on #154
mysql 5.6.27

[2016-03-24 06:26] agapple commented on #154
1. 是否可以重现？比如什么样的sql可以造成这样的问题？
2. 是否可以提供binlog文件

[2016-03-24 06:26] agapple commented on #153
执行stop之后，执行一下jstack获取一下线程堆栈

[2016-03-24 06:40] timqq commented on #154
[root@69_114 mysql]# mysqlbinlog --no-defaults --base64-output=decode-rows -v --start-position=214215706  /data2/logs/mysql/mysql-bin.000105  |more
/*!50530 SET @@SESSION.PSEUDO_SLAVE_MODE=1*/;
/*!40019 SET @@session.max_insert_delayed_threads=0*/;
/*!50003 SET @OLD_COMPLETION_TYPE=@@COMPLETION_TYPE,COMPLETION_TYPE=0*/;
DELIMITER /*!*/;
# at 214215706
# at 214216435
#160324 14:16:33 server id 6915

[2016-03-24 06:41] timqq commented on #154
canal 1.0.20

[2016-03-24 11:00] timqq commented on #154
my.cnf   binlog-row-image=minimal 改为full 正常了！

[2016-03-24 12:12] lvguanming opened #155 "Time Out 是版本不兼容的问题吗"
hi，

我使用了server－V1.0.22最新版、client－V1.0.21 仓库取的依赖jar出现了莫名的超时问题，我的zookeeper其他应用支持的很好`zkServer=cdh3:2181,cdh1:2181,cdh5:2181` 。

**使用zookeeper调度出现超时现象，clinet一直联不通**, 用Simple方式就没有问题，超时抛的错误如下。

`[2016-03-24 19:58:27] ERROR [ZkClient-EventThread-13-cdh3:2181,cdh1:2181,cdh5:2181] ZkEventThread - Error handling event ZkEvent[Data of /otter/canal/destinations/user/1001/running changed sent to com.alibaba.o

[2016-03-25 03:57] lvguanming commented on #155
这个错误怎么解读？ ERROR  ZkEventThread - Error handling event ZkEvent[Data of /otter/canal/destinations/user/1001/running changed sent to com.alibaba.otter.canal.client.impl.running.ClientRunningMonitor$1@5789b4d3]

zk Node [/otter/canal/destinations/user/1001/running ] 是: {"active":true,"address":"10.1.193.0","clientId":1001}

[2016-03-25 05:54] agapple commented on #155
1.  java.net.ConnectException: Operation timed out at ，是连不上server或者链接超时
2.  Error handling event 异常是因为timeout引起的，先解决1的问题

[2016-03-25 05:56] agapple commented on #154
印象中canal1.0.21才支持minimal模式，提供binlog的原始二进制文件而不是解析后的文本

[2016-03-25 08:24] lvguanming commented on #155
谢谢，因为serveryou两个IP地址 ， 如果不设置IP，默认的在client是无法连接导致的。 Server指定了IP后，Client端还是抛了类似的错误。
`
ClientRunningMonitor - canal is running in [10.1.193.0] , but not in [192.168.56.1:64327]
`

如何知道client端的IP！

[2016-03-25 10:02] totmann opened #156 "Could not find first log file name in binary log index file"
报错信息：
`2016-03-25 17:56:48.605 [destination = mysql_56688 , address = /127.0.0.1:56688 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - prepare to find start position /data/mysql_data/data/mysql-bin.000001:4:
2016-03-25 17:56:48.607 [destination = mysql_56688 , address = /127.0.0.1:56688 , EventParser] ERROR c.a.o.canal.parse.inbound.mysql.dbsync.DirectLogFetcher - I/O e

[2016-03-25 15:43] agapple commented on #155
client没有指定ip一说，这是AddressUtils.getHostIp()返回的信息和建立socket的ip不一致,先简单弄个单ip的客户端机器吧

[2016-03-25 15:44] agapple commented on #156
Could not find first log file name in binary log index file at.  估计手工清理过binlog日志，没重置mysql binlog index信息，google一大把这问题解决方案

[2016-03-28 01:36] totmann commented on #156
reset master也不行，另外，如果把不指定binlog位置，instance thread会一直卡在'show master status'

[2016-03-28 02:06] agapple commented on #156
canal会自行做重试，清理下canal记录的历史位点信息

[2016-03-28 07:01] changsong commented on #109
@NewsGitHub 请问是哪个文件的权限问题，我这边也碰到相同的问题了

[2016-03-28 10:49] timqq commented on #154
canal1.0.21 canal1.0.22-sanpshot 都不试过 不行！

[2016-03-28 13:16] agapple commented on #154
自己做下代码debug，或者提供复现的办法，或者提供原始的binlog二进制文件，不然我也帮不了

[2016-03-28 13:16] agapple commented on #154
自己做下代码debug，或者提供复现的办法，或者提供原始的binlog二进制文件，不然我也帮不了

[2016-03-30 07:01] timqq commented on #154
2016-03-30 10:55:31.825 [destination = example , address = /127.0.0.1:3306 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - ERROR ## parse this event has an error , last position : [EntryPosition[included=false,journalName=mysql-bin.000052,position=35751033,timestamp=1459305662000]]

com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caus

[2016-03-30 07:01] #154 closed

[2016-03-30 07:34] idreamshen opened #157 "枚举类型的字段值怎么以字符串形式读取"
当 mysql 字段类型为 enum 时，`column.getValue()` 返回的是 int 值，我想问下能否方便地获取和 mysql 中一样的 enum 字符串值呢？

[2016-03-30 08:28] agapple commented on #157
binlog协议里数据包就是int类型，可以拿到数据库表结构定义，将int转为对应的enum值

[2016-03-30 08:56] idreamshen commented on #157
@agapple canal 有提供获取数据库表结构定义的方法吗？我查了下 wiki 没有找到。

[2016-03-30 09:13] agapple commented on #157
有个mysql type

[2016-03-30 09:42] #157 closed

[2016-03-30 12:48] shuhuiguo opened #158 "为什么在CanalLauncher 中运行报错"
java.io.IOException: connect /127.0.0.1:3306 failure:java.nio.channels.ClosedChannelException

而打包后运行startup.sh却不会呢？很奇怪

[2016-03-31 07:37] idreamshen opened #159 "ack 能实现对某一个 Message 中的某个 Entry 提交吗"
`com.alibaba.otter.canal.client.CanalConnector.get` 方法中有 batchSize 参数。当我设置成 100 时，假如我在处理某些 `entry` 出错，然后调用 `connector.rollback(batchId)`，这就会导致此次的所有 `entry` 回滚吗？那是否会导致接下来出现重复处理相同 `entry` 的问题 ？

我想问下 canal 有提供 "ack 提交某个 Message Entry" 的方案吗？

[2016-03-31 08:50] idreamshen commented on #159
我现在的思路是在记录 "库名+表名+主键" 做唯一判断，防止 rollback 后重复处理

[2016-03-31 09:21] changsong opened #160 "取不到ROWDATA数据"
从应用日志上看取到了EntryType为 TRANSACTIONBEGIN和TRANSACTIONEND 数据
没有取得ROWDATA。请问一下这是什么原因
Canal版本 1.0.21
mysq 版本   PXC架构 5.6.20

[2016-03-31 14:44] changsong commented on #160
自己回答一下，是数据库端口配置的问题
数据库是pxc，起了两个实例3306,3307.
奇怪的是连接了错误的端口，没有任何报错

[2016-03-31 14:59] haiger commented on #160
你确定下你的mysql配置中binlog-format=ROW吗？

发自我的 iPhone

[2016-03-31 15:03] changsong commented on #160
canal.instance.binlog.format = ROW,STATEMENT,MIXED
默认的，没有改过。
原因已经查出来了，见上面的回答，主要奇怪的是canal没有任何报错.各个日志都正常

[2016-03-31 16:08] agapple commented on #159
没有单条ack的功能，get的时候设置batchSize小一点.
ps.  主要是性能考虑

[2016-03-31 16:09] agapple commented on #160
canal会默认解析所有的binlog，你这里开启了所有日志格式，当然不会报错了

[2016-03-31 16:10] agapple commented on #158
debug代码，和你自己环境有太多相关性

[2016-04-01 02:05] timqq commented on #159
那怎么处理重复呢？

[2016-04-01 05:14] agapple commented on #159
需要业务上设计为可幂等执行，软件层面没法避免不重复

[2016-04-01 05:15] agapple commented on #148
https://github.com/alibaba/yugong，yugong是基于oracle物化视图来做的

[2016-04-01 05:15] #148 closed

[2016-04-01 05:15] #156 closed

[2016-04-01 05:15] #151 closed

[2016-04-01 05:16] #155 closed

[2016-04-01 05:17] agapple commented on #149
搜索： mysql binlog protocol

[2016-04-01 05:17] #149 closed

[2016-04-01 05:18] #158 closed

[2016-04-01 07:02] zt3862266 opened #161 "parse row data failed"
按照quick start 的步骤，使用了一下，启动 startup.sh后，观察 example.log 不停地会有如下报错：
2016-04-01 15:01:37.068 [destination = example , address = /10.0.2.40:3550 , EventParser] ERROR com.alibaba.otter.canal.common.alarm.LogAlarmHandler - destination:example[com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alib

[2016-04-01 09:17] agapple commented on #161
canal版本和mysql版本报告一下

[2016-04-01 12:00] zt3862266 commented on #161
mysql 版本：
/home/rong/mysql/bin/mysql  Ver 14.14 Distrib 5.6.26, for Linux (x86_64) using  EditLine wrapper
canal 就是最新的1.0.21

[2016-04-01 15:14] agapple commented on #161
可以下载mysql binlog到本地，然后使用FileLogFetcherTest进行本地解析测试

[2016-04-03 01:03] zt3862266 commented on #161
好的，我试试看，多谢

[2016-04-04 10:41] #159 closed

[2016-04-05 15:45] agapple commented on #161
估计是这个问题：https://github.com/alibaba/canal/issues/119
使用当前master分支build一个再试试

[2016-04-05 15:45] agapple commented on #131
估计是这个问题，https://github.com/alibaba/canal/issues/119
使用master分支build一个包试试

[2016-04-06 06:17] he037 commented on #158
遇到同样问题，不知道@shuhuiguo   你是怎么解决的

[2016-04-06 08:34] shuhuiguo commented on #158
没有，应该是线程模型有问题

[2016-04-07 03:25] agapple opened #162 "支持下IDE启动CanalLauncher"
RT. 主要解决下conf目录文件的查找, 规避掉scan扫描失败触发了stop机制

[2016-04-07 03:27] #162 closed

[2016-04-07 08:35] GitHub-BruceTong opened #163 "CanalServer 是否存在性能瓶颈"
canal上部署了51个实例，client（消费所有的实例）与canal部署在同一台服务器上，并且服务器上无其他服务。
### client实现
- 初始化连接

[code]
- 获取数据

[code]
### 问题

发现部分实例执行getWithoutAck方法的耗时大于设置值（1000ms），大概在2000ms，数据量大时耗时也随之放大。

下面是client一次请求的分析：
- client发送请求（t1）
- server收到请求（t2）
- embeddedServer.getWithoutAck()完成，并向client返回数据（t3=10:40:34）
- client收到数据（t4=10:40:37）

根据日志可知，t4－t1＝5000ms，而t4－t3＝3000ms，而getWithoutAck耗时为1000ms，因此可以推断出t2－t1=5000－3000－10

[2016-04-07 08:52] GitHub-BruceTong commented on #163
服务器24核，内存64g

[2016-04-07 09:08] agapple commented on #163
优先看下canal server的jvm内存和GC状态.
a.  一次性取10MB的数据不是一种明智的做法
b. 一个server部署过多的binlog解析队列，也不明智，需要平衡jvm内存和业务'

一般我们内部使用，8个队列，4M+100ms的获取

[2016-04-07 09:37] GitHub-BruceTong commented on #163
一个canal上部署8个实例，有集群版？

[2016-04-08 02:13] sun5411 commented on #83
有没有谁实现了？

[2016-04-12 16:26] lvguanming opened #164 "监听实例正则过滤的问题"
有这样一个特殊的数据库，同样的table分布在了多个schema里（分库了）。我想监听所有以`order`开头，下划线加数字结尾的库名，如`order_1`,`order_2`,`...`,`order_11`等等，**因为自动扩容这个数字累加，
同时又存在多个无关的schema，没法一一列举**。

试着写了如下的正则过滤配置，启动server后并未生效，也没有抛错，像类似的配置怎么写？

**`canal.instance.filter.regex=order_/(\d+)/\\..*`**

不知道这样的需求正则能否满足？感谢！！

[2016-04-14 07:42] songjian0270 opened #165 "canal + zookeeper 不能正确找到点位"
zookeeper启动正常

- canal.instance.global.spring.xml = classpath:spring/default-instance.xml

canal.instance.master.address = 172.16.20.120:3306
canal.instance.master.journal.name =
canal.instance.master.position =
canal.instance.master.timestamp =

1.
2. - 2016-04-14 15:41:06.202 [Thread-4] INFO  c.a.otter.canal.instance.spring.CanalInstanceWithSpring - stop CannalInstance for 1-example
3. - 2016-04

[2016-04-15 03:32] lvguanming commented on #164
通过反复调试，这样就可以了。 `order_\\d+\\..*`

[2016-04-15 03:32] #164 closed

[2016-04-15 08:09] yangyao1623 opened #166 "启动服务成功，监控不到数据库的改变"
2016-04-15 15:45:39.563 [destination = image , address = /127.0.0.1:3306 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - prepare to find start position just show master status
2016-04-15 15:45:39.564 [destination = image , address = /127.0.0.1:3306 , EventParser] ERROR c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - dump address /127.0.0.1:3306 has an error, retr

[2016-04-16 07:48] suhuaguo commented on #147
文档中说道：更新对应instance的running节点内容，将"active"设置为false，对应的running节点收到消息后，会主动释放running节点，让出控制权但自己jvm不退出，gracefully.
经过我的测试后，我发现 还是可以进行数据同步的

[2016-04-16 07:57] suhuaguo commented on #147
所以；在 instance 是高可用的。在 server 层次是备份，但得做好监控。非常完美

[2016-04-17 10:38] OpenZYK commented on #166
执行show master status的时候权限不足吧

[2016-04-17 11:18] charmby opened #167 "canal server如何自适应数据库HA？"
当主db挂了切换到备机，这个时候canal server能自动连接备机获取binlog吗？offset怎么设置呢？

[2016-04-17 14:38] ch-lgs opened #168 "reset master后出现的binlog寻找不到的问题"
pid:2 nid:2 exception:canal:shanghai_canal:java.io.IOException: Received error packet: errno = 1236, sqlstate = HY000 errmsg = Could not find first log file name in binary log index file
at com.alibaba.otter.canal.parse.inbound.mysql.dbsync.DirectLogFetcher.fetch(DirectLogFetcher.java:95)
at com.alibaba.otter.canal.parse.inbound.mysql.MysqlConnection.dump(MysqlConnection.java:113)
at com.alibaba.o

[2016-04-17 16:06] #168 closed

[2016-04-18 02:57] yangyao1623 commented on #161
这个问题怎么解决呀？我的MySQL版本是5.6.26,

[2016-04-18 05:56] sun5411 commented on #83
重置后必须重启canal server么？

[2016-04-18 09:04] agapple commented on #166
低级问题，见1楼回复

[2016-04-18 09:05] agapple commented on #161
类似的问题修复过一次，使用当前master分支，本地打包一个版本测试一下，如有问题请再反馈

[2016-04-18 09:06] agapple commented on #83
重启instance，不一定需要server重启

[2016-04-18 09:07] agapple commented on #147
理解正确，手工将active设置为false，可以手工干预集群负载

[2016-04-19 03:24] suhuaguo commented on #165
通过 时间戳 1460100169000。找不到 对应的 binlog 日志文件

[2016-04-19 05:15] songjian0270 commented on #165
现在已经解决了，压缩包传到linux被损坏了

[2016-04-20 05:48] songjian0270 commented on #166
查看过权限都是给的777不是这个问题

[2016-04-20 05:59] #165 closed

[2016-04-20 06:00] agapple commented on #166
账号权限，不是文件权限

[2016-04-20 06:01] songjian0270 commented on #166
都给的最大权限,是zookeeper缓存节点没有清空导致的

[2016-04-20 06:03] #166 closed

[2016-04-22 02:54] songjian0270 commented on #109
@NewsGitHub  亲，给了日志-R 777的权限貌似不行的呢

[2016-04-22 03:02] songjian0270 commented on #168
@ch-lgs  请问下是如何处理的呢

[2016-04-25 07:04] cupid255 opened #169 "canal-server和client能否1对多关系"
启动一个canal-server和两个client，结果只有第一个启动的可以收到消息，是什么原因？

[2016-04-25 08:02] cupid255 opened #170 "canal怎么和RocketMQ集成？"
因为要实现多客户端订阅的效果，貌似canal本身是不支持的。
所以考虑和RocketMQ结合使用。
能否不需要canal-client，直接canal-server中消息直接推到MQ中？
是不是要定制canal-server才可以？ 定制的工作量大吗？

[2016-04-25 12:31] lulu2panpan opened #171 "客户端高可用存在bug"
问题场景

1，canal有两台服务器c1和c2，c1处于激活状态
2，客户端使用ClusterCanalConnector进行消费，也是两台服务器d1和d2，d1处于激活状态
3，c1发生宕机，此时d1会执行【ClusterCanalConnector】的restart()方法。restart中有三步：
第一步，disconnect，会释放running节点；
第二步，线程休眠5秒钟；
第三步，尝试重连，重连的时候会执行initRunning()方法。
4，在d1释放running节点后，d2会被立即触发，执行initRunning()方法，initRunning中也有两大步：
第一步，抢占running节点
第二步，执行processActiveEnter()方法，该方法肯定会报错，因为此时d2连接的canal也是c1，执行initRunning的zk线程会异常退出，此时d2的mute

[2016-04-25 14:21] agapple commented on #171
1. 确认一下canal的版本
2. 你的第4步，d2启动链接的canal是c1是因为时效性问题么？d2未能及时发现c2已经是主？

如果可以明确重现，是否有修复的代码？

[2016-04-25 14:21] agapple commented on #169
client只能一个工作，另一个是热备

[2016-04-25 14:21] agapple commented on #170
使用canal client获取到消息后写入Rocketmq

[2016-04-26 01:31] lulu2panpan commented on #171
canal版本是1.0.20
很容易重现的，出现上述现象的原因在于【ClientRunningMonitor】的【initRunning方法】没有对【processActiveEnter()】抛出的异常做处理，把Zk上的running节点占住了没有释放，导致两个客户端的mutex都为false，都没有机会执行了。

修复代码正在写，涉及到高可用的代码比较绕，还没写好，您可以看看有没有简便的修改方法。

[2016-04-26 01:46] lulu2panpan commented on #171
还有就是SimpleCanalConnector类中的doConnect方法
private InetSocketAddress doConnect() throws CanalClientException {
        try {
            channel = SocketChannel.open();
            channel.socket().setSoTimeout(soTimeout);
            channel.connect(address);

channel.connect(address);//此处的address应该即时取一次，否则D2永远没机会拿到最新的canal-server的ip

[2016-04-26 03:08] owenludong commented on #136
@Librazk  rds能用canal吗？怎么玩

[2016-04-26 03:21] lulu2panpan commented on #171
你的第4步，d2启动链接的canal是c1是因为时效性问题么？d2未能及时发现c2已经是主？

是的，没能发现，原因就在于这段代码

channel.connect(address);//此处的address应该即时取一次，否则D2永远没机会拿到最新的canal-server的ip

[2016-04-26 08:55] chenyishun opened #172 "rds配置了主从库，主从库切换时候出现异常。"
异常报错如下：
16-04-22 07:11:24.236 [destination = crm_csc_03 , address = rdst58y130m2pdn0th48.mysql.rds.aliyuncs.com/10.248.4.8:3306 , EventParser] ERROR com.alibaba.otter.canal.common.alarm.LogAlarmHandler - destination:crm_csc_03[java.io.IOException: Received error packet: errno = 1236, sqlstate = HY000 errmsg = Could not find first log file name in binary log index file
	at com.alibaba.otter.canal.p

[2016-04-26 15:29] agapple commented on #172
错误的位点，需要按照时间戳进行订阅

[2016-04-26 15:29] agapple commented on #136
rds主备切换目前没有很好的处理，会导致位点报错

[2016-04-26 15:46] owenludong commented on #136
那需要清空canal上的meta.bat文件，让canal重新自动获取最新点位？

[2016-04-26 15:58] agapple commented on #171
看了下代码，如果第4步，d2启动链接时拿到的是c1，会在initRunning执行doConnect时执行失败，原本期望是通过客户端发起restart操作来处理，而d2因为是热备，可能是在异步initRunning回调时报错，无法触发client端的restart而导致长时间挂起

[2016-04-26 16:04] agapple commented on #171
想了下一种比较简单的改法
1. initRunning针对执行异常时，主动释放running节点，通过异步回调来进行重试
2. SimpleCanalConnector的doConnect方法动态获取address地址

[2016-04-27 02:29] agapple commented on #136
目前是的，对于vip模式的RDS支持不好

[2016-04-27 02:38] owenludong commented on #136
这样会漏数据的 因为清空meta文件 去slava上拿的是最新的position吧  在发现master被切的这一段时间的数据就没了

[2016-04-27 03:33] chenyishun commented on #172
大哥，Could not find first log file name in binary log index file 不是错误的位点吧！！！这是fetch时候bingo文件丢失了。重启错误依旧，只能跳过。这bingo丢失应该是主从库切换引起的。你们有没有遇到过这种问题。

[2016-04-27 03:40] chenyishun commented on #172
问题是错误的位点没错，但是canal一直在运行。这是运行中的异常。设置时间戳可以跳过这段。但会引起数据丢失。我是想知道。这种错误应该怎么样去避免。instance.properties配置standby可以避免这种问题发生吗？或者有什么好的解决方案。

[2016-04-27 07:53] agapple commented on #136
记录上一次meta文件里的时间戳，基于时间戳重新定位

[2016-04-27 07:54] agapple commented on #172
rds的vip模式，canal无法感知主备切换的操作，用之前主库的binlog位点去备库(新的主库)去找，当然会找不到

[2016-04-27 09:32] lulu2panpan commented on #171
是的，就是这么改的。
机器上没装git客户端
改造的代码发你邮箱了，jianghang115@gmail.com
抽时间看下吧

[2016-04-29 01:56] Hinsteny opened #174 "Canal 选用group-instance 模式的话，怎么配置destination name呢？"
怎么配置逻辑上的把多个instance融合后的总得destination name吗？

[2016-04-29 03:30] #171 closed

[2016-04-29 03:30] agapple commented on #174
看一下group-instance.xml配置示例

[2016-04-29 03:30] #161 closed

[2016-04-29 03:30] #131 closed

[2016-04-29 03:31] #169 closed

[2016-04-29 03:31] #160 closed

[2016-04-29 03:31] #170 closed

[2016-04-29 04:09] Hinsteny commented on #174
项目给的example中是配置file-instance.xml做的示例，麻烦可以给下group-instance.xml配置示例的地址吗？

[2016-04-29 04:17] Hinsteny opened #175 "file-instance.xml配置模式下，设置的table过滤不起作用？"
1. 在example instance中配置
   `# table regex
   canal.instance.filter.regex = canal\\.ad.*`, debug调试发现变量确实被设置进了instance实例的eventParser.eventFilter里面了
2. 创建client进行数据请求
3. 修改数据库canal下面的advice表，client可以收到对应的message.
4. 修改数据库test下面的advice表，client同样可以收到对应的message.
   注: 两个数据库都是创建在本地的

[2016-04-29 08:23] agapple commented on #175
1. 确认设置了row模式
2. filter条件只针对row数据有效，其余的query查询不会进行过滤

[2016-04-29 08:25] agapple commented on #174
https://raw.githubusercontent.com/alibaba/canal/master/deployer/src/main/resources/spring/group-instance.xml

[2016-04-29 08:26] agapple commented on #163
一个server本身就是8个消费队列(instance)

[2016-04-29 09:41] agapple opened #176 "客户端高可用主动干预zookeeper的running会导致链接未关闭"
手工登陆zookeeper，delete当前client的running节点，会触发一次客户端的高可用，上一次运行的节点会有优先选择权.  但上一次运行的节点，没有及时关闭上一次打开的socket链接.

触发条件：非正常的running节点干预，如果zookeeper出现网络抖动引起的running节点消失，理论上client的网络应该整体都有问题，会和canal server也断开链接.

解决：发现running节点消失，先执行以下本地关闭socket链接的操作，网络抖动时引起的避免socket泄漏.

[2016-04-29 09:43] #176 closed

[2016-04-29 11:10] chelubaiq commented on #147
@agapple 要做instance自动均衡，可以在多个server中用zk选个leader，由leader将多个instance均衡分配给不同的server节点（比如可用一致性哈希），分配结果写到zk目录，所有server监听这个zk目录，得到自己要处理的instance。leader在发现server节点有变化时，就重新分配。

[2016-05-01 12:20] owenludong commented on #172
目前只能做好监控 当发现主备切换 及时在binlog被删除前 做到按时间重置

[2016-05-03 02:43] agapple commented on #147
@chelubaiq 按照我之前的规划，每个canal节点会有一个server id，会注册到后台manager系统，任务发布都是通过manager系统进行集群分配. 模型和otter有点像，大物理集群，通过配置定义的方式隔离出一堆的逻辑小集群(比如一个任务可以关联到1,2,3这几台server上).

之前偷懒的做法，就是使用了otter manager进行了任务分配，整个canal的集群管理并没有做起来，二期你仔细观察otter manager其实也预留了一些canal的多样性部署的case，比如嵌入式部署和独立式部署.
包括canal自身，也预留了文件队列store的 + 多client的模型，国内已有个别公司已经有实现，但国内开源氛围既如此，一般不太愿意贡献.

[2016-05-03 02:46] agapple commented on #172
我后续版本会考虑下，可以提供一个思路，如果同学有兴趣可以按照实现之.

1. 订阅binlog之后，获取一下binlog事件的mysql server id，作为position的一部分记录到位点中
2. 节点发生binlog位点不可用时，通过新建链接判断一下mysql server id是否有所不同，如果不同则自动按照时间戳进行订阅

查询mysql的server_id的办法:
[code]

[2016-05-03 03:19] chenyishun commented on #172
这个修改建议非常好，不过按此修改还是会出现一些问题。rds在有些时候binlog也会被清除。如rds规格升级等，我总结了一些规律当出现IOException的时候错误基本不可恢复。企业应用很多情况。希望跳过错误继续后面的操作，并且告知相关维护人员，我现在修改的方案是：
1、当出现IOException时retry指定次数。超过次数时获取当前最新的位点，重新连接。
2、错误日志输出和报警输出(建议以后可以实现邮件预警)
3、ExceptionRetryCount可在配置文件配置。不配置的话。按以前的方式处理。
相关代码我已经修改并且已经测试通过应用到了生产环境，如果版主觉得我思路正确，我可以提交相关代码。

[2016-05-03 04:45] agapple commented on #172
建议提交下代码，一起看下代码，希望canal未来能更好的支持这一类vip模式的主备集群，你和我的两个方法可以结合处理

[2016-05-07 11:19] zhufeizzz commented on #172
我现在也遇到这个问题了，我们用的亚马逊的RDS，对mysql的flush logs的权限做了限制
我尝试了清空zookeeper里面的信息并重启canal还不行，请问还有什么方式手动修复吗？

[2016-05-09 02:42] matrixtk opened #178 "关于持久化到文件或ZK的时间间隔问题"
我这边测试，发现如果将canal.zookeeper.flush.period或者canal.file.flush.period这两个时间间隔设久一点，由于Client的cursor信息还在内存中没有持久化到文件或者ZK，那么重启Canal或者HA切换至另一个节点会收到重复数据。我想问的是，直连Canal，是否客户端要自己做消息去重的逻辑？我目前想到的是根据binlog的position？

[2016-05-09 07:01] Hinsteny commented on #175
我在对项目本身的 deployer.CanalLuncher进行debug的过程中，发现一个问题，在启动canal server附属的EventParser服务时，关于table过滤的表达式还是正确的，但是在处理过滤业务的线程中会发现表达式pattern被改变了，下面是我的调试过程，麻烦请看一下

1. 初始EventParser并启动
![qq 20160509143520](https://cloud.githubusercontent.com/assets/5526657/15105668/0aa5d130-15f6-11e6-8007-b427efec5baf.png)
2. 构造Erosa连接之前
![qq 20160509143526](https://cloud.githubusercontent.com/assets/5526657/15105742/ce1a585c-15

[2016-05-09 13:16] zhufeizzz commented on #172
哎 知道了问题 RDS默认只保留10分钟的binlog，如果canal中断了10分钟以上就再也起不来了。。。
希望能提供个简单的命令或者配置文件重置为最新位点，每次手工操作好麻烦

[2016-05-09 13:45] ninyjun opened #179 "请问目前的版本支持mysql5.7吗?"
请问目前的版本支持mysql5.7吗?

[2016-05-09 14:14] chenyishun commented on #172
我修改了一些代码。当出现这种错误一定的次数。自动重置最新的位点。代码提交了。看看阿里的哥们会不会采用了。

[2016-05-10 09:43] agapple commented on #179
没做过测试，群里有人做过类似测试，可询问

[2016-05-10 09:44] agapple commented on #178
是的，会有重复，去重的思路基本正确

[2016-05-10 09:45] #174 closed

[2016-05-10 10:08] agapple commented on #172
PR代码已合并，会适当再精确识别一下异常内容，判断需要进行主备切换，尽可能保证不丢数据

[2016-05-13 05:46] BrightMi opened #180 "CanalConnectors.newClusterConnector zk failover问题"
CanalConnectors.newClusterConnector
用zk的时候报这个错误
new ClusterNodeAccessStrategy() 的时候clusterPath没有create
zkClient.getChildren这个方法报错

Exception in thread "main" org.I0Itec.zkclient.exception.ZkNoNodeException: org.apache.zookeeper.KeeperException$NoNodeException: KeeperErrorCode = NoNode for /otter/canal/destinations/192.168.2.2:3306/cluster
    at org.I0Itec.zkclient.exception.ZkException.create(ZkE

[2016-05-13 09:34] BrightMi opened #181 "Client连接问题"
SimpleCanalConnector.java
doConnect()方法调用的readNextPacket()
int bodyLen = readHeader.getInt(0);
bodyLen 的值1308622848
这个数怎么读出这么大。然后就内存溢出了

[2016-05-16 02:57] agapple commented on #180
服务端有没启动？

[2016-05-16 02:59] agapple commented on #181
这应该是异常数据流

[2016-05-19 11:43] simba-1 opened #182 "关于MIXED日志格式数据获取"

[2016-05-20 02:12] simba-1 commented on #172
貌似mysql GTID 有这个功能

[2016-05-20 07:23] #182 closed

[2016-05-23 06:15] simba-1 opened #183 "关于canal对于statement 格式日志的解析"
请问下canal  有可以解析statement格式日志的方法和类吗？类似对row日志的解析，可以解析出数据库名称，表名，操作类型……而不是一条单纯的sql 语句

[2016-05-25 01:57] agapple commented on #183
可以自行依赖sql解析器，对于输出的内容进行解析，得到你想要的结果

[2016-06-04 09:14] BrightMi opened #184 "删除表的问题"
在遇到表删除后会有这种情况
Caused by: java.io.IOException: ErrorPacket [errorNumber=1146, fieldCount=-1, message=Table 'secooOrderWriter1DB.t_increment_sequence_bak' doesn't exist, sqlState=42S02, sqlStateMarker=#]
 with command: desc `orderDB`.`t_increment_sequence_bak`
    at com.alibaba.otter.canal.parse.driver.mysql.MysqlQueryExecutor.query(MysqlQueryExecutor.java:60) ~[canal.parse.driver-1.0.21.jar:na]

[2016-06-05 15:28] charmby opened #185 "canal.instance.filter.regex无法过滤db"

[2016-06-06 07:25] agapple commented on #184
翻一下历史的issue，不建议做有删除性质的DDL操作，包括删表，删字段等

[2016-06-06 10:02] #185 closed, assigned to nobody

[2016-06-06 11:13] charmby opened #186 "ack 错误了"
2016-06-06 19:07:07.416 [New I/O server worker #1-25] ERROR com.alibaba.otter.canal.server.netty.NettyUtils - ErrotCode:400 , Caused by :
something goes wrong with channel:[id: 0x4d32397e, /10.252.158.196:53393 => /10.1.7.109:9930], exception=com.alibaba.otter.canal.server.exception.CanalServerException: ack error , clientId:1001 batchId:85 is not exist , please check

2016-06-06 19:07:07.418 [New

[2016-06-13 01:37] nickfan commented on #156
如何清理 下canal记录的历史位点信息？ 删除什么文件还是重启zookeeper?

[2016-06-13 02:59] agapple commented on #156
删除节点，然后重启instance

[2016-06-13 03:24] nickfan commented on #156
otter-manager里node节点的删除链接是文字不可删除，要怎样步骤才能删除呢？

[2016-06-13 03:40] jsrgqinbin commented on #156
在同步进度里把Position 状态删除，即可恢复

[2016-06-14 10:34] agapple opened #187 "支持下mysql5.7 json类型解析"
RT. 支持下mysql5.7

[2016-06-18 15:09] chelubaiq opened #188 "mysql长时间没数据，可能导致canal与mysql的连接读操作永远阻塞"
canal从mysql读binlog事件时，建的连接设置了读超时时间：        channel.socket().setSoTimeout(this.soTimeout);  ，soTimeout用了30s。

读binlog事件时，用了SocketChannel.read(buffer)方法，soTimeout对这个SocketChannel的read方法无效，永远不会超时，参考http://bugs.java.com/bugdatabase/view_bug.do?bug_id=4614802。

如果mysql有一段时间没数据（比如一个小时），这个连接失效了（可能因为防火墙问题，参考http://www.tldp.org/HOWTO/TCP-Keepalive-HOWTO/overview.html的2.4.  虽然设置了channel.socket().setKeepAliv

[2016-06-21 07:07] agapple commented on #188
目前设计时依赖于MySQL数据库的空闲链接超时机制，默认是8小时会断开链接，你的链接失效是指半开链接么？这个客户端能获取到EOFException

[2016-06-30 08:17] agapple commented on #187
测试数据格式:
[code]

[2016-06-30 08:21] #187 closed

[2016-06-30 08:44] #172 closed

[2016-07-11 01:28] nickfan opened #189 "canal的数据库连接信息会在otter-manager内自动解析为ip的问题"
canal的数据库连接信息会在otter-manager内自动解析为ip
但我们用的服务域名，会不定期更新ip，会导致canal连接不上mysql服务。
请问如何让配置中保持域名而不是解析为ip.

[2016-07-11 05:41] agapple commented on #189
研究一下，提交一个PR给我吧

[2016-07-14 07:24] myjfm opened #190 "qq群拒绝加入，怎么才能加入qq群呢？"

[2016-07-15 02:14] agapple commented on #190
qq群还有空闲名额，重新尝试下

[2016-07-15 02:14] #190 closed

[2016-07-15 08:47] tianshazzq commented on #188
这个问题在我自己的测试环境中很容易重现，mysql版本:5.5.14 wait_timeout设为8小时，canal版本1.0.22，如果mysql半个小时无数据更新，canal就无法读取新的bin-log，重启canalServer后就正常了。难道跟数据库的配置有关系，还是其他原因？期望能得到指导。

[2016-07-15 08:50] tianshazzq commented on #188
PS：CanalServer没有任何的错误日志，不好分析问题。。。

[2016-07-18 02:22] agapple commented on #188
暂时性解决方案，可以开启下心跳SQL. 这问题还真没遇到过

[2016-07-19 03:22] chelubaiq commented on #188
mysql的slave连接master读数据的默认超时时间（slave_net_timeout）是3600s（时间太长），超时后重建连接，参考http://dev.mysql.com/doc/refman/5.6/en/replication-options-slave.html#sysvar_slave_net_timeout

mysql5.5后好像引入了master/slave之间的heartbeat binlog event，master没binlog event空闲一段时间后（超过MASTER_HEARTBEAT_PERIOD）就发送给slave heartbeat事件。参考：
https://www.percona.com/blog/2011/12/29/actively-monitoring-replication-connectivity-with-mysqls-heart

[2016-07-29 02:31] weikuo0506 commented on #189
这个问题我们也遇到了，我们通过配置vpn解决的

[2016-08-01 05:20] tangcongzhen commented on #189
能说下配置vpn如何解决otter-manager把域名解析成IP的问题吗？

[2016-08-03 14:15] liuyouqian opened #191 "主备同步问题"
现在有两台MySQL数据库 ：M1（主）-》M2（备）
我现在的情况是otter部署在M2上，两个有相同的数据库与一张表
条件：M1，M2均正常运行，otter未启动同步
1.在M1中insert一条数据，此时由于未启动同步，M2不会出现这条数据
2.启动otter同步
3.修改M1中刚才插入的数据，M2中不会出现数据
这种情况应该如何解决？
谢谢各位了

[2016-08-04 01:48] agapple commented on #191
update转insert，可以开启otter的行同步模式

[2016-08-04 01:48] #191 closed

[2016-08-04 14:52] liuyouqian commented on #191
我在测试的时候用的基于数据库反查就不能就会出现不同步，今天我使用基于当前日志变更的时候能够成功同步过来
就想问下数据库反查和日志变更在使用上分别的用途？

2016年8月4日星期四，agapple <notifications@github.com> 写道：

[2016-08-04 15:04] liuyouqian commented on #191
看到文档了，就不麻烦你了哈，谢谢

2016年8月4日星期四，刘欢 <askingneil@gmail.com> 写道：

[2016-08-10 08:28] GoldenSelfish opened #192 "Canal 权限控制"
我在ClusterCanalConnector和SimpleCanalConnector类中发现了username和password的field，而实际上在Canal Server中并没有具体的校验，请问后期会进行权限控制吗？

[2016-08-10 09:07] agapple commented on #192
这个需要对接一套console系统来运维

[2016-08-10 10:59] hechaoyi commented on #139
MysqlConnector 106行
fork出一个连接去KILL CONNECTION时如果发生异常，不建议抛出去，记一下log就好了，毕竟是非主支流程

今天我看日志，一直在死循环的报这个：

[code]

但是我重启后就无法重现了，所以在这里提一下，看有没有别人遇到过这个问题。

[2016-08-10 11:26] GoldenSelfish commented on #192
@agappl 这个需要对接一套console系统来运维
Canal如何对接一套console系统，有没有案例

[2016-08-11 06:46] agapple commented on #139
最新代码已经提交，只记录了异常，没有往外抛

2016-08-10 18:59 GMT+08:00 hechaoyi <notifications@github.com>:

[2016-08-11 06:47] agapple commented on #192
可以参考下DevGuide，目前没有现成的console

2016-08-10 19:26 GMT+08:00 GoldenSelfish <notifications@github.com>:

[2016-08-13 08:30] wym408 opened #193 "canal KILL DUMP"
# position info

canal.instance.master.address = xx.xx.xx.xx:3306
canal.instance.master.journal.name =
canal.instance.master.position =
canal.instance.master.timestamp = 1471076485000

2016-08-13 16:23:09.821 [main] WARN  org.springframework.beans.TypeConverterDelegate - PropertyEditor [com.sun.beans.editors.EnumEditor] found through deprecated global PropertyEditorManager fallback - consider usin

[2016-08-13 08:41] wym408 commented on #193
1.0.22 版本
 配置起始时间信息，client启动后，/logs/example/example.log  中记录 kill dump
配置起始位置，也报相同的错误
谢谢 大神们 帮忙

[2016-08-14 07:31] whlgh commented on #193
我也遇到这样的问题，后来把conf/example/meta.dat删掉，再重启就好了。

[2016-08-14 07:35] wym408 commented on #193
@whlgh   这个方法我试了，没用

[2016-08-14 07:44] wym408 commented on #193
@whlgh   这个方法我试了，没用，不知道我是不是还有其他地方没设置对？ 我用windows 跑，配置了canal.instance.master.timestamp 没问题，配置 canal.instance.master.journal.name 和 canal.instance.master.position  就报上面的错，  Linux下跑 2中配置方式 都报错

[2016-08-14 08:36] whlgh commented on #193
#################################################
## mysql serverId
canal.instance.mysql.slaveId = 1234

# position info
canal.instance.master.address = 127.0.0.1:3306
canal.instance.master.journal.name =
canal.instance.master.position =
canal.instance.master.timestamp =

#canal.instance.standby.address =
#canal.instance.standby.journal.name =
#canal.instance.standby.position =
#canal.instance.sta

[2016-08-15 00:11] wym408 commented on #193
@whlgh   你用的什么版本？我用的1.0.22

[2016-08-15 02:34] whlgh commented on #193
也是1.0.22
1、你用root用户执行
2、show variables like '%log_bin%';
看看mysql的binlog有没有开启

[2016-08-15 02:54] wym408 commented on #193
@whlgh   方便的话，加我QQ  793024465  私聊  效率个高点

[2016-08-15 10:27] ForaLake opened #194 "server与client部署在同机上的高可用性问题"
问题情景：
server与client部署在同机上的高可用性问题
canal server版本为1.0.21，client版本为1.0.22

问题描述：
现有两台机器pc1, pc2, 分别部有server与client各1个，名为s1, c1, s2, c2。s1和c1在pc1上正常运行，s2和c2在pc2上作为备份hanging。
现将pc1进行reboot，pc2上的s2可以切换到正常运行态，但c2会卡在connector.subscribe()方法上。

问题分析：
subscribe()在内部(SimpleCanalConnector.java)实现时，会一直等待获取锁(mutex.get())，而未采用超时返回TimeoutException的方法(mutex.get(long timeout, TimeUnit unit))。
在只有server发生切换的时候，原有的cli

[2016-08-16 05:17] agapple commented on #194
看下 https://github.com/alibaba/canal/issues/171， 如果是卡在subscribe方法，得检查下initRunning方法是否有执行成功，成功之后会触发一个回调更新mutex

[2016-08-16 11:20] ForaLake commented on #194
initRunning()方法如果调用成功，会修改mutex，subscribe方法会返回重试。但是根据日志的情况，initRunning()只在reboot15分钟前有过日志记录。可能是因为reboot机器时，client端仍保有原server的黑洞状态的连接，和客户端单切造成堵塞的情况不太一样。。建议作者尝试一下，基本都可以重现，我这边说不甚清楚

[2016-08-17 05:58] ForaLake opened #195 "对position内存的竞争导致的定位错误问题"
前提：使用PeriodMixedMetaManager.java作为metaManager
问题描述：

在CanalServerWithEmbedded.java的subscribe()方法中存在这样一段代码：
[code]
根据上下文，当内存中的position为null时，这段代码会先取出eventStore中的position，再根据此position更新zk中的cursor位置。但是在PeriodMixedMetaManager中更新方法的代码如下：

[code]

此方法会先将调度任务加入任务队列，然后再更新内存中的position。而调度线程则会先去取内存中的position，再更新zookeeper中的cursor。两个线程处于并发竞争态，可能会发生读后写情况。

问题解决办法（建议）：
如果您认可这里的确可能有风险，把updateCursor里的两句话调换一下位置

问

[2016-08-17 10:13] sun5411 commented on #183
![aaa](https://cloud.githubusercontent.com/assets/533322/17732757/f8b3440e-64a5-11e6-8daf-4b4dc96b824c.png)
请问，为什么图中这段，canal会解析为空，但作为一条解析输出了？

[2016-08-23 05:41] agapple commented on #195
updateCursorTasks.add(clientIdentity);// 添加到任务队列中进行触发
这个只是一个标致位而已，具体更新的时候还是获取以下当前内存中的值进行写出，不会出现读到旧版本数据的问题，一般也建议subscribe是单客户端调用，避免并发

[2016-08-23 08:40] jarlun commented on #157
比如说mysql中：enum('0','1','2','3')

[2016-08-25 01:04] ForaLake commented on #195
我说的并不是多客户端调用subscribe()的问题，而是单次subscribe()执行时可能会发生的问题。<定时将内存位点推到zk>和<更新位点到内存>是两个并行的过程，而定时推送任务的启动可能早于更新位点到内存的操作完成，因此是有可能读到旧数据的，谁先谁后完全取决于调度情况

[2016-08-26 10:26] agapple commented on #195
对于代码的细致要求，修改风险可控

[2016-08-26 10:26] #195 closed

[2016-08-28 02:29] renshui1983 opened #196 "eclipse导入项目编译报错"
问题描述：

代码版本: 1.0.22
maven 版本: 3.3.3
jdk版本: 1.7.0_80

在根目录下执行mvn eclipse:eclipse 命令后，将项目导入eclipse，大面积报错，大概原因是：driver项目依赖canal.common, 但是eclipse中导入的common项目的项目名是"common", 项目名不匹配。大家有碰到类似问题吗？

![qq20160828-1](https://cloud.githubusercontent.com/assets/13866684/18031262/31068e26-6d0a-11e6-8257-f8b21a2e4681.png)

[2016-08-28 02:45] agapple commented on #196
我工程依赖树定义都是canal.xxx，全名的，你看下其他工程的pom.xml定义

[2016-08-28 05:33] renshui1983 commented on #196
@agapple  我看了下其他工程的pom.xml定义，依赖也都是全名依赖，但是被依赖的项目导入eclipse后就不是全名了，可以见问题中的截图“common”。
是不是该项目对maven版本有要求还是我执行的mvn eclipse:eclipse命令缺少参数。

[2016-08-29 00:44] renshui1983 commented on #196
我自己在eclipse中将项目名手工改了，现在编译已经没问题了。

[2016-08-29 00:44] #196 closed

[2016-08-30 12:50] tuxtorres commented on #179
我测试了一下，没遇到什么特别的问题。

[2016-08-30 15:10] owenludong opened #197 "Unexpected End Stream Exception"
数据库用的阿里云rds， canal版本1.0.22

最近隔几天就会报下面的错误，导致接收不到binlog。 能看出是啥问题吗？

2016-08-30 11:00:27.364 [destination = prodb2 , address = x/y:3306 , EventParser] ERROR c.a.o.canal.parse.inbound.mysql.dbsync.DirectLogFetcher - I/O error while reading from client socket
java.io.IOException: Unexpected End Stream
        at com.alibaba.otter.canal.parse.inbound.mysql.dbsync.DirectLogFetcher.fetch0(DirectLogFetche

[2016-08-31 08:30] hiddenzzh commented on #192
阿里内部是有一套console系统对接的吧，只不过不方便open出来？

[2016-09-01 02:28] agapple commented on #192
是的，可以对接到otter的配置运维页面

[2016-09-01 08:54] hiddenzzh commented on #192
那么这个运维的system内部是不是采用ssh（Jsch）的方式来启动服务器的（sh startup.sh）?

[2016-09-03 13:00] agapple commented on #192
你可以参考otter怎么运维canal，一种策略是嵌入式

[2016-09-07 03:21] wayneFly commented on #109
@changsong  删除canal下面的meta.dat，然后重启一下就行。

[2016-09-12 08:22] zhx19940113 opened #198 "mysql 5.5.52下canal解析bin-log问题"
mysql 5.5 my.cnf配置如下：
    [mysqld]
    log-bin=mysql-bin #添加这一行就ok
    binlog-format=ROW #选择row模式
    server_id=1 #配置mysql replaction需要定义，不能和canal的slaveId重复

canal日志：
   2016-09-12 16:22:04.994 [destination = example , address = localhost/127.0.0.1:3306 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - Didn't find the corresponding binlog files from mysql-bin.000001 to my

[2016-09-21 06:02] kevinKaiF commented on #156
canal每次将解析过journalname存储到zk上面，第二次parse数据的时候会从zk去拿一次journalname，如果找不到则从master去找first index file。如果数据库管理员手动清理过日志或者磁盘过满自动清理日志都会出现这样问题，解决办法就是删除对应name的节点

[2016-09-21 06:11] chaopengio commented on #125
在pom里面更改protobuf版本，然后再本地重新生成protocol文件放到protocol/src/main/java/com/alibaba/otter/canal/protocol/里面，可以解决这个问题。或者直接clone我的代码 https://github.com/chaopengio/canal

[2016-09-23 06:30] raoshaoquan opened #200 "项目使用log4j2与canal的logback发生冲突"
`SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/Users/raoshaoquan/.m2/repository/org/slf4j/slf4j-log4j12/1.6.1/slf4j-log4j12-1.6.1.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/Users/raoshaoquan/.m2/repository/ch/qos/logback/logback-classic/1.1.3/logback-classic-1.1.3.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See

[2016-09-26 14:15] agapple commented on #125
https://github.com/alibaba/canal/commit/c86fba6092979c4d42734903829843c3d62342ae，有人已经提交了PR，升级到了2.6.1

[2016-09-26 14:16] agapple commented on #156
一般是建议使用mysql命令行进行删除，就会同步修改index文件

[2016-09-26 14:17] agapple commented on #200
canal默认依赖的是slf4j，你可以排除logback来启用你自己的logger选择

[2016-09-27 01:41] raoshaoquan commented on #200
谢谢 已解决

[2016-09-27 01:41] #200 closed

[2016-09-27 02:14] kevinKaiF opened #201 "MysqlConnection的seek方法和dump方法会报NullPointerException"
seek方法和dump方法都有初始化LogContext
[code]
但是在decode的时候会报NullPointerException
建议分别添加
[code]

[2016-09-27 02:32] GitHub-BruceTong opened #202 "canal.instance.filter.regex 修改后未生效"
我们这边通过程序实现自动添加新的同步表（修改instance.properties下的canal.instance.filter.regex配置项），发现有时canal.instance.filter.regex修改后并未生效，对应的destination并为reload。

查看com.alibaba.otter.canal.deployer.monitor.SpringInstanceConfigMonitor，发现reload逻辑存在漏洞。

[2016-09-27 02:38] GitHub-BruceTong commented on #202
下面是我打的patch～

[code]

[2016-09-27 05:24] agapple commented on #202
你打的patch能提交一个PR给我？我好合并到master

[2016-09-27 05:26] agapple commented on #201
能给更详细的异常堆栈不？

[2016-09-27 08:10] kevinKaiF commented on #201
我运行的是MysqlEventParserTest的test_timestamp方法
[code]

[2016-09-27 13:30] linuke opened #204 "replace into 操作的语句filter无效"
replace into table
不订阅这个表，客户端也能收到消息

[2016-09-28 02:30] lulu2panpan opened #205 "instance的lazy启动在HA模式下不成立"
在HA模式下，instance的lazy启动不成立。

**首先看CanalController的代码**
for (Map.Entry<String, InstanceConfig> entry : instanceConfigs.entrySet()) {
            final String destination = entry.getKey();
            InstanceConfig config = entry.getValue();
            // 创建destination的工作节点
            if (!config.getLazy() && !embededCanalServer.isStart(destination)) {
                // HA机制启动
                Ser

[2016-09-28 02:57] lulu2panpan opened #206 "SUBSCRIPTION存在bug"
直接上SessionHandler的代码段
`case SUBSCRIPTION:
                    Sub sub = Sub.parseFrom(packet.getBody());
                    if (StringUtils.isNotEmpty(sub.getDestination()) && StringUtils.isNotEmpty(sub.getClientId())) {
                        clientIdentity = new ClientIdentity(sub.getDestination(),
                            Short.valueOf(sub.getClientId()),
                            sub.ge

[2016-09-28 10:53] lulu2panpan opened #207 "一个日志疑问"
首先看日志：
`2016-09-27 11:01:06:com.alibaba.otter.canal.client.impl.ClusterCanalConnector.subscribe(ClusterCanalConnector.java:110) - something goes wrong when subscribing from server:null
com.alibaba.otter.canal.protocol.exception.CanalClientException: failed to subscribe with reason: something goes wrong with channel:[id: 0x111fe04e, /10.204.12.79:47450 => /10.204.246.102:11111], exceptio
n=com.alib

[2016-09-29 02:19] agapple commented on #207
这异常一般是server端出现了重启导致，比如开启了scan=true，扫描到了文件变化，自动重载，客户端增加重试机制就好了

[2016-09-29 02:21] agapple commented on #204
query语句没有严格按表进行过滤

[2016-09-29 02:30] lulu2panpan commented on #205
个人认为lazy启动是个比较鸡肋的功能，增加了代码的复杂度，性价比不高。
我们内部使用时，完全屏蔽了这种模式，把ClusterNodeAccessStrategy类中的这段代码直接注释掉了
` else if (!currentAddress.isEmpty()) { // 如果不存在已经启动的服务，可能服务是一种lazy启动，随机选择一台触发服务器进行启动
return currentAddress.get(0);// 默认返回第一个节点，之前已经做过shuffle
} `

找不到running节点就直接抛错，免去了无谓的网络交互，使高可用场景下的切换时间尽可能的小

[2016-09-29 02:31] agapple commented on #201
https://github.com/alibaba/canal/pull/203

[2016-09-29 02:31] #201 closed

[2016-09-29 02:31] lulu2panpan commented on #205
server端改造的话，想到的一个思路是
为ServerRunningMonitor的start方法增加一个 boolean lazy 参数

[2016-09-29 03:02] lulu2panpan commented on #207
这个异常产生的原因我清楚
我感到奇怪的是：通过查看堆栈信息，是在subscribe方法中触发的这个异常，我查看了客户端和server端的代码，在subscribe的时候没有checkStart的判断，也就是说这个“should start first”异常不应该在此出现

[2016-09-29 04:37] agapple commented on #206
HA模式下的确lazy是一个鸡肋，之前代码配置里有支持，后来默认值改成了false.

[2016-09-29 04:45] lulu2panpan commented on #206
恩，即使不是lazy模式，当
1，Active置为false的时候
2，或者，instance重启的时候(autoscan)
会出现只有cluster节点，没有running节点的情况，此时客户端会随机取cluster节点下的一个ip进行重连，而这个ip很可能是本次抢占的slave，那么就会触发subscribe的bug
需要改两处代码：
1、SessionHander中变更【启动runningmonitor】和【调用subscribe】的顺序
2、CanalServerWithEmbedded中的subscribe方法中第一行增加checkStart方法

[2016-09-29 04:46] agapple commented on #205
ServerRunningMonitor只是检测running节点的变化，不管是否lazy模式，都会为每个instance创建一个cid节点，这里的currentAddress拿的应该是这个list.

[2016-09-29 04:49] agapple commented on #205
看了下代码，目前cid节点的注册是依赖了ServerRunningMonitor.start()方法，逻辑上这里的确会有一点问题

[2016-09-29 04:58] lulu2panpan commented on #205
恩   这个可行   monitor的生命周期和instance并不在一条线上 init中只负责启动monitor
这个问题倒是没那么严重，估计lazy也极少有人用

subscribe那个问题建议还是及时处理下，我们在生产环境已经遇见过两次问题了：维护的时候，停掉一台canal-server，另外一台接管instance，然后position重置为几天前的了

[2016-09-29 08:04] yangtao8571 commented on #198
请教具体如何解决，我也有这个问题，感谢！

[2016-10-06 03:04] #204 closed

[2016-10-09 08:45] Mrbug001 opened #211 "canal客户端认为insert\update\delete是DDL语句了"
如题，今天做了个测试，连接本机mysql，测试insert等语句，客户端example执行后，将insert、update、delete等语句看成了DDL语句，但是，连接开发服务器上的mysql就正常，请问这是为什么呢？

[2016-10-09 09:42] Mrbug001 commented on #211
找到原因了

[2016-10-10 09:25] lulu2panpan opened #212 "关于binlog离线消费的bug"
设计binlog离线消费(LocalBinlogEventParser)的初衷是什么？在阿里内部有没有大批量使用过这个功能？
我们在尝试使用的过程中，发现有很多问题，如：
1、离线消费时tableMetaCache为null，构造出来的event不带元数据，这样的event应该是没法儿用
2、事件解析也存在bug
      \* 比如LocalBinLogConnection中的dump方法，被注释的代码才是正确的代码
      \* LocalBinLogConnection中第二个dump方法，应该增加decoder.handle(LogEvent.FORMAT_DESCRIPTION_EVENT);语句，否则((QueryLogEvent) event).getQuery()返回的字符串带乱码
      \* local模式下获取不到ROTATE_EVENT类型的事件，导致构造

[2016-10-11 11:05] agapple commented on #207
客户端的第一次subscribe会触发服务端进行start操作

[2016-10-11 11:08] #198 closed

[2016-10-11 11:14] agapple commented on #211
估计是mysql5.6的rows query log，canal不会转换为sql

[2016-10-11 11:15] agapple commented on #212
LocalBinlogEventParser主要用来做日志重发解析用的，内部用的少.

[2016-10-11 11:22] agapple commented on #206
checkStart方法增加会有风险是失败的，即使你SessionHander调用了start方法，走到subscribe方法时可能还没初始化完成

[2016-10-11 11:22] agapple commented on #206
我记得以前我是特意去掉的，不知道这个没有checkstart校验，对于你们的影响是？

[2016-10-11 11:23] agapple commented on #205
position为啥会是几天前？第一次subscrite拿到了历史store的数据更新掉了？

[2016-10-17 03:13] JoeyFan opened #214 "canal 一个server怎么能监听一个数据库的不同表？"
canal 一个server怎么能监听一个数据库的不同表？复制多份example文件夹，然后配置文件里面分别配置不同的连接表信息？麻烦作者看看有没有好的解决方案？

[2016-10-17 03:15] agapple commented on #214
一个配置里写多张表的匹配正则

[2016-10-17 06:26] JoeyFan commented on #214
@agapple  可以弄个配置的例子给我看看吗，wiki里也没有相关文档，我这一头雾水。

[2016-10-20 09:57] linwenxue opened #215 "canal-server1.0.22基于mariadb10.1.14测试HA功能的BUG"
测试描述：canalserver1.0.22基于mariadb10.1.14的HA功能不好用，部署两台canaserver当其中一台server挂掉后，zookeeper已经切换到新的canalserver，但新的canalserver获取的binlogname不正确导致读取mariadb的binlog错误。
mariadb中binlog名字：
(canal@127.0.0.1) [canal_test]> show binary logs;
+------------------+-----------+
| Log_name         | File_size |
+------------------+-----------+
| mysql-bin.000001 |     25487 |
| mysql-bin.000002 |       358 |
| mysql-bin

[2016-10-21 03:04] linwenxue commented on #215
现在有测试mariadb10.1.14的验证版本吗，看源码好像是从protocolbuffer读取的时候binglogname就存在问题了，对binlog协议格式不是很了解，这个是protocolbuffer定义的协议格式问题吗

[2016-10-22 02:35] linwenxue commented on #215
实际代码分析：出现在【com.alibaba.otter.canal.parse.inbound.mysql.dbsync】中，int netlen = getUint24(PACKET_LEN_OFFSET);代码获取的包长度不一致造成的，maraidb和mysql获取的长度为：47和43，mariadb多获取4字节导致后续处理logfilename读取多4个字节；您好问下作者什么情况导致netlen获取的不一致?

[2016-10-25 05:52] feipengnju opened #216 "canal如何支持sql server"
目前，我们有个项目，通过监听binlog变化来更新索引，上线前发现有的客户的数据库用的是sql server的，canal目前不支持sql server，不知道作者有没有思路来支持sql server？

[2016-10-25 07:07] feipengnju commented on #216
网上找了下，sql server有个cdc模式（https://msdn.microsoft.com/en-us/library/cc645937.aspx），开启这个模式就能track变更记录

[2016-10-27 10:44] AnakinSkyW opened #217 "canal 客户端接收blob字段解析成 Google Protocol Buffer协议失败"
数据库的表中存的是Google Protocol Buffer协议，然而在canal接收后，解析报错。
想问一下，canal支不支持非基本类型解析

[2016-10-30 10:28] #214 closed

[2016-10-31 03:48] ihaolin opened #218 "一次更新，两次消费？"
你好，问题如下：

复现步骤：

 + 现有两个库USERS_01，USERS_02，需要订阅这两个库中的表users的DML；
 + canal.properties配置文件：

        canal.id= 1
        canal.ip=127.0.0.1
        canal.port= 11111
        canal.zkServers=localhost:2181
        canal.destinations= users_building
        canal.instance.global.spring.xml = classpath:spring/group-instance.xml
        # 其他配置默认...

+ group-instance.xml：

        <bean id="eventParser1"

[2016-10-31 06:50] ihaolin commented on #202
怎么感觉配置了canal.instance.filter.regex没有生效呢，所有库任何表更新都会被消费呢？

[2016-10-31 07:07] ihaolin commented on #218
测试发现只有客户端设置filter表达式才能过滤，deployer设置不能生效？？

[2016-10-31 09:32] ihaolin commented on #218
明白了 ，demo里client.subcribe时设置了filter

[2016-10-31 09:32] #218 closed

[2016-10-31 11:37] wallkop opened #219 "Canal如何支持阿里云RDS的订阅？"
目前使用canal去订阅阿里RDS的增量变化数据，出现如下报错：
com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: com.google.common.collect.ComputationException: com.alibaba.otter.canal.parse.exception.CanalParseException: fetch failed by table meta:`mysql`.`ha_health_check`
Caused by: com.google.common.collect.ComputationE

[2016-11-01 05:45] wallkop commented on #219
已经解决：阿里云RDS的账号缺少读取mysql.ha_health_check的权限
这应该是一个阿里用来监控的心跳表，将账号升级为高权限账号，并赋予canal账号SELECT mysql.ha_health_check权限后，不再报错，问题解决。

[2016-11-01 05:50] wallkop commented on #219
已经解决：阿里云RDS的账号缺少读取mysql.ha_health_check的权限
这应该是一个阿里用来监控的心跳表，将账号升级为高权限账号，并赋予canal账号SELECT mysql.ha_health_check权限后，不再报错，问题解决。
由此衍生的一个问题是：似乎当解析一行失败并抛出异常后，会影响后续的其他正常行解析，导致canal客户端无法接收到数据。这一点是我的猜测，并没有去细读源码，如果作者看见了这条issue可以适当关注一下。

[2016-11-01 12:39] happyer commented on #219
你的猜测是对的，不过不用获取那么多权限，你把那个表过滤掉就可以了

[2016-11-03 05:43] agapple commented on #216
对于sql server没啥研究，抱歉

[2016-11-03 05:49] agapple commented on #215
最后4位可能是checksum，你试着找一下mariadb关闭一下mariadb的binlog checksum机制看看.
ps. 之前有支持过mysql5.6的checksum，可能mariadb协议上有点不一样，没完全兼容，先帮忙验证一下是否为checksum问题

[2016-11-03 05:51] agapple commented on #215
if (FormatDescriptionLogEvent.versionProduct(versionSplit) >= FormatDescriptionLogEvent.checksumVersionProduct) {

之前canal代码是限制了>=5.6.1版本号才会开启checksum检查，这是以前mysql5.6的机制，mariadb估计有不一样的行为

[2016-11-03 05:54] agapple commented on #217
blob类型为new String("ISO-8859-1")处理后的字符串，可以通过string.getBytes("ISO-8859-1")还原出来

[2016-11-03 05:55] agapple commented on #202
表数据过滤，只针对row模式会有效

[2016-11-03 06:01] agapple commented on #219
是的，你可以设置白名单表，针对黑名单表binlog协议只看一个header头，判断不命中直接丢弃

[2016-11-03 06:18] ihaolin commented on #202
你好，针对CanalServerWithEmbedded_StandaloneTest，CanalServerWithEmbedded_StandbyTest有以下问题：

+ 修改**MetaMode**为**MetaMode.ZOOKEEPER**，发现同时启动两个，数据修改后会两个实例都会得到更新通知，或者说**嵌入式**不支持**Server**模式那样，一个instance只会一个Server实例在监听呢？

+ 使用**嵌入式**对于配置多库配置，设置Group时比较麻烦(相对于xml)；

+ 生产环境的Server模式有具体的一些案例测试，和参考的benchmark吗？

[2016-11-03 06:56] linwenxue commented on #215
已经确定是checksum的问题，但是测试的1.0.22稳定版，去查源码也是看的1.0.22的稳定版代码，后来看到canal1.0.23快照版代码已经修复这个问题了，在mariadb10.1.14验证通过，多谢指教。
ps:

xiaolinziemail@163.com

发件人： agapple
发送时间： 2016-11-03 13:49
收件人： alibaba/canal
抄送： linwenxue; Author
主题： Re: [alibaba/canal] canal-server1.0.22基于mariadb10.1.14测试HA功能的BUG (#215)
最后4位可能是checksum，你试着找一下mariadb关闭一下mariadb的binlog checksum机制看看.

ps. 之前有支持过mysql5.6的checksum，可能mariadb协议上有点不一样，

[2016-11-03 07:56] chenyishun opened #220 "canal client中Entry未包括操作用户"
一个问题想请教一下。
canal client中Entry未包括操作用户，这个原因是因为binlog里面本身就没有operator user，还是canal没qe去封装解析？mysql binlog包含的具体内容，有相关的资料吗？在网上都说的不全。如果有，我想尝试着增加。

[2016-11-03 09:10] agapple commented on #136
RDS无主键表会有一个隐藏列：__#alibaba_rds_row_id#__，会在每张表的最后一列且为int类型，可以兼容一下

[2016-11-03 09:19] ihaolin commented on #220
个人觉得，这部分信息不应该放在binlog里，对于备份完全多余，mysql应该有权限管理相关的处理，操作日志等等。

[2016-11-03 11:50] AnakinSkyW commented on #217
谢谢，已经解决

[2016-11-04 09:20] agapple commented on #220
没有在binlog里

[2016-11-04 09:21] #217 closed

[2016-11-04 09:21] #215 closed

[2016-11-09 07:36] yingchen92 opened #221 "canal client获取字段值为空字符串（本身应为null）"
在使用canal的过程中发现一个问题，我在master机器上插入一条数据 比如说insert into test1 values(17,NULL);  在获取canal解析结果
column的值为''空字符串  采用的方法是
String columnValue=column.getValue();   这个是canal框架的问题 还是我本身获取字段值的方法不对。
column.getValue()中column对象是import com.alibaba.otter.canal.protocol.CanalEntry.Column对象

[2016-11-10 03:10] agapple commented on #221
column.isNull()使用这个进行判断是否null

[2016-11-10 03:10] #221 closed

[2016-11-10 03:10] #220 closed

[2016-11-14 02:07] iadmirezhe opened #222 "RDS mysql.mysql ha_health_check表找不到"
- 在canal启动时报mysql.mysql ha_health_check表找不到这个错

- 去binlog查看了events，确实有ha_health_check这张表的记录

- 然而，通过show tables等sql语句却查不到这张表

[2016-11-14 03:06] agapple commented on #222
估计是表权限的问题

2016-11-14 10:07 GMT+08:00 iadmirezhe <notifications@github.com>:

[2016-11-16 09:04] sadwxqezc commented on #190
qq群还可以加人吗，有没有其它的群

[2016-11-16 10:35] agapple commented on #190
qq群还有空闲名额，重新尝试下

[2016-11-17 08:11] SHUlibee opened #223 "canal.instance.master配置未生效"
您好，请问一下
我配置一下参数（~/conf/example/instance.properties里）
canal.instance.master.journal.name
canal.instance.master.position
canal.instance.master.timestamp
操作 ./bin/stop.sh  ./bin/start.sh 没有生效啊。
例如，我配置 timestamp=1479370130，在这个时间戳之前的update，也在这之后的update都会得到message不知道什么原因啊？

[2016-11-17 09:53] #136 closed

[2016-11-17 09:54] agapple commented on #222
https://github.com/alibaba/canal/commit/96dca0b9e6b6dcc12fc439d2f17d85a4656485df , 特别支持了下阿里云的RDS

[2016-11-17 09:54] #222 closed

[2016-11-17 09:54] agapple commented on #219
https://github.com/alibaba/canal/commit/96dca0b9e6b6dcc12fc439d2f17d85a4656485df, 特别支持了下阿里云的RDS

[2016-11-17 09:54] #219 closed

[2016-11-17 09:55] agapple commented on #212
已有人提交PR解决

[2016-11-17 09:55] #212 closed

[2016-11-17 09:56] agapple commented on #193
KILL CONNECTION异常已经处理

[2016-11-17 09:56] #193 closed

[2016-11-17 09:56] #183 closed

[2016-11-17 09:58] agapple commented on #175
client的subscribe传入的过滤条件优先级最高，会忽略掉服务端的设置

[2016-11-17 09:58] #175 closed

[2016-11-17 09:58] #179 closed

[2016-11-17 10:00] happyer commented on #222
这个不是➕个过滤就可以了吗

[2016-11-17 10:31] #163 closed

[2016-11-17 10:32] #178 closed

[2016-11-17 10:32] #180 closed

[2016-11-17 10:33] agapple commented on #184
y

[2016-11-17 10:33] #184 closed

[2016-11-17 10:34] agapple commented on #197
KILL CONNECTION 建议使用主干打包试试

[2016-11-17 10:34] #197 closed

[2016-11-17 10:34] #216 closed

[2016-11-17 10:35] agapple commented on #211
有具体信息再reopen

[2016-11-17 10:35] #211 closed

[2016-11-17 10:35] #207 closed

[2016-11-17 10:38] agapple commented on #202
1.  HA的机制是在deployer实现，迁入式时需要自行解决HA
2. Group模式可以选择API创建的方式，可以看下otter和canal结合的部分
3. canal大概的性能TPS在2.5w+左右，和不同用户的机器环境和网络都有一些略微变化

[2016-11-17 10:38] #202 closed

[2016-11-17 10:39] agapple commented on #205
如有新信息，再reopen该issue

[2016-11-17 10:39] #205 closed

[2016-11-17 10:39] #206 closed

[2016-11-17 10:40] agapple commented on #181
建议先增加客户端重试或者HA机制保证，如有新的信息再reopen issue

[2016-11-17 10:40] #181 closed

[2016-11-17 10:40] agapple commented on #153
基于当前最新版暂无发现stop失败的问题

[2016-11-17 10:40] #153 closed

[2016-11-17 10:41] agapple commented on #223
时间戳定位默认会回溯60秒

[2016-11-17 10:41] #223 closed

[2016-11-17 12:39] agapple commented on #189
https://github.com/alibaba/otter/issues/172, fix了

[2016-11-17 12:39] #189 closed

[2016-11-17 12:52] agapple commented on #222
是的，现在默认识别为RDS增加了过滤机制

[2016-11-18 02:40] iadmirezhe commented on #222
嗯，加了过滤，把mysql过滤掉

[2016-11-19 05:07] yjp211 opened #224 "client获取不到更新事件"
update操作，对应的binlog如下：
![image](https://cloud.githubusercontent.com/assets/3926181/20453252/ab62af26-ae58-11e6-8c27-2c14ea9a441b.png)
connector.getWithoutAck(batchSize)只能获取到TRANSACTIONBEGIN和TRANSACTIONEND，如图
![image](https://cloud.githubusercontent.com/assets/3926181/20453255/c911f216-ae58-11e6-90a4-e77bfee52348.png)

db的配置如下：
[code]

[2016-11-19 05:53] yjp211 commented on #224
经过验证，当canal部署到mysql同一台机器时可以获取到 ROWDATA事件（canal.instance.master.address = 使用 127.0.0.1:3306获 真实地址:3306都可以）

如果使用阿里云rds，这该怎么办- -

[2016-11-21 02:28] agapple commented on #224
没这回事，不需要部署到同一台mysql上.  检查下过滤条件，会以client提交的为准

[2016-11-21 07:14] JoeyFan opened #225 "canal 服务端运行一段时间会报如下错。不知道如何解决。"
我程序启动连接canal 报错：
something goes wrong with reason: something goes wrong with channel
com.alibaba.otter.canal.server.exception.CanalServerException: ack error , clientId:1001 batchId:47 is not exist , please check

怎么解决？canal服务端我也重启了。运行了一下，过一阵程序启动还是继续会报错

下面是我的代码
[code]

[2016-11-21 07:36] agapple commented on #225
出现这个问题，怀疑是server端发生了instance重启，导致内存里的batchId丢失.  检查一下服务端的日志

[2016-11-21 07:58] JoeyFan commented on #225
agapple 服务端没有发送重启，还有别的原因么？我的代码没有问题吧？

[2016-11-22 07:44] JoeyFan opened #226 "清理了一下 主mysql主的binlog日志，然后重启了canal，canal 服务端启动报错"
我清理了一下 主mysql主的binlog日志，然后重启了canal
canal 服务端启动报错。
[code]

这大概是什么原因导致的呢？

[2016-11-22 07:46] #225 closed

[2016-11-22 08:08] yjp211 commented on #224
截图红色框住的状况很奇怪， 我检查过两个canal的两个环境，配置是一样。 client是同一个，测试的方式就是通过同一个client切换canal地址

[2016-11-22 08:24] JoeyFan commented on #226
我主要是把主mysql的binlog日志清理了，binlog从头开始了。但meta.dat里面记录的却不是。所以启动canal报错了，清理了一下 instance的meta.dat 文件，就可以了

[2016-11-22 08:24] #226 closed

[2016-11-22 09:02] agapple commented on #225
server端开启了scan=true扫描？

[2016-11-22 09:04] agapple commented on #224
debug看看server端的过滤条件，可以试试使用RDS的情况

[2016-11-22 10:17] hesmile1020 commented on #202
@ihaolin 检查下CanalConnector是否调用subscribe(filter)方法；有的话，filter需要和instance.properties的canal.instance.filter.regex一致，否则subscribe的filter会覆盖instance的配置，如果subscribe的filter是.*\\..*，那么相当于你消费了所有的更新数据。

[2016-11-23 10:01] yjp211 commented on #224
过滤条件两个环境是一样的
[code]
这样的格式。
把过滤条件删除（空白），远程部署的canal就可以获取到正常的Event了。但和mysql同机的canal，不受这个影响

[2016-11-24 02:52] yjp211 commented on #224
进一步对比测试，发现是canal.instance.filter.regex的问题，总结如下：

[2016-11-24 04:17] aiaix commented on #109
这问题的解决没描述清楚啊，我指定了位置点还是不行

[2016-11-24 08:42] SHUlibee commented on #225
我也遇到这个问题，请问是怎么解决的啊？

[2016-11-25 07:19] githubcjh commented on #188
mysql与canl-server的tcp连接闪断，canl-server并不知情，导致后续的binlog无法通知到canal-server，这个怎么破？

[2016-11-25 09:17] alexwangx opened #227 "canal仓库代码编译之后,不支持mysql5.1的问题"
hi
canal开发团队,我使用canal仓库中master分支的代码编译.
Mysql Server version: 5.1.73
错误信息:

[destination = example , address = test/192.168.10.16:3306 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlConnection - java.io.IOException: ErrorPacket [errorNumber=1193, fieldCount=-1, message=Unknown system variable 'binlog_checksum', sqlState=HY000, sqlStateMarker=#]
 with command: set @master_binlog_check

[2016-11-28 05:57] agapple commented on #225
客户端增加重试，或者服务端关闭scan=false

[2016-11-28 05:58] agapple commented on #188
建议开启canal心跳设置，会定时更新数据库来产生心跳binlog，如果指定时间没收到心跳信息可以尝试重建链接

[2016-11-28 06:02] agapple commented on #227
可以增加try lock机制忽略异常设置的情况.

[2016-11-28 06:11] #227 closed

[2016-11-28 06:13] agapple commented on #224
这个表达式，还要看一下你client调用subscribe里指定的参数

[2016-11-29 04:38] smallez commented on #193
请问下，这个问题是怎么解决的，我怎么没有找到meta.dat文件

[2016-11-29 04:39] smallez commented on #193
这个是我的异常日志信息
2016-11-29 11:17:23.465 [destination = inventory , address = /172.172.230.55:3307 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - prepare to find start position ::1480262400000
2016-11-29 11:17:57.401 [destination = inventory , address = /172.172.230.55:3307 , EventParser] ERROR c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - dump address /172.172.230

[2016-11-29 04:49] smallez commented on #190
qq群可以加入吗？

[2016-11-29 12:49] hrdxwandg opened #228 "启动startup.sh报错"
下载的master版本1.0.23-SNAPSHOT。
根据QuickStart中启动：sh bin/startup.sh 报错如下：
: not found 2: startup.sh:
startup.sh: 4: startup.sh: Syntax error: word unexpected (expecting "in")

[2016-11-30 06:38] lilykyung opened #229 "java.io.IOException: Unexpected End Stream异常"
canal版本 1.0.16
偶发性的报如下异常：
2016-11-30 12:56:17.588 [destination = example , address = /xxx:3306 , EventParser] ERROR c.a.o.canal.parse.inbound.mysql.dbsync.DirectLogFetcher - I/O error while reading from client socket
java.io.IOException: Unexpected End Stream
	at com.alibaba.otter.canal.parse.inbound.mysql.dbsync.DirectLogFetcher.fetch0(DirectLogFetcher.java:156) ~[canal.parse-1.0.16.jar:na]
	at c

[2016-11-30 10:37] JoeyFan commented on #225
@SHUlibee 两种思路。一个是确认一下是否是canal server进行了重启，再就是确认mysql的binlog是否进行了清理，canal的meta.data是否进行了清理。。
同时如果进行优化的话，可以跟agepple说的那样client端增加重试机制，并且关闭把canal Server的scan设置成false

[2016-12-01 07:22] JoeyFan opened #230 "canal监听问题"
canal服务，我设置监听了一个数据库的**tjxt-busi-cs**表，但是程序连接到此canal上，却能打印出别的数据库**tjxt-busi-ln**的表数据变化。两个数据库在同一个机器的mysql中。

这是我canal instance的配置信息
[code]
我程序里连接这个caanl，打印binlog信息，居然监听到了别的数据库的binlog日志
c.f.s.c.listener.BusiAnscWatcherThread - ================> binlog[mysqld-bin.000015:687343087] , name[**tjxt-busi-ln**,busi_wife_b_value] , eventType : INSERT

不清楚为什么这样。

[2016-12-01 08:15] AllenRay commented on #230
canal.instance.defaultDatabaseName = tjxt-busi-cs 这个属性不是用来指定canal只监听这一个数据库的。你想一下binlog是针对一个DB实例的。不是针对一个数据库的。

[2016-12-01 08:43] JoeyFan commented on #230
@AllenRay 嗯嗯。知道原理了。谢谢。。我想想通过别的方式进行解决一下

[2016-12-01 08:43] #230 closed

[2016-12-01 09:41] alexwangx commented on #227
Mysql Server version: 5.1.73
[MysqlConnection.java#L282](https://github.com/alibaba/canal/blob/3f38ad6f4927e1d3bcf43faca8501df1e706405c/parse/src/main/java/com/alibaba/otter/canal/parse/inbound/mysql/MysqlConnection.java#L282
)
抛出 NullPointerException

[2016-12-05 11:13] dongfangshangren opened #232 "ErrorPacket [errorNumber=1094, fieldCount=-1, message=Unknown thread id: 335944433, sqlState=HY000, sqlStateMarker=#]"
canal版本:1.0.22
mysql版本：阿里云rds mysql5.6.16-log
报如下异常:
2016-12-05 10:05:19.828 [destination = example , address = xxx.mysql.rds.aliyuncs.com/xxx:3306 , EventParser] ERROR c.a.o.canal.parse.inbound.mysql.dbsync.DirectLogFetcher - I/O error while reading from client socket
java.io.IOException: Unexpected End Stream
	at com.alibaba.otter.canal.parse.inbound.mysql.dbsync.DirectLogFetcher.fetch0(DirectLo

[2016-12-05 11:27] smallez opened #233 "canal基于timestamp位点回抽报错"
canal版本：1.0.22
测试时基于timestamp位点信息配置数据重抽，发现日志里不断报错，请问是什么原因，该如何解决？报错信息如下：
2016-12-05 19:24:29.049 [destination = oms_orders , address = /172.172.230.36:3307 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - prepare to find start position ::1480780800000
2016-12-05 19:24:49.062 [destination = oms_orders , address = /172.172.230.36:3307 , EventParser] ERROR c.a.otter.canal.pa

[2016-12-06 01:34] smallez commented on #233
![image](https://cloud.githubusercontent.com/assets/7370509/20909493/1b10a274-bb97-11e6-8098-6fa85a4ab56e.png)
我用的1.0.22版本里的代码，发现异常不是记录日志

[2016-12-06 01:41] dongfangshangren commented on #232
MySQL主从同步中会出现从库执行某些sql语句失败而导致从库备份失败，但是可以通过slave_skip_errors来跳过一些错误，此处应该是这种错误造成canal同步失败，上面1094是mysql从库执行线程相关错误，请问一些canal这边这种情况怎么解决

[2016-12-06 01:43] flying-penguins commented on #188
mysql到canal的连接异常了，比如mysql宕机这种情况，canal是被动接收数据的，自然是不会知道任何链路是否正常的状态；关键是canal是否实现了空闲后有无重连的机制或者mysql异常重连？如若实现了配置哪个参数？

[2016-12-06 02:35] agapple commented on #233
已修改，使用当前master打个包试试

[2016-12-06 02:36] agapple commented on #232
destination:example[java.io.IOException: Received error packet: errno = 1236, sqlstate = HY000 errmsg = Could not find first log file name in binary log index file

[2016-12-06 02:41] agapple commented on #188
canal基于被动监听式的是没法感知socket被server断开的，最重要还是开启心跳binlog，或者升级mysql5.6(mysql针对空闲链接会定时发送心跳binlog事件来维持tcp链接)

[2016-12-06 03:40] flying-penguins commented on #188
在Mysql宕机后重启这种情况下面的，开启心跳没什么用吧？

[2016-12-06 05:46] dongfangshangren commented on #232
是出现java.io.IOException: Unexpected End Stream之后发送KILL DUMP 335944433 之后 ，然后接收到了 [errorNumber=1094, fieldCount=-1, message=Unknown thread id: 335944433, sqlState=HY000, sqlStateMarker=#]，再重连就出现Could not find first log file name in binary log index file了，想问一下是不是那个java.io.IOException: Unexpected End Stream造成的

[2016-12-06 06:41] smallez commented on #233
重新基于master做了编译，替换了driver下的mysqlconnector类，不影响抽取流程了

[2016-12-06 06:41] #233 closed

[2016-12-07 04:57] agapple commented on #232
Could not find first log file name in binary log index file，这个是主因

[2016-12-07 08:11] opensourcezhiwei opened #235 "多表进行数据聚合"
出现源库表的id 会覆盖 目的表库的id,,
导致多条只有一条记录

有什么解决方案~?

[2016-12-07 10:15] #232 closed

[2016-12-15 09:54] aiaix opened #236 "为什么运行好好的，突然报错Could not find first log file name in binary log index file"
双向同步中，出现的。而且还影响了单向同步。 指定了位点，同步看起来正常，但是始终处于定位中，数据不同步。

[2016-12-15 09:54] aiaix commented on #236
但是我这个机器中，OTTER其他SCHEME同步正常。有什么方法处理。

[2016-12-15 11:20] zqhget1 opened #237 "关于canal嵌入式模式重启后数据丢失问题"
大神好：
 本人使用的canal-1.0.22版本，参照otter写了一个数据订阅平台，由于目前canal的event store只有memory模式，当eventstore中的数据还没有来得及消费时，进行重启后，canal会从上次解析的位置进行数据重新装载消费，于是导致了重启前未消费eventstore的数据丢失。请问针对这个问题目前有没有好的处理思路，或者新的版本规划?

[2016-12-16 10:52] AnakinSkyW opened #238 "java.io.IOException: end of stream when reading header 异常"
前两天还正常，今天突然报了这个异常
18:08:13.923 [im_message-****] ERROR  ***.mysql.binlog.CanalClient - process error!
com.alibaba.otter.canal.protocol.exception.CanalClientException: java.io.IOException: end of stream when reading header
	at com.alibaba.otter.canal.client.impl.SimpleCanalConnector.getWithoutAck(SimpleCanalConnector.java:281) ~[canal.client.jar:na]
	at cn.ishow.db.mysql.binlog.CanalClient.process(

[2016-12-16 11:01] JoeyFan opened #239 "使用CanalConnectors.newClusterConnector报错。"
使用zk获取canal连接报错
语句：
 CanalConnector simpleCanalConnector= CanalConnectors.newClusterConnector("10.100.103.19:2181","example","","");
报错信息
Exception in thread "main" java.lang.IllegalAccessError: tried to access method com.google.common.collect.MapMaker.makeComputingMap(Lcom/google/common/base/Function;)Ljava/util/concurrent/ConcurrentMap; from class com.alibaba.otter.canal.common.zookeeper.ZkClien

[2016-12-16 11:07] JoeyFan commented on #239
解决了。依赖更新到最新的1.0.22就ok了。老版本的参数不一致！
<dependency>
  <groupId>com.alibaba.otter</groupId>
  <artifactId>canal.client</artifactId>
  <version>1.0.22</version>
</dependency>

[2016-12-16 11:07] #239 closed

[2016-12-19 03:20] AnakinSkyW commented on #238
sorry,自己的问题

[2016-12-19 03:20] #238 closed

[2016-12-19 03:22] owenludong commented on #236
我这边也是，运行着 突然报这个  canal 1.0.22,   rds

ERROR c.a.o.canal.parse.inbound.mysql.dbsync.DirectLogFetcher - I/O error while reading from client socket
java.io.IOException: Received error packet: errno = 1236, sqlstate = HY000 errmsg = Could not find first log file name in binary log index file
        at com.alibaba.otter.canal.parse.inbound.mysql.dbsync.DirectLogFetcher.fetch(DirectLogFetcher.java:95)

[2016-12-19 09:53] rongyousu opened #240 "切换成group-instance.xml 时，消费不到数据"
2016-12-19 17:28:58.734 [main] INFO  com.alibaba.otter.canal.deployer.CanalLauncher - ## start the canal server.
log4j:WARN No appenders could be found for logger (org.I0Itec.zkclient.ZkEventThread).
log4j:WARN Please initialize the log4j system properly.
2016-12-19 17:28:58.991 [main] INFO  com.alibaba.otter.canal.deployer.CanalController - ## start the canal server[10.97.14.145:11111]
2016-12-19

[2016-12-20 14:43] agapple commented on #236
rds会有删除binlog的操作，如果消费有延迟就容易出现位点不在的情况

[2016-12-20 14:45] agapple commented on #237
不会丢失数据的，下次重启前会以你最后消费ack的位点进行重拉binlog，包括之前内存里没消费的数据

[2016-12-20 14:45] agapple commented on #235
源和目标设置不同的id段

[2016-12-20 14:46] agapple commented on #236
rds会有删除binlog的操作，如果消费有延迟就容易出现位点不在的情况

[2016-12-20 14:47] agapple commented on #240
java.lang.NullPointerException: null
at com.alibaba.otter.canal.parse.inbound.AbstractEventParser.start(AbstractEventParser.java:274) ~

要学会看日志

[2016-12-20 14:51] zqhget1 commented on #237
看了一下代码，ack只是清空了store中数据，没有看到写zookeeper，下次重启后，读取到了zookeeper parse节点的binlog位置，导致数据丢失的

发自网易邮箱大师
在2016年12月20日 22:45，agapple 写道:

不会丢失数据的，下次重启前会以你最后消费ack的位点进行重拉binlog，包括之前内存里没消费的数据

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-12-20 14:55] agapple commented on #237
你要选择default-instance.xml模式，就可以保证刷到zookeeper，可以先看下adminGuide wiki

[2016-12-21 03:07] zqhget1 commented on #237
大概发现问题了，我在初始化CanalLogPositionManager时使用的ZOOKEEPER模式，导致并不会解析MetaLogPosition，另外我的MetaManager刚好也是MEMORY模式，也并不写MetaLogPosition，多谢！

[2016-12-21 06:43] #237 closed

[2016-12-22 10:15] KaimingWan opened #241 "ClusterCanalClientTest运行后server端频繁刷日志： [New I/O server worker #1-2] INFO c.a.otter.canal.server.netty.handler.SessionHandler - message receives in session handler"
clone的最新的canal项目，用ClusterCanalClientTest能正常获取DB的binlog。但是server端疯狂刷日志。虽然是INFO，但是感觉不是很正常。我logback那边开启了<appender-ref ref="STDOUT"/>这个appender

2016-12-22 18:07:31.810 [New I/O server worker #1-2] INFO  c.a.otter.canal.server.netty.handler.SessionHandler - message receives in session handler...
2016-12-22 18:07:31.810 [New I/O server worker #1-2] INFO  c.a.otter.canal.server.netty.handler.SessionHand

[2016-12-22 10:16] KaimingWan commented on #241
开启了这个STDOUT的appender

[2016-12-24 11:48] opensourcezhiwei commented on #235
这样就很不合理了,设置不同的id段,是源1-100目标是100-200吗?
我有设置过把id映射到mid,,然后就会多出记录来,而不是在值相同的地方进行覆盖~
聚合方面的不能整合吗?

2016-12-20 22:45 GMT+08:00 agapple <notifications@github.com>:

[2016-12-26 03:19] slowooo opened #242 "Client requested master to start replication from impossible position"
完整的报错信息：
2016-12-22 00:00:54.195 [destination = ixtrade , address = /172.30.10.109:3306 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - prepare to find start position just last position
2016-12-22 00:00:54.199 [destination = ixtrade , address = /172.30.10.109:3306 , EventParser] ERROR c.a.o.canal.parse.inbound.mysql.dbsync.DirectLogFetcher - I/O error while reading from

[2016-12-27 08:53] agapple commented on #235
分布式场景下，不同分区的id都要求唯一，否则落到一个库上怎么判断是否是一条记录

[2016-12-27 08:53] agapple commented on #241
INFO日志？只是打印了一下日志

[2016-12-27 08:54] agapple commented on #242
sqlstate = HY000 errmsg = Client requested master to start replication from impossible position; the first event 'mysql-bin.000024' at 533920026, the last event read from 'mysql-bin.000024' at 4, the last byte read from 'mysql-bin.000024' at 4.

估计位点错误

[2016-12-27 09:15] KaimingWan commented on #241
哦哦，知道了。netty里面的长连接，server端一直长轮询在拉消息，所以sessionHandler被频繁调用了~

[2016-12-27 11:00] #241 closed

[2016-12-30 03:31] dangxia opened #244 "不能正常关闭Mysql心跳连接"
## MysqlEventParser.stopHeartBeat
![screenshot_20161230_112811](https://cloud.githubusercontent.com/assets/1852661/21559222/32776da4-ce83-11e6-9cdb-e0671014de96.png)

## AbstractEventParser.stopHeartBeat
![screenshot_20161230_112756](https://cloud.githubusercontent.com/assets/1852661/21559229/5bae9b34-ce83-11e6-8de1-258aac961da3.png)

[2016-12-30 06:31] agapple commented on #244
tks

[2016-12-30 06:31] #244 closed

[2016-12-30 07:03] #235 closed

[2016-12-30 07:04] agapple commented on #228
估计是和你环境所有的shell环境不兼容导致，你可以本地测试修复一下，提交一个PR吧

[2016-12-30 07:05] agapple commented on #229
几个建议：
1. 升级下canal版本到最新版
2. 开启心跳SQL,定时产生心跳事件,保证TCP链接一致有包传递

[2016-12-30 07:05] #236 closed

[2016-12-30 07:06] agapple commented on #240
关注下最新版1.0.23

[2016-12-30 07:06] agapple commented on #240
关注下最新版1.0.23

[2016-12-30 07:06] #240 closed

[2016-12-30 07:06] #242 closed

[2016-12-31 10:48] ouminghai opened #246 "UPDATE 事件如何直接获取SQL"
UPDATE 事件如何直接获取SQL。

当前都是获取更新的字段值。

[2017-01-03 04:27] agapple commented on #246
只能自己拼sql

[2017-01-03 09:08] z070204z opened #247 "example无法链接到mysql，报java.lang.NullPointerException"
2017-01-03 16:58:21.099 [destination = example , address = /127.0.0.1:3306 , EventParser] ERROR c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - dump address /127.0.0.1:3306 has an error, retrying. caused by
java.lang.NullPointerException: null
	at com.alibaba.otter.canal.parse.inbound.mysql.MysqlConnection.loadBinlogChecksum(MysqlConnection.java:284) ~[canal.parse-1.0.23.jar:na]
	at com.ali

[2017-01-03 14:26] ch-lgs opened #249 "主备切换的问题"
主备切换的过程中出现错误，log如下（注意mysql-bin.000029=7¾以及Could not find first log file name in binary log index）
2017-01-03 22:09:16.930 [destination = xiaopang3 , address = /192.168.6.123:3306 , EventParser] INFO  c.alibaba.otter.canal.parse.driver.mysql.MysqlConnector - client authentication packet is sent out.
2017-01-03 22:09:16.934 [destination = xiaopang3 , address = /192.168.6.123:3306 , EventParser] INF

[2017-01-04 06:35] #246 closed

[2017-01-05 12:29] minotaursu opened #251 "请问支持10.0.10版本的MariaDB吗"
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: java.lang.IllegalArgumentException: bad format, x exceed: 1207926783, 999999999

mysql使用10.0.10版本的MariaDB，canal启动后解析binlog就会报以上错误。试了1.0.22，1.0.23版本的canal都不行

[2017-01-06 06:51] yakirChen opened #252 "com.alibaba.otter.canal.common.utils.JsonUtils 相关"
客户端启动抛出异常
推测是FastJSON版本问题
<img width="1051" alt="2017-01-06 14 32 56" src="https://cloud.githubusercontent.com/assets/22702893/21709589/0e616c68-d41d-11e6-9af3-88e79a5af79b.png">

[2017-01-09 05:41] yakirChen commented on #252
fastjson的版本问题

[2017-01-09 05:41] #252 closed

[2017-01-10 03:37] happyer opened #253 "prepare to find start position just last position"
部署了两台机器 A，机器 和B 机器，A 机器先启动成功，然后看日志 一直处于 prepare to find start position just last position，之后我把 A 机器关闭了，然后去观察B 机器，然后迅速 获取到postion ，这是问题难道每次都要关闭一台机器吗？

[2017-01-10 05:07] boboChina commented on #227
遇到了同样的问题，老版本的5.1.73 ，楼上最终的解决方案？

[2017-01-11 03:50] Meedly opened #254 "ll"

[2017-01-11 03:59] #254 closed

[2017-01-11 09:17] boboChina commented on #253
我遇到了类似的问题，我只部署了一个canal节点 ，一直卡在定位这一步

[2017-01-11 09:32] happyer commented on #253
@boboChina  单机的话你就不用用zk 了，就可以用了，我怀疑是zk ,有问题日志上面显示一直ping  zk

[2017-01-11 10:53] boboChina commented on #253
我怀疑过，我后台做过几次重试：
1先把canal停了，把zk上面数据删了 这种不行
2 设置binlog文件、位点、时间戳 也不行
根据打印的日志，去对照配置项，和源码里面走到的if else分支对不上

[2017-01-11 10:55] boboChina commented on #253
不用zk也试了下，没效果，怀疑和mysql设置有关，换了其他的mysql有的很快恨得定位就卡死了，但是具体不知道是哪些配置项会有影响

[2017-01-11 10:56] boboChina commented on #247
升级到最新版本

[2017-01-11 11:42] boboChina commented on #109
我也是卡在这里。在mysql端发现canal这个用户一直在执行Binlog Dump

[2017-01-11 12:53] happyer commented on #253
按照你这样的逻辑应该是数据库的问题咯，但是我把Zk关闭了，然后单机模式就可以，数据库没有变化啊

[2017-01-12 03:32] agapple commented on #251
这个估计要看看mariadb在10.0.10上改动了哪些

[2017-01-12 03:33] agapple commented on #227
使用当前主干试试

[2017-01-12 03:34] agapple commented on #253
prepare to find start position just last position , 这个是代表用最后的位点已经启动成功的意思

[2017-01-12 03:34] agapple commented on #247
当前主干已经有人提了PR修复了

[2017-01-12 03:34] #247 closed

[2017-01-12 03:35] agapple commented on #249
感觉是binlog名字出现了乱码，试试当前主干

[2017-01-12 04:11] xut2447 opened #255 "BUG，在Mysql 5.5.28版本下报错"
日志：
2017-01-12 12:06:16.107 [destination = example , address = /127.0.0.1:3306 , EventParser] ERROR c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - dump address /127.0.0.1:3306 has an error, retrying. caused by
java.lang.NullPointerException: null
	at com.alibaba.otter.canal.parse.inbound.mysql.MysqlConnection.loadBinlogChecksum(MysqlConnection.java:309) ~[canal.parse-1.0.24-SNAPSHOT.jar:na

[2017-01-12 06:16] agapple commented on #255
请更新当前master版本

[2017-01-13 14:56] happyer commented on #253
可是启动成功过后，一直就停在那里了，然后客户端去消费的时候，也会一直卡在哪里的

[2017-01-18 02:13] CONANLMN commented on #247
你好，你解决了吗，我也碰到了同样的问题，用了1.0.23，不是已经是最新版本了吗？

[2017-01-18 02:20] z070204z commented on #247
@CONANLMN 这个问题我已经修复提交了，Release里面应该是没有重新打包，你去把最新的源码下下来编译了，替换掉MysqlConnection.class就行

[2017-01-18 07:00] dwoon commented on #188
@agapple  把数据库断开时间改成了2分钟，并且开启了心跳检查。长时间（2分钟以上）没有数据后新插入数据，canal server会获取不到 （过不定时间后canal server又能获取到数据10~30分钟不等）。debug看心跳数据都是能正常收发。日志里没有任何异常输出

## detecing config
canal.instance.detecting.enable = true
#canal.instance.detecting.sql = insert into retl.xdual values(1,now()) on duplicate key update x=now()
canal.instance.detecting.sql = select 1
canal.instance.detecting.interval.time = 3
canal.instance

[2017-01-19 03:26] scyehan opened #257 "MysqlEventParser里发现一个bug"
1.0.23版里MysqlEventParser的stopHeartBeat方法里没有判断heartBeatTimerTask的类型就直接做强制转换，导致下面

java.lang.ClassCastException: com.alibaba.otter.canal.parse.inbound.AbstractEventParser$4 cannot be cast to com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser$MysqlDetectingTimeTask
	at com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser.stopHeartBeat(MysqlEventParser.java:186)
	at com.alibaba.otter

[2017-01-19 04:34] #257 closed

[2017-01-19 04:49] #255 closed

[2017-01-23 08:35] keyganker opened #260 "生产环境版本考量"
我们准备在生产环境使用`canal`，之前在测试环境同事搭建的是`1.0.22`版本，测试使用过程中发现了一些bug（如kill connection的问题），目前看基本上都在`1.0.23`修复了。后来注意到官方wiki推荐的是`1.0.19`版本，请问@agapple基于稳定性而言是推荐使用`1.0.19`版本吗？

[2017-02-06 07:46] zhongjimax commented on #251
@minotaursu 可以试试maxscale的binlogserver组件。

[2017-02-06 10:26] agapple commented on #260
估计是还没有及时更新文档，可以使用最新版本

[2017-02-06 10:28] agapple commented on #251
@zhongjimax binlog server组件只是解决binlog远程下载吧，具体解析工作还得自己做

[2017-02-08 08:52] minotaursu commented on #251
试过了，无法解析mariadb的10.0.10版本。

[2017-02-08 08:52] #251 closed

[2017-02-08 09:41] jixingxing commented on #257
@agapple  大神，这个bug会导致eventparser线程释放不了，是不是意味着 canalserver stop 其实好多stop的事情都没能做到，啥时候能上 1.0.24版本到mvn仓库呢，坐等谢谢大神

[2017-02-09 03:40] keyganker commented on #260
多谢多谢~ 我们也选了最新版本，这几天正在测试

[2017-02-09 03:40] #260 closed

[2017-02-10 09:59] githubchencai opened #261 "java客户端CanalConnector.subscribe()使用以下第二种正则过滤无效"
使用canal的java api， 为什么用第三,四种有效；第二种正则无效，过滤全部呢
ps:canal server的conf/example/instance.properties的canal.instance.filter.regex没有配置

1.  所有表：.*   or  .*\\..*
2.  canal schema下所有表： canal\\..*
3.  canal下的以canal打头的表：canal\\.canal.*
4.  canal schema下的一张表：canal.test1
5.  多个规则组合使用：canal\\..*,mysql.test1,mysql.test2 (逗号分隔)

[2017-02-13 01:31] #261 closed

[2017-02-13 05:23] keyganker commented on #255
感觉这个问题比较严重啊，建议发一个release比较好，对于低版本mysql，canal直接无法正常启动了

[2017-02-17 05:48] #194 closed

[2017-02-17 06:01] ForaLake opened #262 "关于 SlaveId 碰撞问题"
Mysql 会认为拥有同一个 SlaveId 的 connection 都来自同一个从库，因而在两个具有相同 SlaveId 的 canal instance 对同一个 Mysql Master 发起 dump 请求时，必定会有一个 instance 会失败 && 反复重试。

这个错误在 Mysql 中报出来的是 1236，但是并不能通过查找 binlog 异常来解决。
这种情况下，只能重新生成新的 SlaveId。例如这样：

canal.parse: MysqlEventParser.java

[code]

可能能够减少一点手工改配置的工作？

[2017-02-21 02:30] gbfvip opened #263 "[updated]binlog解析疑问"
canal能够解析现在mysql中的Percona分支吗,如果不能,有支持的计划吗

[2017-02-21 11:00] ronyuzhang opened #264 "binlog解析问题"
canal 解析binlog日志 ，有时候获取不到主键是什么原因？ mysql 版本mysql-5.7.14

[2017-02-22 03:25] whlgh258 opened #265 "ErrotCode:400 , Caused by : packet type=CLIENTAUTHENTICATION is NOT supported!"
启动canal，报这样的异常，但是数据库我用msyql客户端，账号密码可以正常登录，mysql从库和canal是部署在同一台服务器上的，请问是什么原因，有碰到相似问题的吗？
2017-02-22 10:53:15.093 [New I/O server worker #1-2] ERROR com.alibaba.otter.canal.server.netty.NettyUtils - ErrotCode:400 , Caused by :
packet type=CLIENTAUTHENTICATION is NOT supported!
2017-02-22 10:53:45.014 [Thread-3] INFO  com.alibaba.otter.canal.deployer.CanalLauncher - ## stop the canal server
2017-02-22

[2017-02-22 03:53] #265 closed

[2017-02-22 10:13] keyganker commented on #263
支持的
不过这种问题你试一下不就知道了，来问一下至少等1天才会有答复，何必呢

[2017-02-23 03:22] wangxianhuilove opened #266 "canal 1.0.16 在批量刷数据库数据出现错误"
canal 1.0.16 在批量刷数据库数据出现错误，请问下这个版本有什么BUG。

[2017-02-24 08:31] gbfvip commented on #263
我表述不够清楚,是这样的
由percona的源库,同步至mysql主分支的目的库
需同步的源表既有innodb,也有tokudb,同步至的目的表均为innodb,源表中均无blob等大字段类型
同步时发生了解析错误(没有更详细的错误堆栈)
pid:17 nid:8 exception:canal:test_canal:com.alibaba.otter.canal.parse.exception.CanalParseException: Unsupported BinlogImage NOBLOB

配置上并没有修改使用默认配置,即支持的image为[FULL,MINIMAL,NOBLOB]

[2017-02-24 09:13] lan1994 opened #267 "canal收集 由一条update语句更新多行 产生的binlog的速度很慢 什么原因呢？"
我们有一个场景，一条update语句更新3000行（update tablename set x='xxx' where id>0 and id <3001），然后提交。发现canal收集速度明显慢于正常情况。

从mysql中查看binlog，发现一个事务里，分成了47个update_row event（因此一个update_row event包含64个行变化）， 在我们的消费场景中消费时发现一个entry（rowDatas）中有64个BinlogRow。47*64正好对应3000行变化。

做了一些测试，发现当所更新的mysql行的大小比较小的时候，一条语句更新多行时，会有这种情况，收集速度也很慢。
但是mysql行比较大的时候，（更新3000行，binlog原始文件中有3000个update_row event），这个时候收集速度就正常了。

现在想了解：
1.是否是因为更新多行产生

[2017-02-24 10:49] keyganker commented on #263
@agapple 求解答

[2017-02-26 15:22] keyganker commented on #228
我也遇到同样的问题，不过最后排查下来是换行符导致的
下载一个dos2linux转换转换一下就搞定了

[2017-02-27 06:46] shang7053 opened #268 "可以只同步特定类型的日志吗？比如新增数据"
RT，只同步新增数据，其它不要，可以做到吗？

[2017-02-28 10:17] liutizhong opened #269 "canal 服务端运行一段时间就报如下错误"
2017-02-28 17:12:37.470 [destination = example , address = /10.10.10.193:3306 , EventParser] ERROR com.alibaba.otter.canal.common.alarm.LogAlarmHandler - destination:example[com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row

[2017-03-01 03:37] whlgh258 opened #270 "接收不到全部的insert事件"
我所在的公司会不定时发放优惠券，每次从几百张到几万张不等，都是批量把优惠券数据插入到数据库中，但是client只能接收到部分insert事件，举例如下：
2017-02-28 11:08:47往数据库中插入了400条记录，但是client只接收到4条insert事件，不知道什么原因，以前我以为是内存的原因，把各个指标都调大了，还是不行。

mysql版本：5.6
canal版本：1.0.20

canal配置：
#################################################
######### 		common argument		#############
#################################################
canal.id= 1
canal.ip= ********
canal.port= 11111

[2017-03-01 09:03] whlgh258 commented on #270
同步别的表的时候没有这个问题，那些表没有同时批量插入很多数据的情况。

[2017-03-01 11:41] baijy1992 opened #271 "fetch failed by table meta:`mysql`.`user`"
昨晚上11：50之前都正常，之后突然出现了问题，看起来和权限相关
线上用的是RDS，
测试线自己的机器canal没有异常
2017-02-28 23:49:51.829 [destination = example , address = /XXX.178.61.230:3306 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEvent
Parser - ERROR ## parse this event has an error , last position : [EntryPosition[included=false,journalName=mysql-bin.000302,position=5492156,serve
rId=3071795599,timestamp=1488296991000]]
co

[2017-03-02 09:45] cclehui opened #272 "server启动后 example instance 和master 一会就莫名的断开连接 ， 没有任何Log"
我是2017-02-27从master上拉取的分支编译的， Mysql版本：5.5.32

启动服务：正常
[code]

example instance 启动失败， 该instance启动连接上了mysql， 然后莫名奇妙的做了一个 disConnect  断开了链接 ， 没有然后就没有任何log了 ， 服务还是在运行，但该instance没有起来 ， 和mysql的链接也没有建立起来 。而且很奇怪的是连接了两次mysql 。 instance的启动log如下

[code]

mysql 的 tcp连接情况：

刚启动的时候：
[code]

[2017-03-02 23:51] tomjamescn commented on #229
我也遇到了这个问题，具体场景是，一张60多万的表，有批量更新操作（update语句没有where条件），这样基于row模式的binlog就特别多，每次执行到30w数据时，就报这个错误了。我现在加上了心跳sql，还在观察数据。

[2017-03-03 05:26] xieahui commented on #271
我在使用canal监听库的时候删除了一个表之后也包类似的错误, 这个问题解决了吗?

[2017-03-03 06:20] shang7053 opened #273 "报错，转换异常"
java.lang.ClassCastException: com.alibaba.otter.canal.parse.inbound.AbstractEventParser$4 cannot be cast to com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser$MysqlDetectingTimeTask
	at com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser.stopHeartBeat(MysqlEventParser.java:186) ~[canal.parse-1.0.23.jar:na]
	at com.alibaba.otter.canal.parse.inbound.AbstractEventParser.stop(Abstra

[2017-03-03 09:39] Christsam opened #274 "解析binlog日志失败"
canal运行后解析binlog日志的时候出现错误，提示Read Q_SQL_MODE_CODE error: limit excceed: 67
我看了canal的部分源码，貌似是sql_mode设置的不对？SQL_mode在canal里定义是64位的所以用getLong64，但是实际是67导致越界了？没看出数据库的数据有啥问题
PS: mysql版本是5.7.14

mysqlbinlog的日志：
-------------------------------------------------------------------
见附件
![binlog](https://cloud.githubusercontent.com/assets/2059502/23546331/104ef6f0-003a-11e7-8f0c-40f50a85356c.png)

[binlog.txt]

[2017-03-03 10:51] tomjamescn commented on #229
测试了一下，貌似是客户端处理时间过长导致的，如果客户端处理很快，就没有这个问题。所以我目前的解决方案是在客户端中将接收message和处理通过文件队列异步处理。但这样带来一个麻烦，就是失败的逻辑，得在客户端在实现一次。

[2017-03-06 06:35] rocky-peng opened #275 "canal.instance.filter.regex 参数不起作用"
canal.instance.filter.regex = demodbname\\\\.user

这样设置后，client端还是会接受到接收到非user表的binlog日志信息。
使用版本：
1.0.23

[2017-03-06 07:22] rocky-peng opened #276 "canal 服务端显示某个配置成功，但client端异常"
[code]
日志显示 local 这个instance成功，但client报异常：

[code]

[2017-03-06 07:28] rocky-peng opened #277 "配置自动更新功能不稳定"
[code]
重启就可以

[2017-03-06 09:00] hrdxwandg commented on #228
@keyganker
我的不是这个原因，是shell环境不兼容导致的。
我的linux版本是ubuntu 4.4.0-36-generic，这个版本自带的sh估计和官方的不一样。
命令改为用bash stop.sh就没有问题了。

[2017-03-06 14:56] keyganker opened #278 "canal server cpu 100%"
@agapple
版本是最新的master，我是从4天前的一个binlog pos点开始同步的，发现同步速度跟之前相比慢很多，top发现canal server cpu一直100%，经过定位找到如下栈：
![cpu](https://cloud.githubusercontent.com/assets/3198806/23615030/0adf5ef2-02c0-11e7-9334-fc3c3e399d6e.png)
内存当时是：
             total       used       free     shared    buffers     cached
Mem:         32047      24349       7698          0        274      13740
-/+ buffers/cache:      10333

[2017-03-10 05:31] baijy1992 commented on #271
之前监听了所有的库，看文档可以用配置只监听指定库，canal.instance.filter.regex

[2017-03-10 05:47] youngJavabird opened #279 "运行客户端 batchId偶尔出现冲突问题"
batchId:2176966 is not the firstly:2176965
        at com.alibaba.otter.canal.client.impl.SimpleCanalConnector.receiveMessages(SimpleCanalConnector.java:302)     at com.alibaba.otter.canal.client.impl.SimpleCanalConnector.getWithoutAck(SimpleCanalConnector.java:279)
        at com.alibaba.otter.canal.client.impl.SimpleCanalConnector.getWithoutAck(SimpleCanalConnector.java:252)
        at com.yagou

[2017-03-11 11:21] cclehui commented on #272
这个问题已经找到原因了，我自己的测试mysql服务器配置的 interactive_timeout 和 wait_timeout 分别为30、20 ， 过了20秒后mysql 主动关闭不活跃的连接

[2017-03-11 11:21] #272 closed

[2017-03-11 11:34] cclehui opened #280 "[bug]TableMetaCache 在连接断了后的reconnect功能无效"
master上的源代码：
[code]

可以看到在捕获到IOException 后会自动重连一次，然后在获取表结构。但问题在于如果mysql master主动关闭了连接，根本不会抛出这个IOException, 相反抛出的是一个 RuntimeException，相应的异常抛出代码在 MysqlQueryExecutor  29行：
[code]

如上所述，重连逻辑没有生效。

bug复现方法：
把 master mysql 的 wait_timeout 设置成20秒， 启动canal后等20秒， 去master做一些insert或update操作， canal slave得到这个binlog后，解析，如果本地没有标结构信息，就会通过一个非slave连接去master获取表结构信息， 但20秒后master已关闭该连接，这时候就抛出了RuntimeException ， 然后这个bin

[2017-03-13 01:56] #279 closed

[2017-03-15 12:57] keyganker commented on #280
我也遇到了同样的问题

[2017-03-15 13:33] keyganker commented on #280
还有另外一个信息，理论上canal server在遇到异常之后是会重试的，如下：
![retry](https://cloud.githubusercontent.com/assets/3198806/23950250/4cf424ba-09c5-11e7-8439-a683e064a3ee.png)

从日志上来看也确实重试了，并且恢复了正常：
![retry_log_1](https://cloud.githubusercontent.com/assets/3198806/23950630/937491f8-09c6-11e7-83c6-bd15f16b34a7.png)

但是后面过段时间DB链接再次断掉之后却没有重试成功日志：
![retry_log_2](https://cloud.githubusercontent.com/assets/3198806/23950657/b04

[2017-03-16 11:46] keyganker opened #281 "fastjson高危漏洞"
不知道有没有影响
https://github.com/alibaba/fastjson/wiki/security_update_20170315

[2017-03-16 13:36] keyganker commented on #281
see #283

[2017-03-17 03:34] liutizhong commented on #280
期待完美解决方案..................

[2017-03-17 05:49] pengan1990 opened #284 "here comes an MySQL bug between MySQL 5.6.20 & MySQL5.6.34"
for MySQL5.6.20 have not compatible with MySQL5.5, so it will no kill zombie thread without the slave uuid

![mysql5 6 20](https://cloud.githubusercontent.com/assets/22068461/24030521/6586639a-0b18-11e7-8014-068073ee5408.png)

![mysql5 6 34](https://cloud.githubusercontent.com/assets/22068461/24030527/6efc0060-0b18-11e7-8484-037403014128.png)

[2017-03-17 05:58] pengan1990 commented on #284
fix this bug for using set @slave_uuid="${uuid}" command before dump

[2017-03-17 07:35] GYWang1983 opened #285 "Canal报找不到binlog file"
2017-03-17 15:17:27.000 [destination = qbo , address = /10.0.0.68:3306 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - **Didn't find the corresponding binlog files from mysql-bin.000001 to mysql-bin.000004**
2017-03-17 15:17:27.005 [destination = qbo , address = /10.0.0.68:3306 , EventParser] ERROR c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - dump address /10.

[2017-03-17 09:51] liutizhong commented on #275
[zk: localhost:2181(CONNECTED) 44] get /otter/canal/destinations/example/1001/filter
.*\..*
cZxid = 0x1000013e8
ctime = Fri Mar 03 11:26:12 CST 2017
.....................
....................

[zk: localhost:2181(CONNECTED) 48] set /otter/canal/destinations/example/1001/filter demodbname\\.user

试试，zk 中貌似记录了初始值，修改配置文件后，重启服务，貌似zk中的值没有修改过来，导致的 参数不起作用，个人猜测的

[2017-03-17 10:55] agapple commented on #262
你能提交一个pull request给我不？

[2017-03-17 10:55] agapple commented on #264
没遇到过用户反馈，最好能明确一下复现的场景，比如mysql表，canal版本等一些信息

[2017-03-17 10:56] agapple commented on #266
你关注一下release note

[2017-03-17 10:58] agapple commented on #267
这个之前没有刻意关注过，你关注到慢有一些具体的数据么？比如评估tps大概是多少？

[2017-03-17 10:58] agapple commented on #268
你先了解一下mysql binlog的基本概念

[2017-03-17 10:58] #268 closed

[2017-03-17 10:59] agapple commented on #269
canal server在重启估计，client多做一下重试即可

[2017-03-17 10:59] agapple commented on #273
新的master代码已经修复

[2017-03-17 11:00] agapple commented on #274
mysql 5.7.14版本还没测试过，可能是有协议变更

[2017-03-17 11:00] agapple commented on #276
服务端可能发生了重启，client多重试

[2017-03-17 11:01] agapple commented on #277
把完整的异常贴清楚

[2017-03-17 11:02] #228 closed

[2017-03-17 11:02] agapple commented on #278
这块是有新同学提交的netty4的实现，可能存在一些问题

[2017-03-17 11:04] agapple commented on #271
过滤一下mysql.user表

[2017-03-17 11:06] agapple commented on #285
这异常是你指定的时间戳，比现在的任何binlog文件都早，调整一下位点

[2017-03-17 11:08] agapple commented on #284
我看一下，可能也是因为这个很多用户反馈链接异常断开的一个问题

[2017-03-17 11:10] agapple commented on #281
我关注一下

[2017-03-17 11:10] #281 closed

[2017-03-17 11:29] lan1994 commented on #267
相同配置的情况下，一条sql语句只影响一行的情况下，大概每秒能收集7MB原始binlog文件，这种一条sql语句影响多行的会特别慢，我当时测一条sql语句更新3000行，大概每秒只能收集0.5MBbinlog文件。。
我测试的时候发现，只有原先mysql单条记录比较小的时候，这样批量更新会出现这种情况。对于批量更新单条mysql记录比较大的操作（我尝试的是各个字段加起来超过1KB），收集速度和正常情况差不多。

[2017-03-17 11:41] #280 closed

[2017-03-17 12:37] agapple commented on #274
改了一个代码，帮我验证一下mysql 5.7.14环境是否可以正常解析，谢谢。验证ok之后回复一下信息

[2017-03-18 10:00] yufeng0528 commented on #187
有个bug在1.0.23下
`com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: java.lang.IllegalArgumentException: illegal json data
	at com.taobao.tddl.dbsync.binlog.JsonConversion.parse_scalar(JsonConversion.java:150)
	at com.taobao.tddl.dbsync.binlog.JsonConversion.parse

[2017-03-20 02:04] yufeng0528 opened #287 "json类型字段bug"
有个bug在1.0.23下
com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed. Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed. Caused by: java.lang.IllegalArgumentException: illegal json data at com.taobao.tddl.dbsync.binlog.JsonConversion.parse_scalar(JsonConversion.java:150) at com.taobao.tddl.dbsync.binlog.JsonConversion.parse_va

[2017-03-20 03:37] haitaoyao commented on #126
@agapple 所以就是迄今为止 canal 也没有支持 GTID 是么?

[2017-03-20 03:38] agapple commented on #187
给出你测试的json字符串

[2017-03-20 03:38] agapple commented on #287
给出你有问题的json字符串

[2017-03-21 07:59] yufeng0528 commented on #287
`{"性别": "男", "手机号": "18606520112", "cardNumber": "", "微信昵称": "Peter"}`

[2017-03-22 09:10] wayneFly commented on #274
mysql版本5.4.0

[2017-03-24 10:04] Luckywb opened #288 "与guava 20有兼容问题，guava 18 MapMaker.makeComputingMap方法已过时"
Exception in thread "main" java.lang.NoSuchMethodError: com.google.common.collect.MapMaker.makeComputingMap(Lcom/google/common/base/Function;)Ljava/util/concurrent/ConcurrentMap;
	at com.google.common.collect.MigrateMap.makeComputingMap(MigrateMap.java:17)
	at com.alibaba.otter.canal.common.zookeeper.ZkClientx.<clinit>(ZkClientx.java:26)
	at com.alibaba.otter.canal.client.CanalConnectors.newCluste

[2017-03-27 04:22] tutulvlv opened #289 "something goes wrong with channel"
ERROR c.a.otter.canal.server.netty.handler.SessionHandler - something goes wrong with channel:[id: 0x68949ed6, /10.253.0.5:59418 => /10.124.134.173:11111], exception=java.io.IOException: Connection reset by peer

[2017-03-27 06:16] zqhget1 opened #290 "生产配置咨询"
线上环境，通过canal嵌入式方式使用，现在想将CanalLogPositionManager配置为FailbackLogPositionManager模式，CanalMetaManager配置为PeriodMixedMetaManager，是否存在重复消费问题？比如：PeriodMixedMetaManager客户端消费某条数据后，还未更新cursor如zookeeper中，任务进行重启，客户端将按照zookeeper中cursor进行重复消费。
为了追求一致性，是否将CanalMetaManager配置为ZooKeeperMetaManager更为合适？

[2017-03-27 16:25] #287 closed

[2017-03-28 01:46] agapple commented on #288
考虑提交一个PR给我把，guava 20目前内部还没人用上

[2017-03-28 01:47] agapple commented on #289
网络重置，客户端增加一下重连机制吧

[2017-03-28 01:48] agapple commented on #290
重复消费这块无法避免，位点重复只是一方面，还有就是batch一批数据的处理，如果进程挂了，下次还是会整个batch进行处理。so.  这样的改造没有太多的意义

[2017-03-28 01:48] #290 closed

[2017-03-28 02:28] tutulvlv commented on #289
这是服务端的出错异常，客户端没有异常，没有断连，服务端开启HA（default-instance.xml）后就出现了这种情况

[2017-03-28 07:19] Luckywb commented on #288
自己实现了CanalNodeAccessStrategy解决了

[2017-03-28 07:19] #288 closed

[2017-03-30 02:59] wangminli commented on #289
我这里是多个客户端连接了服务器报的错，多地监听会有这个问题，只启一个就好了。

[2017-03-30 03:08] tutulvlv commented on #289
谢谢大牛们，问题解决了，是zookeeper的问题，重安了一个好了，新手学习，多多包涵

[2017-03-30 03:08] #289 closed

[2017-03-31 02:10] yangdehua commented on #284
可以参考下MySQL源码的实现,在建立IO线程到Master的时候,会设置一下uuid

[2017-03-31 06:29] #277 closed

[2017-03-31 06:29] #276 closed

[2017-04-01 13:02] agapple commented on #284
看了mysql5.6的源码，它应该是兼容了mysql5.5 client的serverId的dump，如果没有设置slave_uuid默认也会是基于serverId进行判断.  增加slave_uuid之后可以避免对于slaveId不同的强依赖

[2017-04-01 13:02] #284 closed

[2017-04-01 13:38] agapple commented on #262
最新的版本已经设置了slave_uuid

[2017-04-01 13:38] #262 closed

[2017-04-01 13:38] #253 closed

[2017-04-01 13:38] #249 closed

[2017-04-01 13:39] agapple commented on #271
最新版本24已经支持

[2017-04-01 13:39] #271 closed

[2017-04-01 13:39] #269 closed

[2017-04-01 13:39] #273 closed

[2017-04-01 13:40] #274 closed

[2017-04-01 13:41] agapple commented on #263
otter不支持image模式为NOBLOB

[2017-04-01 13:41] #263 closed

[2017-04-01 13:42] #275 closed

[2017-04-01 13:42] #229 closed

[2017-04-01 13:43] #224 closed

[2017-04-01 13:43] #285 closed

[2017-04-05 02:32] yujinsong opened #292 "怎么在docker中启动canal server"
怎么在docker中启动canal server

[2017-04-05 02:50] yujinsong commented on #292
问题解决了

[2017-04-05 02:50] #292 closed

[2017-04-05 11:06] yujinsong commented on #238
什么原因，我也遇到了

[2017-04-10 12:12] pan289091315 commented on #267
@lan1994 你那个问题解决了吗？我们也遇到类似的问题

[2017-04-11 07:18] lan1994 commented on #267
@pan289091315 没解决

[2017-04-12 01:53] tutulvlv commented on #229
各位前辈，这个问题我也是时不时的出现，有实用的解决方案吗，谢谢啦

[2017-04-12 02:15] jiatianyao opened #294 "Exception in thread "main" java.lang.UnsupportedOperationException: This is supposed to be overridden by subclasses."
运行ClientSample，提示This is supposed to be overridden by subclasses.
环境：
canal server在linux机器侠监听远程linux机器mysql的binlog
在win7机器使用ClientSample报错

[2017-04-12 03:03] tutulvlv commented on #197
@agapple 您好，我最近也发现了这个问题，您说得主干打包是什么意思，没明白，这个问题您在另一个相同issue里提出的解决方案是打开心跳sql，有具体可行的方案吗，刚接触不久，谢谢啦

[2017-04-12 06:53] jiatianyao commented on #109
这个怎么能和权限有关系呢？如果canal读的不是本机呢？

[2017-04-13 04:50] tutulvlv opened #295 "canal客户端或服务端基于zookeeper跑一段时间挂了"
直接重启无效，必须要把zookeeper里canal相关的节点都删除，再重启canal服务端和客户端，才可以正常运行，还有我开启了HA模式，但为了测试只运行了一个canal服务端

[2017-04-13 09:25] JeffreyQiu opened #296 "单Server情况下ClusterCanalConnector在与server断开重连时NullPointException导致restart无法执行问题"
以getWithoutAck方法举例：
[code]
当与server连接断开（网络原因或server被停止）时currentConnector.getWithoutAck抛出异常，进入restart方法，在调用connect方法依然连接失败时，会将currentConnector置为null，超过重试次数后抛出Exception。此时再次尝试调用getWithoutAck方法时，因currentConnector为null，currentConnector.getWithoutAck抛出NullPotionException，然后被catch住，在 logger.warn打印日志的时候使用了currentConnector，又会抛出NullPotionException，从而导致restart方法无法被执行。在server恢复后，由于相同原因，客户端依然无法连接上server。

[2017-04-14 13:33] JoyJava commented on #295
看下ＪＶＭ内存和ＧＣ情况

[2017-04-21 03:13] lan1994 opened #297 "发生网络抖动后，canalserver会卡住，不能自动恢复"
问题描述：
当发生网络抖动时，canalserver会被卡住，网络恢复正常后canalserver不能自动恢复正常，需要手动重启instance才能恢复。
心跳检查是开启的，异常栈如下：
2017-04-21 00:29:16.425 [destination = xxxx, address = xxxx , HeartBeatTimeTask] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - connect failed by java.io.IOException: Connection reset by peer
        at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
        at sun.nio.ch.SocketDispatcher

[2017-04-21 03:13] lan1994 commented on #297
@agapple

[2017-04-26 08:50] showcup opened #298 "startup.sh脚本有错误"
在linux环境中执行启动命令时报下面错误，可以推测startup.sh脚本有错误。
[root@localhost bin]# sh startup.sh
: command not found
'tartup.sh: line 4: syntax error near unexpected token `in
'tartup.sh: line 4: `case "`uname`" in
[root@localhost bin]#

[2017-05-03 01:53] angelmm126 opened #299 "日志异常dataType=DB_BATCH，求解决办法"
日志错误信息：
pid:5 nid:1 exception:setl:load miss data with keys:[MemoryPipeKey[identity=Identity[channelId=2,pipelineId=5,processId=702747],time=1493745579135,dataType=DB_BATCH]]

pid:5 nid:1 exception:canal:canal_题库:java.io.IOException: Connection reset by peer
    at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
    at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
    at sun.nio.ch

[2017-05-03 02:03] liyongcun commented on #192
canal基本是没有权限管理的，11111端口被扫描到，就可能被连接上，非嵌入式只是在嵌入式的基础上稍微封装下netty，我有一个简单的本公司用的认证改动版，基于客户端的IP和用户名密码验证，不通过断开，可以发给你参考下，或者你参考下netty的简单认证代码

[2017-05-03 08:08] wang87612 opened #300 "binlog 解析出现问题"
com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: java.lang.IllegalArgumentException: limit excceed: 191
	at com.taobao.tddl.dbsync.binlog.LogBuffer.getFullString(LogBuffer.java:1140) ~[canal.parse.dbsync-1.0.25-SNAPSHOT.jar:na]
	at com.taobao.tddl.dbsync.binlog.event.RowsLogBuffer.fetchValue(RowsLogBuffer.java:923) ~[canal.parse.dbsync-1.0.25-SNAPSHOT.

[2017-05-03 08:14] wang87612 commented on #300
同样版本的 另一个mysql  binlog 解析就没有问题
[mysql-bin.005283.zip](https://github.com/alibaba/canal/files/972748/mysql-bin.005283.zip)

[2017-05-03 09:13] wang87612 commented on #300
加大了  canal.instance.memory.buffer.size 不在报错 但是 也不解析
## memory store RingBuffer size, should be Math.pow(2,n)
canal.instance.memory.buffer.size = 268435456

[2017-05-03 09:14] wang87612 commented on #300
用FileLogFetcherTest本地解析binlog 也同样报错 但是 加大
 FileLogFetcher fetcher = new FileLogFetcher(1024 * 1024 * 1024);
参数后 测试通过

[2017-05-03 09:19] wang87612 commented on #300
很奇怪 我换了个几个mysql 版本 生成的binlog  用这个本地解析类FileLogFetcherTest 都不能正常解析
都必须调整 new FileLogFetcher(1024 * 1024 * 1024); 这里的参数 往大了调才测试通过

[2017-05-03 11:11] wang87612 commented on #300
貌似和 varchar 长度有关系  超过255 就会出现这个问题

[2017-05-03 11:11] wang87612 commented on #300
出错的几个表 varchar长度均超过了255 有的1024 有的2048

[2017-05-04 11:02] wang87612 commented on #300
最新发现 貌似和 下面的表结构有关系
 `create_time` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) COMMENT '创建时间',
  `update_time` timestamp(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6) COMMENT '最近操作时间',
  `submit_time` timestamp NULL DEFAULT NULL COMMENT '第一次提交借进件的时间',

 只要建表里 有这些列 就直接解析出错 建表不加这些列 就解析没问题

[2017-05-08 06:19] wang87612 commented on #300
### INSERT INTO `a1`.`apply_info_222`
### SET
###   @1=***Corrupted replication event was detected. Not printing the value***

每次我插入一条数据  在binlog里 都会出来这个玩意 感觉是这个的问题

[2017-05-10 07:10] ChanShuYi commented on #198
CanalParseException: can't find start position for example

发生上面的错误原因是时间戳的问题，可能导致的原因有几个：

- conf/${instance}/meta.dat 文件。
- 之前的instance名在Zookeeper中已经有binlog时间戳记录，但你之后的instance修改了数据库连接，但是instance名还是相同，因此会导致这个问题。我修改instance名之后就可以了。

[2017-05-11 05:56] caliburn1994 opened #301 "无法使用stop.sh"
[code]

[code]

是我的问题吗?

[2017-05-11 05:56] agapple commented on #300
我先关注一下你的测试binlog文件

[2017-05-11 05:57] agapple commented on #299
Connection reset by peer，网络被mysql给断开了吧，重试一下就好

[2017-05-11 05:57] #299 closed

[2017-05-11 05:57] agapple commented on #298
每人的环境不同，尝试调整一下shell脚本，可以提交一个PR给我

[2017-05-11 05:57] #298 closed

[2017-05-11 05:59] agapple commented on #297
要么是mysql binlogdump的tcp链接被异常断开了，canal没有感知到

[2017-05-11 06:06] #296 closed

[2017-05-11 06:07] agapple commented on #197
@tutulvlv 使用1.0.24新版试试

[2017-05-11 06:07] agapple commented on #294
protobuf版本冲突吧

[2017-05-15 03:46] lan1994 commented on #297
代码中，有异常应该是能捕捉到的，捕捉到异常会重连重试的，但是我这里没有重试。你说canal没有感知到是指异常没有捕捉到吗

[2017-05-15 03:56] lan1994 commented on #188
mysql与canl-server的tcp连接闪断，canl-server并不知情，导致后续的binlog无法通知到canal-server，这个怎么破？
---------------------------------------------------------------------------------------------------
这个问题你怎么解决的，我现在也遇到了这个问题 @githubcjh

[2017-05-17 07:24] hrdxwandg opened #302 "从mysql的从库中同步数据该怎么解析？"
手上有两台mysql，一台作为master，一台作为slave。想把canal接到slave上。但是slave机器为了和master机器同步，产生的是[hostname]-relay-bin命名的log。这种情况canal该如何和slave机器对接呢。官方文档中只有对接mysql-bin这种命名的方式。有配置的地方可以自己调整么？

[2017-05-17 07:26] hrdxwandg commented on #301
参考：
https://github.com/alibaba/canal/issues/228
应该类似

[2017-05-19 01:53] owenludong opened #303 "一段时间没有去拉binlog，直至报错的疑问"
18:23:55.605收到最后一个binlog请求，下一个日志就是2017-05-18 20:35:27.539的日志，
两个疑问：
1、中间两个小时的binlog为什么没有去拉
2、2017-05-18 20:35:27.539  的报错不像是找不到binlog文件，这个错误有什么经验能分享下吗？

下面的是昨晚的日志：

2017-05-18 18:23:55.605 [New I/O server worker #1-6] INFO  c.a.otter.canal.server.embedded.CanalServerWithEmbedded - ack successfully, clientId:1001 batchId:7193361 position:PositionRange[start=LogPosition[identity=LogIdentity[sourceAd

[2017-05-23 07:40] Sunkiss007 commented on #302
看看下面这段话对你有没有帮助。
Slave的配置与master类似，你同样需要重启slave的MySQL。如下：
log_bin           = mysql-bin
server_id         = 2
relay_log         = mysql-relay-bin
log_slave_updates = 1
read_only         = 1
server_id是必须的，而且唯一。slave没有必要开启二进制日志，但是在一些情况下，必须设置，例如，如果slave为其它slave的master，必须设置bin_log。在这里，我们开启了二进制日志，而且显示的命名(默认名称为hostname，但是，如果hostname改变则会出现问题)。
relay_log配置中继日志，log_slave_updates表示slave将复制事件写进自己的二进制日志(后面会看到它

[2017-05-23 07:47] Sunkiss007 commented on #303
2017-05-18 20:35:27.599 [destination = db50-59 , address = mangoerpdb1.mysql.rds.aliyuncs.com/10.157.81.57:3306 , EventParser] ERROR c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - dump address mangoerpdb1.mysql.rds.aliyuncs.com/10.157.81.57:3306 has an error, retrying. caused by
java.io.IOException: Connection timed out
会不会是这段时间数据库连接异常？

[2017-05-23 08:16] jiatianyao opened #304 "canal.destinations支持两个，CanalConnectors.newClusterConnector里的destinations只支持一个是吗"
RT

[2017-05-23 08:18] #294 closed

[2017-05-23 08:56] zhangbug opened #305 "canal+mysql5.5.35报错：can't find start position"
pid:1 nid:2 exception:canal:CTSDB-CANAL-master:com.alibaba.otter.canal.parse.exception.CanalParseException: can't find start position for CTSDB-CANAL-master

目标数据库是mysql-community-server-5.7.18-1
正式业务环境的数据库是mysql-5.5.35

之前在测试环境源和目的都是mysql-community-server-5.7.18-1时，成功，换到正式业务环境的mysql5.5时报错。

canal.deployer-1.0.24
node.deployer-4.2.14
manager.deployer-4.2.14
zookeeper-3.4.10
aria2-1.19.0

[2017-05-24 10:34] phpwei commented on #302
canal 是模拟MySQL的主从  你从slave 中同步  ，slave 相对于canal 来说就是master 解析slave中的二进制文件。

[2017-05-24 14:55] mi9944 opened #306 "怎么解析date类型"
怎么解析date类型

[2017-05-25 03:58] thl1207 opened #307 "client的例子中，取到的ddl语句sql为什么是乱码"
看了下底层的实现是先回转成utf-8编码的，但是取出来的还是乱码

[2017-05-25 04:02] wufengbin opened #308 "配置文件中怎么没有canal.properties"
配置文件中怎么没有canal.properties

[2017-05-25 07:01] #308 closed

[2017-05-25 10:50] luyee commented on #306
client 都是string了，只能自己转java  type？

[2017-05-27 09:01] luyee opened #309 "ERROR ## parse this event has an error , last position : [mysql-bin.000001,1199597] java.lang.NullPointerException: null"
[code]
show binlog events;
[code]

[2017-05-27 12:41] dnfhujun opened #310 "canal同步的时候，有些binlog没有同步过来"
我使用的集群模式，同步一个数据库的数据，有更新的binlog同志同步过来，但是我自己修改数据库的数据，确没有同步过来，不知道啥情况~

[2017-05-31 02:16] #309 closed

[2017-05-31 09:22] wql6 opened #311 "canal怎么只监听一个数据库"
1.假如mysql中有多个数据库，只监听test数据库怎么配置？
2.假如可以的话，怎么此库下的配置某一张表？
3.canal.instance.defaultDatabaseName = 怎么使用

[2017-06-01 07:17] kervin521 opened #312 "canal对MySQL5.7有支持吗？"
canal版本：1.0.24
MySQL版本：5.7.18

对以上版本不支持

[2017-06-01 07:54] GoldenSelfish commented on #192
好的，谢谢，麻烦发我一份

在 2017-05-03 10:03:53，"liyongcun" <notifications@github.com> 写道：

canal基本是没有权限管理的，11111端口被扫描到，就可能被连接上，非嵌入式只是在嵌入式的基础上稍微封装下netty，我有一个简单的本公司用的认证改动版，基于客户端的IP和用户名密码验证，不通过断开，可以发给你参考下，或者你参考下netty的简单认证代码

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-06-01 10:30] kervin521 opened #313 "可以instance列表进行连接吗？"
canal.destinations=example，example2，......
服务器可以配置多个实例列表

而连接时只支持单个实例，为什么不支持多个？
String destination=example;
connector = CanalConnectors.newClusterConnector(addresses, destination, username, password);
connector = CanalConnectors.newSingleConnector(new InetSocketAddress(ip, port), destination,username, password);

destination参数为什么不能和配置参数一样支持多个，比如: destination=example，example2，......

[2017-06-01 11:00] liyong2008 commented on #313
好像文档有说吧,一个client只支持单个instance

[2017-06-01 11:17] liyong2008 commented on #311
在配置文件里设置,如conf\example\instance.properties里有2个配置选项
canal.instance.filter.regex = .*\\..* 这个是白名单,如test\\..*只监听test数据库,test\\.test监控test库里的test表,多个的话用逗号隔开,但是注意这个配置是无效的,必须在客户端subscribe方法里配置,因为会覆盖
canal.instance.filter.black.regex =  这个是黑名单,排除库表,配置同上,这个配置有效

具体配置示例参照源码目录里filter部分

[2017-06-02 09:06] chenyurong opened #314 "ClientRunningMonitor ConnectException"
在CentOS7.2的服务器上，运行着运行着就发现抛出了ConnectException，提示连接异常。请问这个是哪部分出了问题？

[code]

[2017-06-04 02:51] jayws opened #315 "canal client可以做集群负载均衡方式吗？"
你好！请问canal client可以做集群负载均衡方式吗？是否能有个例子简单说明一下，谢谢！

[2017-06-05 03:47] luyee commented on #315
ClientRunningMonitor / ServerRunningMonitors  maybe useful

[2017-06-05 04:45] jayws commented on #315
你说的应该是HA方式吧，但是我想实现，比如当一个节点负载太多，然后就会自动分配到另一个节点来运行，这可以吗？谢谢

[2017-06-05 06:07] #311 closed

[2017-06-05 07:15] kervin521 opened #316 "MySQL5.6.10连接失败"
Exception in thread "main" com.alibaba.otter.canal.protocol.exception.CanalClientException: something goes wrong with reason: something goes wrong with channel:[id: 0x6ac75c6a, /127.0.0.1:51803 => /127.0.0.1:11111], exception=java.lang.NullPointerException
	at com.alibaba.otter.canal.store.memory.MemoryEventStoreWithBuffer.calculateSize(MemoryEventStoreWithBuffer.java:535)
	at com.alibaba.otter.ca

[2017-06-05 07:23] luyee commented on #315
不支持LB吧，其实是standby模式吧

[2017-06-05 07:54] luyee commented on #313
@liyong2008   这样的话  假设20个instance  需要部署20 个client？

[2017-06-05 07:55] luyee commented on #315
see  https://github.com/alibaba/canal/issues/147

[2017-06-05 12:10] zjjott commented on #305
+1

[2017-06-06 03:29] jayws commented on #315
谢谢

[2017-06-06 03:29] #315 closed

[2017-06-06 03:41] jayws opened #317 "把配置文件移动到另一个目录，需要修改哪些内容？"
你好！请问我是想把conf目录下的配置文件移动到其它目录，需要修改哪些内容呢？谢谢

[2017-06-07 07:44] hucc007 commented on #313
group-instance.xml介绍：

主要针对需要进行多库合并时，可以将多个物理instance合并为一个逻辑instance，提供客户端访问。

场景：分库业务。 比如产品数据拆分了4个库，每个库会有一个instance，如果不用group，业务上要消费数据时，需要启动4个客户端，分别链接4个instance实例。使用group后，可以在canal server上合并为一个逻辑instance，只需要启动1个客户端，链接这个逻辑instance即可.

[2017-06-09 01:22] xuliangyong opened #318 "canal example报错：something goes wrong when getWithoutAck data from server:null"
canal example 启动了两台,相当于主从把 一台挂了会自动切换到另一台 运行中出现如下异常
2017-06-08 02:39:42.964 [Thread-3] WARN  c.alibaba.otter.canal.client.impl.ClusterCanalConnector - something goes wrong when getWithoutAck data from server:null
com.alibaba.otter.canal.protocol.exception.CanalClientException: java.nio.channels.AsynchronousCloseException
	at com.alibaba.otter.canal.client.impl.SimpleCanalConnector.getWithoutAck(Sim

[2017-06-13 06:21] xzhhh opened #320 "关于解析位点与消费位点"
canal真好用，谢谢你们的付出。但是我发现一个问题（不知道是不是真的问题）
场景：
canal server和client都在运行中，此时往数据库变更很多数据（假设十万）
现在假设parser已经解析完，位点处于binlog最新的位置，但client消费很慢，只消费了一万条数据。此时如果server挂了，然后重新启动，读取zk上的解析位点（binlog最新位置），此时server上的binlog数据只有最新的，而client还没消费完，此时client再获取数据，是不是就获取不到那九万条没消费的数据？

[2017-06-13 07:08] luyee commented on #320
https://github.com/alibaba/canal/blob/master/parse/src/main/java/com/alibaba/otter/canal/parse/inbound/mysql/MysqlEventParser.java#L314

https://github.com/alibaba/canal/blob/master/parse/src/main/java/com/alibaba/otter/canal/parse/inbound/mysql/MysqlEventParser.java#L330

[2017-06-13 09:16] toruneko commented on #304
CanalConnectors.newClusterConnector
调用两次，就支持两个了。

[2017-06-14 02:38] xzhhh commented on #320
@luyee 你好，你贴这个不是取解析位点吗，然后呢。。

[2017-06-14 08:15] mfkugergvh commented on #320
@xzhhh canal重启后是从上一次的读取位点开始，该binlog位置信息存放于conf/<instance>/meta.dat文件中。文件内容类似：
`{"clientDatas":[{"clientIdentity":{"clientId":1001,"destination":"example_db","filter":""},"cursor":{"identity":{"slaveId":-1,"sourceAddress":{"address":"172.30.249.230","port":3306}},"postion":{"included":false,"journalName":"mysql-bin.000032","position":18169170,"serverId":1,"timestamp":1497426548000}}}],"destination"

[2017-06-14 09:07] xzhhh commented on #320
@mfkugergvh 我知道canal重启会从上一次位点开始读取，但我问题是，如果解析的位点在消费位点后面很多的时候canal挂了，重启之后那些未消费的数据不是已经不在canal里了吗？因为目前eventStore只有基于内存版的实现，重启之后那些原来存在内存里的未消费的event也已经没了吧。

[2017-06-14 09:17] xzhhh opened #321 "指定位点启动出错"
版本：1.0.24
问题：
你好，canal本身是支持指定位点开始解析的，但是解析时会报TableIdNotFoundException，我看源码有对这个异常进行处理，但是实际上抛出的异常是CanalParseException，导致捕捉并不成功。

如截图：
![rtx](https://user-images.githubusercontent.com/29394152/27125044-9910f768-5125-11e7-9971-9309d016f512.jpg)

抛出exception的类型是**CanalParseException**， 其cause才是**TableIdNotFoundException**

[2017-06-14 10:03] wenhsh opened #322 "怎么在docker容器里面启动canal的服务端"
怎么在docker容器里面启动canal的服务端，求指导方便简单的方式；

[2017-06-15 06:06] wql6 opened #323 "ClusterCanalConnector——zookeeper模式下连接canal过慢"
前提：集群搭建没有问题，java直接连接zk速度也很快，用Simple模式也很快，但是，
CanalConnector connector = CanalConnectors.newClusterConnector("200.200.200.64:2181", "es", "", "");
        int batchSize = 1000;
        int emptyCount = 0;
        try {
            System.out.println("start connect");
            connector.connect();
            System.out.println("connect successed!");
            connector.subscribe("\\..*");

[2017-06-15 11:41] alexandnpu commented on #318
这个我也在1.0.24中发现了。在执行过程中，把canal server停掉，然后canal client就一直会有这个问题，把canal server重启启动，canal client还是在那里一直报错，不会选择新的server重连，具体的问题我也还在调试中。

@agapple

[2017-06-16 02:28] alexandnpu commented on #318
调试了一下，是因为自己的用法导致的，我把我创建的cluster client放到了一个pool里面，注意下面的code

[code]

这里会抛出CanalClientException， 这是个runtime exception
所以当`connect`抛出异常的时候，记得要捕获一下，然后`disconnect`掉。

[code]

@xuliangyong ， 不知道你的是不是跟我一样的问题，希望对你有帮助。

[2017-06-16 02:29] alexandnpu opened #324 "升级zkclient到0.10"
@agapple , 希望把zkclient升级到0.10

# 优点：

1. 在0.10版本里， Switch from Log4j to Slf4j，这方便我们把debug log打开调试
1. 一些bug fix

# 缺点

1.  0.10 对一些接口增加一些方法，canal要适当的做些调整

[2017-06-16 08:55] HelloArtoo opened #325 "canal-server能否直接接入MQ直接发送消息，而不通过canal-client"
希望通过直接改造canal-server直接接入公司的消息队列，binlog直接通过消息负载到集群节点。canal仅需要服务端就行？这种应该如何做呢？

[2017-06-16 17:20] luyee commented on #325
maxwell https://github.com/zendesk/maxwell

[2017-06-17 03:06] luyee commented on #320
每次从mysql获取binlog不是，都要从指定起始位置开始嘛， 所以我贴的是解析起始位点代码，大概是每次canal server 启动都会去拿上次客户端消费后（ack）的positon（如果有）去mysql获取binlog, 所以即使canal server 获取了10w 条记录，canal client 只消费了1000条后canal server挂了， 如果ack成功更新了这1000条记录，下次从1000开始消费，如果没有ack成功，应该从头开始消费，就会有重复！至于你说的消费不到，除非journalname，postion, timestamp 都没配置，就是从mysql binlog(show master status)最近的开始消费

[2017-06-17 06:00] wxy476599729 opened #326 "如果我要同步好几个不同地址下的数据库的数据，是不是要一个canal-server，和多个canal-client？"

[2017-06-17 06:13] wxy476599729 opened #327 "canal-server最近会莫名挂掉，没有任何日志的那种。"
我的canal-server配置了四个destination，莫名挂掉之后，所有的canal-client就开始疯狂刷这样的错误：
2017-06-17 00:21:19.110 [Thread-1] ERROR com.alibaba.otter.canal.example.AbstractCanalClientTest - process error!
com.alibaba.otter.canal.protocol.exception.CanalClientException: failed to subscribe with reason: something goes wrong with channel:[id: 0x1e023246, /**.**.**.**:39396 => /**.**.**.**:1
1111], exception=com.alibaba.otter

[2017-06-17 07:57] luyee commented on #326
canal server 没关系吧，canalclient 跟destination是一对一的

[2017-06-18 09:47] cloudAndMonkey commented on #126
请问现在支持GTID？

[2017-06-19 06:11] jayws opened #328 "canal对MySQL5.7有支持吗？"
canal对MySQL5.7有支持吗？谢谢

[2017-06-19 12:26] dnfhujun opened #329 "canal在同步报错的情况下，可以跳过这个错误么？"
据测试，canal在同步sql报错的时候，会一直重复的去执行这个sql，导致position位置停止，假如由于手误导致有一条binlog的sql，比如表不存在这种，就会导致canal停滞，请问大神有跳过同步错误的方法么？

[2017-06-22 03:57] toruneko opened #330 "MySQL5.7 JSON解析问题"
canal 版本1.0.24
写入MySQL的JSON数据，Canal解析失败

2017-06-22 11:39:25.104 [destination = example , address = /127.0.0.1:3306 , EventParser] ERROR com.alibaba.otter.canal.common.alarm.LogAlarmHandler - destination:example[com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.ex

[2017-06-22 05:21] agapple commented on #330
提供一下测试SQL

[2017-06-22 05:23] agapple commented on #329
目前只能重置一下位点，后续可以考虑增加DDL变更能力的支持

[2017-06-22 05:24] agapple commented on #328
可以的，除了json对象支持会有部分缺陷

[2017-06-22 05:25] agapple commented on #297
应该是socket一直阻塞在读操作上，没有感知到异常

[2017-06-22 05:25] #301 closed

[2017-06-22 05:27] agapple commented on #303
中间没有日志不是代表没有拉取binlog啊

[2017-06-22 05:28] agapple commented on #306
是的，mysql的时间类型范围会比java Date对象定义的要大，所以用了string的泛类型

[2017-06-22 05:28] #306 closed

[2017-06-22 05:28] agapple commented on #310
关注一下你的操作binlog是否有生成

[2017-06-22 05:29] agapple commented on #312
目前已知对mysql 5.7json类型在转义字符上有一些bug，其余的暂没人反馈有问题

[2017-06-22 05:29] agapple commented on #314
环境问题，自行排查

[2017-06-22 05:30] agapple commented on #316
具体版本是？

[2017-06-22 05:31] agapple commented on #305
can't find start position for CTSDB-CANAL-master，清空一下位点或者设置一个存在的位点

[2017-06-22 05:32] #304 closed

[2017-06-22 05:37] #321 closed

[2017-06-22 05:38] agapple commented on #323
你这是基于zookeeper的集群模式启动，上一次异常退出时尽量使用平滑退出，不要kill -9，正确调用disconnect

[2017-06-22 05:38] #323 closed

[2017-06-22 05:39] agapple commented on #324
如果方便，给我提交一个PR吧

[2017-06-22 05:40] agapple commented on #320
LS理解正确

[2017-06-22 05:41] agapple commented on #126
暂时没有，期待有完成的同学贡献一个PR

[2017-06-22 06:37] toruneko commented on #330
两个问题，第一个问题还没找到出问题的SQL，
第二个是canal已经解析了，并且canal client可以拿到数据。

+-------+-------------+------+-----+-------------------+-------+
| Field | Type        | Null | Key | Default           | Extra |
+-------+-------------+------+-----+-------------------+-------+
| id    | int(11)     | NO   | PRI | NULL              |       |
| dt    | timestamp   | NO   |     | CURRENT_TIMESTAMP |       |
| json1 | json

[2017-06-22 11:36] hrdxwandg commented on #302
多谢大家，已搞定！

[2017-06-22 11:36] #302 closed

[2017-06-23 06:00] alexandnpu commented on #142
这个issue为什么关掉了呀，我今天在1.0.24版本上也遇到这个问题

[2017-06-23 06:01] alexandnpu commented on #324
#142

[2017-06-23 06:59] alexandnpu commented on #324
#331 ， 提交了一个PR，还请review一下

[2017-06-23 08:06] toruneko commented on #330
找到导致illegal json data 的SQL了。
json大概有25000个字节，就补贴出来了。

[2017-06-23 09:43] JichengSong commented on #168
RESET MASTER :删除所有的二进制日志，并重新创建一个新的二进制日志

原始binlog被删除了，canal也就无法消费了,所以会报错。解决办法是重设一个消费点位,  该点位之前的数据丢失。

[2017-06-26 07:42] jayws opened #332 "HA方式，kill掉进程不能切换"
hi，HA方式时，我手工kiil掉正在运行的进程，客户端程序不能切换，在zookeeper查看已经服务已经切换，请问是什么回事呢？谢谢！
另：正常关闭服务时，程序可以切换服务

DEBUG org.apache.zookeeper.ClientCnxn - Got ping response for sessionid: 0x35ca6b0127d780e after 0ms

一直都在打印这样的语句

[2017-06-27 09:22] alexandnpu commented on #297
@lan1994 , 今天也遇到了这种情况，而且sotimeout默认是30秒，当网络不稳定的情况下，更拖慢了binlog的消费。

@agapple ，不知道这里的30秒有什么讲究

[2017-06-27 12:41] alexandnpu commented on #297
我的栈好像不太一样

[code]

[2017-06-29 10:32] lan1994 commented on #297
你的这个栈我也遇到过，那个sotimeout 30s没什么用，因为这个设置对于nio没有作用，产生这个问题应该是网络出现故障后，canal 的解析线程一直在read，没有感知到故障    我们可能需要一个类似sotimeout 超时重连的功能 @alexandnpu

[2017-07-04 13:36] agapple commented on #142
这个包历史有点悠久，如果方便可以提交一个PR给我

[2017-07-04 13:41] agapple commented on #332
这个是DEBUG输出，忽略吧

[2017-07-04 13:41] #332 closed

[2017-07-05 02:46] dawnbreaks commented on #126
很久以前我完成了这个功能，代码略糙，没法PR

[2017-07-05 09:00] tengtengyin opened #335 "一个canal sever上instance太多影响性能怎么办?"
因为instance可能很多, canal能实现部署多套主备吗?

[2017-07-05 13:05] Jdoing opened #336 "异步ack的时候，ack线程出现空指针异常，get线程阻塞在BooleanMutex，是否与设置ring buffer size有关？"
client端ack线程出现空指针异常，get线程阻塞在BooleanMutex

`"SyncThread5" #27 prio=5 os_prio=0 tid=0x00007fc880f62800 nid=0x549 waiting on condition [0x00007fc854302000]
   java.lang.Thread.State: WAITING (parking)
        at sun.misc.Unsafe.park(Native Method)
        - parking to wait for  <0x0000000735ee1df0> (a com.alibaba.otter.canal.common.utils.BooleanMutex$Sync)
        at java.util.concurrent.locks.LockSu

[2017-07-06 10:33] gongfangjun opened #337 "mixed模式下，如何获取sql语句"
请问一下，在mixed模式下，怎么获取sql语句

[2017-07-07 02:27] wcxbbff opened #338 "rowChage.getRowDatasList()数据为空"
mysql版本5.6.19
开启binlog
ROW 类型
解析文件事件类型都是eventType: QUERY，无update insert事件类型 ，请问是什么原因
canal.zkServers=192.168.0.14:2181
canal.instance.global.spring.xml  配置  file-instance.xml 内存+文件就有数据
canal.instance.global.spring.xml   使用default-instance.xml HA 方式无数据

[2017-07-07 11:06] fusida opened #339 "the max size of buffer must not more than 1G!!!"
if buffer = bufferSize * bufferMemUnit = 2G
than
 (bufferSize * bufferMemUnit) = 2097152*1024 > max length of int;
 cause endless loop in MemoryEventStoreWithBuffer.tryPut & checkFreeSlotAt
so that
 the max size of buffer = 1G!!!
why not use long type?

[2017-07-10 02:58] #337 closed

[2017-07-10 03:53] ouminghai opened #340 "canal 支持mysql ssl连接么"
外网同步的过程中，传输内容容易被抓包，请问canal支持ssl连接吗。

[2017-07-11 02:18] gongfangjun opened #341 "zookeeper挂了重启后，canal server的同步停止了"
canal运行中，zookeeper不知什么原因挂了，然后canal server开始报连不上zookeeper的错误，

于是stop了canal server，然后重启zookeeper、canal server和canal_client。

     重启后发现canal_client在getWithoutAck()这个地方卡住了，一直获取不到Message，所以同步

也就卡住了，经检查主库的日志，发瑞已经到了binlog.000446，而canal_server从zookeeper中

获取到的日志为binlog.000440，已经差了6个日志没有同步了。

    后来发现，cannal每同步一段时间，就会停住，过一段时间后，会继续同步，然后周而复始的

[2017-07-13 06:06] #338 closed

[2017-07-13 07:45] dnfhujun commented on #310
嗯，是我的问题，同步的位点太前了，一直以为没有同步过来，非常感谢！

[2017-07-14 03:43] akfdgg opened #342 "怎样才能把数据同步到从库"
本人新手一个，有问题想请教各位
 环境：v1.0.24
 mysql：5.6
 问题：客户端已经运行成功，能捕获到主数据的二进制文件，但是怎样把二进制文件还原成从库的数据？

[2017-07-17 09:51] dadarom commented on #300
应该和mariadb的timestamp精度有关，参考下：
[MDEV-9567](https://jira.mariadb.org/browse/MDEV-9567)
[MDEV-5377](https://jira.mariadb.org/browse/MDEV-5377)

[2017-07-18 06:41] stone-cheng commented on #342
我理解是你需要自己解析读到的entry，然后把它转成SQL在从库中执行。
Canal 并没有提供数据存储的。

[2017-07-18 06:46] stone-cheng commented on #318
@alexandnpu, 我也碰到过这种情况，而且检查TCP连接时，发现很多事CLOSE_WAIT状态的。
最后也是通过catch异常然后disconnect解决的。

[2017-07-19 06:30] luyee commented on #342
现成的是otter   db-->db

[2017-07-21 07:10] wjk1982 opened #344 "canal如何只注册insert的事件？update，delete，select都不关心，不需要发送到客户端"
canal如何只注册insert的事件？update，delete，select都不关心，不需要发送到客户端

[2017-07-24 02:30] wjk1982 opened #345 "canal为什么获取tableName和schemaName为空"
header {
  version: 1
  logfileName: "mysql-bin.000068"
  logfileOffset: 719945754
  serverId: 125
  serverenCode: "UTF-8"
  executeTime: 1500862055000
  sourceType: MYSQL
  schemaName: ""
  tableName: ""
  eventLength: 217
  eventType: QUERY
}
entryType: ROWDATA
storeValue: "\020\aZ\301\001insert into productinfotemp(SysId,Price,RealityPrice,SkuCount,Name,Code,SaleDate,Status) values (\'eab6d30a-

[2017-07-24 06:57] luyee commented on #344
[code]

[2017-07-24 08:23] yanpenghu opened #346 "AbstractEventParser设置parseThread.setName的时候报空"
parseThread.setName(String.format("destination = %s , address = %s , EventParser",
            destination,
            runningInfo == null ? null : runningInfo.getAddress().toString()));
应该去掉toString()方法

[2017-07-25 12:00] toruneko opened #347 "mysql使用utf8mb4出现中文乱码"
![image](https://user-images.githubusercontent.com/5357638/28571083-c7fade36-7173-11e7-8cef-2484de5b1b04.png)
具体乱码的部分是这样的。因为有一些业务敏感字段，所以打了码，见谅。

[2017-07-26 02:04] jayws opened #348 "canal server停用一个月后，重新启用报错"
canal server停用一个月后，重新启用报错，找不到之前解析文件位置，请问canal当找不到原来已解析过的文件位置时，不能从最新位置开始解析吗？谢谢！
[destination = xxx , address = /1.1.1.1:3306 , EventParser] ERROR com.alibaba.otter.canal.common.alarm.LogAlarmHandler - destination:xxx [java.io.IOException: Received error packet: errno = 1236, sqlstate = HY000 errmsg = Could not find first log file name in binary log index file
        at com.alibaba.otter.canal.pars

[2017-07-26 02:22] luyee commented on #348
配置了位点不能吧，要从最新开始消费，直接删除位点试试

[2017-07-26 03:32] jayws commented on #348
没有指定位点，请问如何删除位点，谢谢！

[2017-07-26 03:48] jayws commented on #348
我那个问题应该是binlog清理掉之前的文件，然后导致找不到从位点解析binlog的问题吧

[2017-07-26 06:50] luyee commented on #348
是的 指定位点了就会，不指定应该是从最新开始消费的

[2017-07-26 07:15] jayws commented on #348
嗯嗯，谢谢！修改位点是不是只能修改zookeeper里存放offset的数据呀！

[2017-07-26 07:41] toruneko commented on #347
找到问题了。不是canal的问题、。

[2017-07-26 07:41] #347 closed

[2017-07-27 03:46] lan1994 opened #349 "关于解析Mysql5.7中json类型的一些疑问"
case LogEvent.MYSQL_TYPE_JSON: {
                len = buffer.getUint16();
                buffer.forward(meta - 2);
                int position = buffer.position();
                JsonConversion.Json_Value jsonValue = JsonConversion.parse_value(buffer.getUint8(), buffer, len - 1, charsetName);
                StringBuilder builder = new StringBuilder();
                jsonValue.toJsonString(bu

[2017-07-27 07:36] lan1994 opened #350 "canal解析json类型出错"
和#330中提到的问题一致，mysql版本是5.7
sql如下：
a='"a"'+',"a"'*30000
sql="insert into canal_json_test(j_json) values('[%s]')" % (a)
即一个json字段的值为'["a","a","a"……]' 共30001个a，可以正常插入mysql，但是canal解析这个出错了

[2017-07-27 07:44] lan1994 commented on #350
和#330中提到的问题一致，
sql如下：
a='"a"'+',"a"'*30000
sql="insert into canal_json_test(j_json) values('[%s]')" % (a)
即一个json字段的值为'["a","a","a"……]' 共30001个a，可以正常插入mysql，但是canal解析这个出错了

[2017-07-27 08:26] lan1994 commented on #330
找到导致illegal json data 的SQL了。
json大概有25000个字节，就补贴出来了。

会不会是因为json太大，导致bytes和len长度计算错误。
----------------------------------------------------------------
@toruneko   你这个问题怎么解决的？

[2017-07-27 08:54] toruneko commented on #330
@lan1994 最后我们没有用json了。改了方案。。

[2017-07-28 03:36] hui1hui2hui3 commented on #279
同样碰到这个问题，请问你这个最后是怎么解决的

[2017-07-28 03:51] #349 closed

[2017-07-28 05:53] youngJavabird commented on #279
一个destination,对应一个消费端。多个消费端同时消费同一个destination，就会报batchId不存在或不是位点

[2017-07-28 13:05] alexandnpu commented on #312
我这边的版本是
`
mysql  Ver 14.14 Distrib 5.7.17, for osx10.12 (x86_64) using  EditLine wrapper
`

从log里面看是

`subscribe successfully, ClientIdentity[destination=task-4,clientId=1001,filter=] with first position:null`

但是对mysql的数据表做更新，canal一直收不到数据

[2017-07-29 15:57] lianqu1990 opened #351 "batchSize指什么"
您好，试了下 有阻塞的getWithoutAck，发现在更新到很多次的时候才会打印(example)，但是batchSize设置的是1.

有点不太明白，batchSize到底指的是什么，我以为是一次修改，目前看应该不是的。

Batch Id: [3] ,count : [33] , memsize : [1050] , Time : 2017-07-29 23:52:08
* Start : [mysql-bin.000003:17576:1501343167000(2017-07-29 23:46:07)]
* End : [mysql-bin.000003:19943:1501343529000(2017-07-29 23:52:09)]

这是打印的日志。

麻烦~

[2017-07-30 13:20] lan1994 commented on #351
batchSize 是在client端设置的，这个参数作用是控制 每次从server端的store中get数据的size

[2017-07-30 13:34] lianqu1990 commented on #351
那这个并不等于   数据库的一次修改是把？因为上面看的，一次有33个entries。  这个是在什么情况下server才会有一条数据啊

[2017-07-30 13:40] yangshike opened #352 "canal 报错： Read Q_FLAGS2_CODE error: limit excceed: 63"
大数据量的批量插入 类似select into 的sql （10w条记录），canal 报错：
pid:1 nid:2 exception:canal:canal_master:java.io.IOException: Read Q_FLAGS2_CODE error: limit excceed: 63
at com.taobao.tddl.dbsync.binlog.event.QueryLogEvent.unpackVariables(QueryLogEvent.java:650)
at com.taobao.tddl.dbsync.binlog.event.QueryLogEvent.(QueryLogEvent.java:477)
at com.taobao.tddl.dbsync.binlog.LogDecoder.decode(LogDecoder.java:154)
at

[2017-07-31 02:23] kervin521 commented on #312
@alexandnpu
检查Canal配置是否正确，检查MySQL是否开启binlong
如果都没有问题而无法监控到数据表的变化，我遇到过这样情况，下载一个干净的canal版本然后进行配置(配置MySQL地址端口，以及destination[不要使用example])，就可以啦

[2017-07-31 02:48] alexandnpu commented on #312
@kervin521 , 谢谢你的回复。

我现在的问题是在mac上面做测试，启动了vagrant用作测试环境，我担心的是canal在往mysql做slave注册时候使用了虚拟机的ip，而mysql往这个ip发送binglog是找不到的

[2017-07-31 06:37] fuchun opened #353 "canal如何配置多个数据库下的表"
请问下，canal如何指定订阅几个数据库的若干表，比如我只订阅 oschina库下的order表和oschina_user下的user表

[2017-07-31 08:56] kervin521 commented on #312
@alexandnpu
这个你不用担心，因为canal服务端口是一定的，即使借用虚拟机IP

[2017-08-01 02:07] yjianwei opened #354 "启动cancl，连接数据库连接不上"
2017-08-01 09:27:36.766 [main] INFO  c.a.o.c.i.spring.support.PropertyPlaceholderConfigurer - Loading properties file from class path resource [canal.properties]
2017-08-01 09:27:36.770 [main] INFO  c.a.o.c.i.spring.support.PropertyPlaceholderConfigurer - Loading properties file from class path resource [example/instance.properties]
2017-08-01 09:27:36.850 [main] WARN  org.springframework.beans.Ty

[2017-08-01 02:09] yjianwei commented on #354
canal版本是1.0.24

[2017-08-01 02:38] luyee commented on #354
这个肯定是自己连接有问题，另外，1.0.24 还是别用的好。。。

[2017-08-01 02:39] luyee commented on #353
翻翻之前的issue

[2017-08-01 04:05] caojiaqing commented on #330
遇到同样问题，求解。

[2017-08-01 07:13] luyee commented on #353
正确的姿势应该是client写入filter,see https://github.com/alibaba/canal/issues/311

[2017-08-01 07:15] luyee commented on #353
多个库？ 多个instance吧

[2017-08-01 10:33] #354 closed

[2017-08-01 16:16] agapple commented on #350
我尽快修复一下，应该不难

[2017-08-01 16:16] agapple commented on #330
我尽快修复一下，应该不难

[2017-08-01 16:22] agapple commented on #339
bufferSize = 2097152 ?

过大的bufferSize，并不会对性能有很大的帮助哦，建议bufferSize控制在32768，基本就有几万的TPS

[2017-08-01 16:23] agapple commented on #340
目前暂时不支持，目前团队内正在调研mysql ssl协议，等调研实施有结果后再借鉴过来

[2017-08-01 16:24] agapple commented on #345
QUERY语句，不是ROW模式的行记录吧

[2017-08-01 16:25] agapple commented on #341
卡主的异常原因要看看，是否是表结构删除性质导致

[2017-08-01 16:25] #310 closed

[2017-08-01 16:25] #344 closed

[2017-08-01 16:26] agapple commented on #352
报告一下mysql和canal版本

[2017-08-01 16:28] #348 closed

[2017-08-01 16:29] #342 closed

[2017-08-01 16:31] agapple commented on #335
可以的，将instance分散到多台server中

[2017-08-02 08:55] #341 closed

[2017-08-02 14:01] lan1994 commented on #350
我已经试着修复了，应该是获取json值长度的时候用了getUnit16导致的，应该是用getUnit32吧

[2017-08-03 07:44] jayws opened #355 "当数据库有大量的删除时，canal解析变慢"
当数据库有大量的删除时，canal解析变慢，之前每个小时可以解析5万，有大量删除后每个小时才100条，请问有什么可以解决方法吗？谢谢

[2017-08-03 08:59] yjianwei opened #356 "canal异常求解"
com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: com.google.common.collect.ComputationException: com.alibaba.otter.canal.parse.exception.

[2017-08-03 10:25] jayws commented on #356
求解，我也是遇到这种问题

[2017-08-03 11:50] Shadowsay opened #357 "多客户端订阅问题请教"
多个canal客户端订阅一个canal服务，其中一个客户端进行取消订阅操作，其他canal客户端抛异常，会不会影响其他客户端的订阅、消息接收。 @agapple

[2017-08-03 13:15] #330 closed

[2017-08-03 13:15] #350 closed

[2017-08-03 13:16] agapple commented on #346
已提交

[2017-08-03 13:16] #346 closed

[2017-08-03 13:25] agapple commented on #300
感觉是mariadb在binlog协议里没有记录足够的meta信息，导致解析失败. 试过10.1系列的mariadb ？我是参考10.1的进行协议解析对比

[2017-08-03 13:28] agapple commented on #356
升级版本吧，修复过

[2017-08-03 13:28] #356 closed

[2017-08-03 13:28] agapple commented on #357
建议只有一个客户端进行消费，否则数据顺序没法保证

[2017-08-04 00:58] jayws commented on #356
我使用最新版本也是报这样的错误，请问有什么解决办法吗

[2017-08-04 02:18] lan1994 commented on #355
这个和#267 是同一类问题

[2017-08-04 02:23] jayws opened #358 "canal解析错误fetch failed by table meta:`test`.`test`"
请问这种错误有什么办法可以解决呢？谢谢！

com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: com.google.common.collect.ComputationException: com.alibaba.otter.canal.parse.exception.CanalParseException: fetch failed by table meta:`test`.`test`
Caused by: com.google.common.collect.ComputationException: com.alibaba.o

[2017-08-05 05:59] sun0110 commented on #357
@agapple 如果对顺序要求不高的话，对于多客户端订阅同一个服务，其中一个客户端调用unsubscribe(),导致其他客户端抛异常了，此时会影响其他客户端的订阅及消息获取吗？

[2017-08-05 06:34] NPCSun commented on #357
@agapple 如果客户端能自己保证顺序消费，对于多客户端订阅同一个服务，其中一个客户端调用unsubscribe(),导致其他客户端抛异常了，此时会影响其他客户端的订阅及消息获取吗？

[2017-08-07 01:59] agapple commented on #357
目前是会影响其他客户端的

[2017-08-07 02:49] NPCSun commented on #357
@agapple  实测过，确实影响，感谢。

[2017-08-07 03:42] NPCSun commented on #357
@agapple canal能从RDS中获取数据吗

[2017-08-07 03:57] leslie-chu opened #359 "关于mysql切主的问题"
我们这边有一种场景，mysql是一主两从，canal从主dump binlog，但是切主的话我们是切域名，域名不变，把域名挂的ip改变，这种情况下canal  是要重启？？

[2017-08-07 09:35] shipengyan commented on #146
我也遇到这样的问题，搜索资料后，通过如下方式解决
[code]

不知道哪里来的匿名用户，好囧

[2017-08-07 12:18] agapple commented on #357
可以订阅RDS

[2017-08-08 02:07] shipengyan opened #360 "SocketChannelPool bug"
运行日志，请关注最后一行
[code]

[code]
notify是有可能会比wait提前执行的，建议优化下

[2017-08-08 03:27] xiaoyaoer opened #361 "即使设定了defaultDatabaseName依然从客户端获取其他数据库的增量？"

[2017-08-08 09:45] kervin521 opened #362 "maven查看源码乱码"
所有jar包通过maven查看源码时其中文注释全部乱码，能解决此乱码问题吗？

[2017-08-08 11:18] caojiaqing commented on #298
:set ff=unix

[2017-08-08 11:20] caojiaqing commented on #228
:set ff=unix

[2017-08-08 11:33] lan1994 opened #363 "canal有计划支持类似mysql5.7中组提交类似的功能么？"
mysql升级5.7后，由于主从同步性能提高， 主库写入qps的限制也随之降低，这样带来一个问题就是业务写入速度加快，可能会快于我们收集的速度，这样可能无法作到实时收集了。canal有计划支持mysql5.7提到的组提交吗？

[2017-08-09 12:26] freshpomelo opened #364 "maven update Missing artifact com.alibaba.otter:canal.instance.core:jar:1.0.25-SNAPSHOT"
请问这个如何解决，我从master抓了最新的代码，进行maven的update的时候，提示

Missing artifact com.alibaba.otter:canal.instance.core:jar:1.0.25-SNAPSHOT
Missing artifact com.alibaba.otter:canal.instance.manager:jar:1.0.25-SNAPSHOT
Missing artifact com.alibaba.otter:canal.instance.spring:jar:1.0.25-SNAPSHOT

[2017-08-10 02:55] luyee commented on #364
本来就是1.0.25-SNAPSHOT 何来Miss？

[2017-08-10 11:07] superheizai opened #365 "heartbeatHaEnable设置成true，但是没有standby的mysql配置的时候，成功启动"
heartbeatHaEnable设置成true，但是没有standby的mysql配置的时候，成功启动。但是做mysql stop & start动作的时候，由于parser会做switch操作，这个操作会造成空指针退出。由于这个空指针是停止了心跳线程和解析线程之后，启动新的心跳和解析线程之前，所以canal没法继续dump消息。

[2017-08-10 11:30] whyliyu commented on #358
我也碰到这个错误了

我找到了原因，这是因为在解析某条binlog记录时，该记录对应的表被删掉了，而在binlog解析过程中canal会发送一条desc `schemeName`.`tableName`的sql语:
    private TableMeta getTableMeta0(String fullname) throws IOException {
        ResultSetPacket packet = connection.query("desc " + fullname);
        return new TableMeta(fullname, parserTableMeta(packet));
    }
而对应的表已经被删掉，这时候就会抛出这个异常

但是没找到如何解决这个方法，不知道这是不是个bug？有没有阿里的大佬出来解答一下？

[2017-08-10 11:38] whyliyu opened #366 "这是BUG吗：canal解析错误fetch failed by table meta:`schemeName`.`tableName`"
这个问题和#358类似
如果canal从一个数据库binglog的第一条记录开始读取，那么canal在解析过程中，可能会因为在解析到某条binlog记录时，该记录对应的表被删掉了，而在binlog解析过程中canal会发送一条desc "schemeName.tableName"的sql：
private TableMeta getTableMeta0(String fullname) throws IOException {
    ResultSetPacket packet = connection.query("desc " + fullname);
    return new TableMeta(fullname, parserTableMeta(packet));
}
而对应的表已经被删掉，这时候就会抛出这个异常，导致binlog读取无法继续下去

不知道这是不是个bug？或

[2017-08-10 11:39] whyliyu commented on #366
具体日志是这样的：
2017-08-10 14:26:56.593 [destination = 10.160.246.137-1379 , address = /10.160.246.137:1379 , EventParser]369 WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - ERROR ## parse this event has an error , last position : [EntryPosition[included=false,journalName=
mysql-bin.000003,position=46788142,serverId=1092,timestamp=1493132987000]]
com.alibaba.otter.canal.parse.exception.Cana

[2017-08-11 06:47] xiaoyaoer commented on #361
即使严格设置了filter 依然无效

[2017-08-11 06:47] xiaoyaoer commented on #361
即使严格设置了filter 依然无效

[2017-08-11 06:53] uninxc opened #367 "关于解析位点和消费位点的zk存储未到flush时间数据丢失？"
在default-instance.xml  中配置为周期性的输入zk，如果在未到flush时间，server挂掉，另外的备机启动，读取的位点落后于最新的位点（因为主server未flush到zk），这样会造成重复读取数据？？怎么办？？

[2017-08-13 00:06] liutaihua commented on #313
group-instance 有配置使用文档吗。 需要用在分库的情况。

[2017-08-14 05:27] liutaihua commented on #174
group-instance的destnation name有配置示例吗

[2017-08-15 08:59] oyunlong commented on #160
我用的canal 1.0.25-SNAPSHOT对应MySQL 5.6、5.7也会出现这个问题。
端口没改，配置也是采用默认的支持所有格式
canal.instance.binlog.format = ROW,STATEMENT,MIXED
默认解析所有binlog也不会导致rowdata解析不了吧？

[2017-08-15 09:06] oyunlong commented on #160
改成canal.instance.binlog.format = ROW，真就可以了。

[2017-08-15 10:40] awnuxkjy commented on #359
需要。mysql 主从  位点 ，文件名 都不一样，需要人肉修改到 从库的 文件名 ，位点。注意要保证 canal 连接到 新ip 上，确保主库 无写入 而且同步到 从库后 才能 切换。很多细节要注意。

[2017-08-15 13:52] whyliyu opened #368 "客户端报错no match ack position"
你们好，我在使用canal的过程中碰到了个奇怪的问题，描述如下
我的客户端代码是
while(!Thread.currentThread().isInterrupted()) {
    Message message = canalService.getWithoutAck(identity, 1, 1L, TimeUnit.SECONDS);
    long batchId = message.getId();
    if(batchId != -1)
        canalService.ack(identity, batchId);
}
具体过程是每次取一条，然后进行ack，日志显示第一条也就是batch id为1的数据ack成功了，第二条数据也就是batch id为2的数据ack失败了，并且碰到以下的异常
com.alibaba.otter.canal.store.Can

[2017-08-16 03:13] tengtengyin opened #369 "canal消费端到某个时间点不消费"
用的canal/canal-deployer-1.0.24  最新版本,  订阅的mysql版本是mariadb的10.0.22
发现消费端运行到某一时刻,zk的位点和时间戳就不在变化,而且消费端的进程并没有挂掉,
也没有发现错误日志,

重新启动进程不好使,必须重新置成instance.properties的时间戳,删掉zk里位点,重新消费才好使

盼回复,谢谢!

[2017-08-16 03:53] awnuxkjy commented on #307
那是你mysql客户端 编码不是utf8造成的。

[2017-08-16 07:45] #361 closed

[2017-08-16 16:44] luyee commented on #369
没日志[允悲]

[2017-08-17 09:58] leslie-chu commented on #366
什么问题 这是 解决了吗？

[2017-08-17 10:34] whyliyu commented on #366
现在解决了，可以通过配置filterTableError=true来忽略掉这个异常，这样instance的线程就可以继续运行下去

[2017-08-18 06:44] oyunlong commented on #160
经过验证，filter过滤掉的库、表信息，rowdata信息收不到了，但是对应的Transaction Begin、Transaction End还是有的。

[2017-08-22 03:00] wufengbin commented on #369
是不是阻塞了？

[2017-08-22 03:01] wufengbin opened #370 "请问，canal支持定时消费吗？"
请问，canal支持定时消费吗？

[2017-08-22 03:07] wufengbin commented on #267
配置如下参数：innodb_flush_log_at_trx_commit
在提交事务的时候是否提交缓冲?
有3个值：
	0：不会主动触发日志缓冲写入磁盘
	1（默认）：每次提交事务的时候，同时会把日志缓冲刷新到磁盘
	2：每次提交事务的时候，会把日志缓冲刷新到磁盘，但是他不是同时进行的
	   而是每秒钟刷新一次
建议配置成2 ，对性能影响较大。
可以试试这个

[2017-08-22 03:20] wufengbin commented on #355
mysql配置如下参数：innodb_flush_log_at_trx_commit
在提交事务的时候是否提交缓冲?
有3个值：
0：不会主动触发日志缓冲写入磁盘
1（默认）：每次提交事务的时候，同时会把日志缓冲刷新到磁盘
2：每次提交事务的时候，会把日志缓冲刷新到磁盘，但是他不是同时进行的
而是每秒钟刷新一次
建议配置成2 ，对性能影响较大。
可以试试这个

[2017-08-22 04:26] lan1994 commented on #267
@wufengbin 你提的这个参数是解决mysql批量写入慢的问题，但是这里提到的是canal解析慢的问题，都是预写入完毕够，才测试解析性能的。

[2017-08-23 12:22] liutaihua opened #371 "spring版本2.5.6和应用的版本冲突了，有什么办法兼容下吗？"
应用用canal-client的方式，应用用的是4.x的spring, 而canal在用的是2.5.6 spring boot会报：
[code]

有办法绕过吗

[2017-08-23 12:41] liutaihua commented on #371
自问自答。用 exclusions 应该可以解决。

[2017-08-23 12:41] #371 closed

[2017-08-23 15:52] luyee commented on #370
没有吧 定时rocketmq可以

[2017-08-24 03:30] dnfhujun opened #372 "canal 订阅模式数据量太大，把内存撑爆了，有canal的最佳实践么？"
canal 订阅模式数据量太大，把内存撑爆了，有canal的最佳实践么？

[2017-08-24 17:39] luyee commented on #372
batchsize 太大?

[2017-08-25 08:19] hainanzhongjian commented on #136
meta.bat  文件位置在哪里？为什么在canal目录下没有找到

[2017-08-25 08:21] hainanzhongjian opened #373 "meta.bat 的位置"
meta.bat 存储位置在哪里？ canal service连接zookeeper，使用spring.xml  classpath:spring/default-instance.xml

[2017-08-28 06:06] NPCSun commented on #357
@agapple 感谢。161559791这个群不能加入了，我的QQ：295826395，能否把我拉进去呢，谢啦。

[2017-08-30 01:51] shijiebei2009 commented on #312
同样的问题，我用的
canal版本：1.0.24
MySQL版本：5.7.16
请问Canal支持吗？？？

[2017-08-31 01:38] jkudu commented on #193
你的问题怎么解决的？能分享下么？

[2017-08-31 01:45] wym408 commented on #193
我好像用时间了，不和位置较劲了

[2017-08-31 02:31] kervin521 commented on #312
@shijiebei2009 可以的，如果不行，配置自己的destination不要用样本，并删除日志和数据记录在Canal安装目录下

[2017-08-31 07:00] tianshouzhi opened #375 "master分支源码编译报错"
看了下，master分支把netty 版本从3.x升到了4.x，netty的包名发生了改变，从org.jboss.netty-->io.netty。但是canal中使用到netty api的地方包名并没改过来，导致报错。

[2017-09-01 01:29] liutizhong commented on #366
我也遇到这个问题了,请问这个filterTableError=true 在哪个地方加的,直接添加filterTableError=true?

[2017-09-01 14:59] carl32hao commented on #267
@lan1994 请问解决了吗？

[2017-09-04 02:44] whyliyu commented on #366
@liutizhong 我使用的是CanalInstanceWithManager，只要在它的配置CanalParameter中设置就行了,代码大体上是这样：
CanalParameter parameter = new CanalParameter;
parameter.setFilterTableError(true);
Canal canal = new Canal();
canal.setCanalParameter(parameter);
最后在new CanalInstance时：
new CanalInstanceWithManager(canal, filter);

[2017-09-04 02:50] whyliyu opened #376 "指定binlog起始位置"
你们好。
我现在想要启动canal后，把现有的binlog全部读取，所以我需要指定binlog的位置，但是因为权限问题，我无法使用show binary logs语句，请问有没有什么办法，来使canal自动从第一个binlog文件开始dump呢？

[2017-09-04 02:55] whyliyu commented on #376
@agapple @luyee

[2017-09-05 11:27] luyee commented on #376
个人使用姿势

从第一个开始需要保留所有的binlog文件 这个不现实吧。。。

用过的方案：
1，无更新的时段（比如凌晨3-4点）直接全量导入+自动获取位点就好了。
2，有数据更新的时段：
2.1  现在一般是小表直接mysqldump（mydumper+myloader） + 指定位点增量
2.2 xbackup +指定位点增量，可以指定表或者db进行部份恢复，不过这玩意有点坑是，如果是整个db恢复是需要db的datadir必须为空

3，最近发现了(debezium)[https://github.com/debezium/debezium],这个支持全量增量直接导入kafka

关于权限，权限这玩意找dba,运维开吧。。大不了完了在收回去呗。。或者要什么 让dba提供

拉取binlog  都是要开启权限的，参考文档：
[code]

[2017-09-06 05:13] kiwiwin opened #377 "BINARY类型解析"
如果数据库中有一列使用的是BINARY类型，column.getValue()获得的是乱码，请问怎么处理？数据库里的BINARY是用hex处理过的

[2017-09-06 07:09] rfyiamcool opened #378 "可配置mysql ssl连接么？"
see title

[2017-09-06 09:05] whyliyu commented on #376
嗯，确实不现实，决定采用直接全量导入+自动获取位点的方案了
感谢回答

[2017-09-06 09:05] #376 closed

[2017-09-06 09:23] whyliyu opened #379 "canal有考虑事务回滚的Event吗"
mysql的binlog文档在介绍XID_EVENT时有这么一段

但是我看canal1.24代码中解析QUERY_EVENT时，只考虑了BEGIN和COMMIT，并没有考虑ROLLBACK，请问这样做的原因是什么呢？

[2017-09-06 09:23] #366 closed

[2017-09-07 06:46] M2shad0w commented on #364
先在 canal  根目录 run
[code]

[2017-09-07 10:19] shijiebei2009 commented on #160
同样的问题
connector.subscribe("actionlog\\d{8}");我想订阅所有actionlog打头接数字的表，结果没有ROWDATA了，是正则错了，还是哪里错了？？？

[2017-09-07 10:21] shijiebei2009 commented on #88
同样的问题
connector.subscribe("actionlog\\d{8}");我想订阅所有actionlog打头接数字的表，结果没有ROWDATA了，是正则错了，还是哪里错了？

请教一下想订阅指定的库或者表，这个正则要怎么写？

[2017-09-07 11:49] sunryuan opened #380 "延迟情况下多条ddl语句引发schema不匹配的bug"
在有多条ddl语句时,如果binlog解析存在延时,会引发如下错误：
com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: column size is not match for table:`xxdb`.`xxxtable`,39 vs 37。
原因如下：
binlog中有前后两条ddl语句a和b，由于解析落后，canal才解析到a，从db中获取最新的schema，得到了b操作后的schema。a和b之间的消息的表结构跟最新的schema不匹配。

[2017-09-07 12:23] whyliyu commented on #379
https://dev.mysql.com/doc/refman/5.7/en/innodb-and-mysql-replication.html 这里又有这么一段叙述：

Transactions that fail on the master do not affect replication at all. MySQL replication is based on the binary log where MySQL writes SQL statements that modify data. A transaction that fails (for example, because of a foreign key violation, or because it is rolled back) is not written to the binary log,

貌似并不会

[2017-09-11 04:11] VennX commented on #326
otter+canal

[2017-09-11 08:30] heshangdaben opened #381 "启动某个channel就一直报错"
pid:9 nid:1 exception:canal:tdesk_test_canal:java.lang.NoClassDefFoundError: Could not initialize class com.alibaba.otter.canal.common.utils.JsonUtils
    at com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser.findStartPositionInternal(MysqlEventParser.java:415)
    at com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser.findStartPosition(MysqlEventParser.java:315)
    at com.alib

[2017-09-11 10:06] heshangdaben commented on #381
启动了多一段时间也可能有这个错。

[2017-09-12 02:28] hellogh2014 commented on #358
试试 canal/conf 下的 canal.instance.filter.black.regex = test.*

[2017-09-12 06:12] yufeng0528 commented on #345
我也有很多这样的数据
insert，update都有

2017-09-12 14:09:57,417[INFO]yike.canal.AbstractCanalClientTest.printEntry(AbstractCanalClientTest.java:206)
----------------> binlog[mysql-bin.002059:3086158] , name[xmall,] , eventType : UPDATE , executeTime : 1505196597000 , delay : 417ms
2017-09-12 14:09:57,417[INFO]yike.canal.AbstractCanalClientTest.printEntry(AbstractCanalClientTest.java:206)
----------------> bin

[2017-09-13 04:59] crazy11show opened #382 "canal 指定timestamp"
1）请问为什么只指定timestamp，启动的时候找不到binlog位置？必须得要binlog filename一起指定才能找到位置呢？
我看文档里面是这样写着：
canal.instance.master.timestamp : 指定一个时间戳，canal会自动遍历mysql binlog，找到对应时间戳的binlog位点后，进行启动
2）还有我用binlog filename+ position指定时，他只会遍历这个binlog，不会执行下一个binlog是吗？
请大神帮忙解答一下，谢谢

[2017-09-14 09:19] luyee commented on #382
timestamp 没用过，

binlog filename+ position也是会自动取下一个binlog的

[2017-09-14 11:40] wuchaooooo commented on #351
是啊，我也不是很明白batchSize具体的作用。当我设置batchSize=1的时候，每次拉取到的Message里面，是有多个entry的。

[2017-09-15 10:01] shijiebei2009 commented on #197
用的1.0.24也是偶尔报这个错误。

`2017-09-15 16:33:17.786 [destination = action_log , address = /127.0.0.2:2020 , EventParser] ERROR c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - dump address 127.0.0.2/127.0.0.2:2020 has an error, retry
ing. caused by
java.io.IOException: Unexpected End Stream
        at com.alibaba.otter.canal.parse.inbound.mysql.dbsync.DirectLogFetcher.fetch0(DirectLogFetcher.java:1

[2017-09-15 10:49] shijiebei2009 commented on #197
大概几个小时就会重现，不知道是不是客户端引起的？客户端是拉一次->消费->确认，再循环，如果数据在master堆积会有问题吗？

[2017-09-18 03:39] qian-du opened #383 "canal postion重置问题"
@agapple  @lulu2panpan 请两位有空看下，谢谢啦！
- 上一次成功的ack日志：
[
    batchId: 906915,
    position: PositionRange[
        start=LogPosition[
            identity=LogIdentity[
                sourceAddress=192.168.10.180/192.168.10.180: 3306,
                slaveId=-1
            ],
            postion=EntryPosition[
                included=false,
                journalName=mysql-bin.000940,

[2017-09-18 06:49] shijiebei2009 commented on #229
不知道你解决了吗？我一样的问题，数据堆积在master就报错 @tutulvlv

[2017-09-18 09:15] #295 closed

[2017-09-18 09:56] okmmsky888 opened #384 "windows中startup.bat启动报错"
Error: missing `server' JVM at `C:\Program Files (x86)\Java\jre1.8.0_111\bin\server\jvm.dll'.
Please install or use the JRE or JDK that contains these missing components.

[2017-09-20 08:55] lijing666 commented on #372
确实connector.getWithoutAck(batchSize)这个batchSize是批次的概念，就算batchSize为1，如果数据库变更是类似update table1 set status=0 如果数据有500万，则此次返回的数据将有500万条，如果系统连续多次执行这种语句，则内存很快就会爆

[2017-09-22 01:01] tyxx11 commented on #380
我也遇到了同样的问题。。。求大神解答。。

[2017-09-23 02:57] agapple commented on #380
下一个版本会解决

[2017-09-23 02:59] agapple commented on #384
检查下自己的jvm，使用1.6、1.7版本试试

[2017-09-23 03:01] agapple commented on #351
batchSize是刚好超过这个大小的，最合适的记录数.  最小是1个Message

[2017-09-23 03:01] agapple commented on #382
LS正解

[2017-09-23 03:02] agapple commented on #326
LS正解

[2017-09-23 03:02] #326 closed

[2017-09-23 03:03] agapple commented on #379
rollback不会记录binlog，只有提交的事务会记录

[2017-09-23 03:03] #379 closed

[2017-09-23 03:05] agapple commented on #160
你现在本地用canal的PattenUtils跑一下testcase

[2017-09-23 03:05] #364 closed

[2017-09-23 03:07] agapple commented on #378
暂时不支持

[2017-09-23 03:07] agapple commented on #377
column.getValue().getBytes("ISO-8859-1")

[2017-09-23 03:23] agapple commented on #267
倒是可以先执行一个大事务，然后canal回溯到事务执行之前进行验证，从我这边的测试来看，基本都是可以满足基本性能

[2017-09-23 03:25] agapple commented on #373
如果使用default，数据是存储在zookeeper的

[2017-09-23 03:25] #373 closed

[2017-09-23 03:26] agapple commented on #361
defaultDatabaseName不是用来过滤数据用的，目前是无意义的参数

[2017-09-23 03:28] agapple commented on #367
分布式高可用系统，不可能设计做到数据不重复

[2017-09-23 03:28] agapple commented on #365
版本是多少？

[2017-09-23 03:29] agapple commented on #363
canal是以binlog写入之后为准，不关心mysql的组提交的

[2017-09-25 05:28] wuchaooooo commented on #351
@agapple 嗯嗯～谢谢啦

[2017-09-25 07:37] wuchaooooo opened #385 "MariaDB 10.0.15 Datetime 类型无法解析毫秒级"
数据库中该字段类型为Datetime(6),值为2016-12-21 17:57:16.000000, canal解析后，得到的字符串是103946-26-59 06:40:65。

[2017-09-25 07:38] shenxinyu opened #386 "压力大的情况下binlog解析变慢"
在测试的时候发现，当产生binlog大概超过3万qps的时候，canal解析产生的event变的特别慢，服务器有个cpu跑到100%，这是什么情况，如何解决呢？

[2017-09-26 09:39] zhumt opened #387 "canal server重启，会从上次位点解析吗"

[2017-09-27 02:49] f-zhao commented on #387
开启了HA的话，上次解析的位点应该会存在zk中，是会从上次位点解析的。

[2017-09-27 02:56] zhumt commented on #387
我是用file持久化的，不支持HA，这样是否重启的时候也能从上次位点解析，另外，我结合otter使用，目前otter好像只支持内存模式，这样我重启后，是否会丢失服务断开期间的数据呢

[2017-09-27 06:51] wuchase opened #388 "Canal会不定期的报no data的情况"
我们像otter那样使用canal来获取binlog数据，但是运行了一段时候之后有个别channel任务的canal会不定时报长时间no data的情况，告警内容如：pid:24 nid:4 exception:mainstem:pid:24 canal elapsed 5000 seconds no data ，切换mainstem也不能解决问题，重启整个服务会恢复一段时间，不知道大神们有没有遇到类似问题，或者有啥解决方案？

[2017-09-27 07:37] mi9944 opened #389 "canal is not run any in node failed to connect to:/1.0.0.1:7536 after retry 1 times"
2017-09-27/14:33:30.751||||^_^|uid:|clientIp:|deviceId:|^_^|[binlog main] ERROR c.a.o.c.client.impl.running.ClientRunningMonitor 137 - There is an error when execute initRunning method, with destination [es1].
434654-com.alibaba.otter.canal.protocol.exception.CanalClientException: java.net.ConnectException: Connection refused
434655-	at com.alibaba.otter.canal.client.impl.SimpleCanalConnector.doCo

[2017-09-28 03:55] zhumt opened #390 "ERROR com.alibaba.otter.canal.common.alarm.LogAlarmHandler - destination:xxx[java.io.IOException: Unexpected End Stream"
在canal实例日志中偶尔会报这个错误，请问怎么解决

[2017-09-29 06:25] angelmm126 opened #391 "主库是mysql 5.7，主库编码UTF8MB4,用canal-1.0.24这个版本，位点初始值为123,执行时间1506482123，启动报错"
主库是mysql 5.7，主库编码UTF8MB4,用canal-1.0.24这个版本，位点初始值为123,执行时间1506482123，canal配置了timestamp,没有配置位点，提示以下异常

2017-09-29 14:20:32.614 [main] INFO  c.a.otter.canal.instance.core.AbstractCanalInstance - start successful....
2017-09-29 14:20:32.892 [destination = example_wxprober , address = /XXXXXXX:3306 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - prepare to find start positio

[2017-09-30 15:26] agapple commented on #385
这应该是解析的问题，手头暂时没有MariaDB该版本，方便提供对应的binlog文件，我本地跑一下

[2017-09-30 15:26] agapple commented on #387
不会丢，多看看WIKI和FAQ

[2017-09-30 15:27] agapple commented on #389
Caused by: java.net.ConnectException: Connection refused

[2017-09-30 15:27] agapple commented on #390
mysql断链问题，目前是一些已知问题，主干版本有人提交了修复

[2017-09-30 15:28] agapple commented on #391
Could not find first log file name in binary log index file，位点不对

[2017-10-10 03:26] lulu2panpan opened #394 "TimelineTransactionBarrier存在死锁bug"
TimelineTransactionBarrier的isPermit方法中有如下代码
             `if (isTransactionBegin(event)) {
                    if (txState.compareAndSet(0, 1)) {
                        inTransaction.set(true);
                        return true; // 事务允许通过
                    }
                } else if (txState.compareAndSet(0, 2)) { // 非事务保护中
                    return true; // DDL/DCL允许通过
                }`
对

[2017-10-10 05:03] lulu2panpan commented on #394
或者是把clear方法中的两个if的顺序调换一下

[2017-10-10 11:01] lulu2panpan opened #395 "使用GroupEventSink时，数据变更不频繁同步卡住的解决方案"
hi，agapple：
当使用GroupEventSink时，如果有一个或者多个分库一直没有binlog，那么所有paser线程都会卡在doSink方法上，导致有binlog产生的分库数据也无法消费。从代码注释上看，这么设计的原因，是为了相互协同，防止某个分库出现问题时，被落下，这样可以避免instance重启时丢数据。但同时也增大了Group模式的局限性，我们现在就有类似的场景，项目预期会有很大的数据量，提前进行了分库（8个库），但是还没有大批量推广，每天的数据量只有几千条，某些分库会长时间没有数据。

为了解决这个问题，我想到的方案有两个：
1、一个是利用心跳Sql，类似“insert into retl.xdual values(1,now()) on duplicate key update x=now()“，保证分库源源不断的有binlog产生，这样就不会卡住了。缺点是对业务系统

[2017-10-10 11:40] wuchaooooo commented on #371
@liutaihua 请问去掉依赖后，用别的版本的spring，canal不会出莫名奇妙的bug吗？

[2017-10-11 03:49] wuchaooooo commented on #371
@agapple 请问去掉依赖后，用别的版本的spring，canal不会出莫名奇妙的bug吗？

[2017-10-11 11:34] xiaopan0513 opened #396 "group-instance.xml 如何配置"
想使用group模式处理多库合并的问题，但是wiki找不到配置的方法？

canal.properties
只更改了 canal.destinations= food,mdm
[code]

group-instance.xml 使用默认的内容，未做修改
[code]

client接入的时候怎么配置destination呢？使用逗号分隔是不行的，会当做一个来处理，无法找到

[code]

# 另外QQ群是否可以处理一下？161559791  ？

[2017-10-12 11:16] zlywq commented on #380
根据源代码。canal取表结构的元信息不是从binlog中解析的，而是从mysql数据库中使用desc db1.table1去获取的，这样必然存在隐患。

使用下面的case即可重现问题。

先停止canal。

再在mysql主库上运行下列sql语句
use dbt1;
CREATE TABLE Usert1 (
  `userId` BIGINT NOT NULL AUTO_INCREMENT,
  `userNickName` varchar(20) NOT NULL DEFAULT '',
  `isSystem` TINYINT NOT NULL DEFAULT 0,
  `updateTime` INT NOT NULL DEFAULT 0,
  PRIMARY KEY (`userId`)
) ENGINE=InnoDB AUTO_INCREMENT=100000;
CREA

[2017-10-12 11:48] #396 closed

[2017-10-14 04:27] agapple commented on #395
以前group模式的设计不太好，基于锁的方式性能太差

[2017-10-14 04:27] agapple commented on #371
不会的，canal用的spring功能非常少

[2017-10-14 04:28] agapple commented on #380
新版本会支持ddl版本变更，可以随意回切到任意位点，DDL表结构也会同步回滚

[2017-10-14 04:31] agapple commented on #394
方便提交一个pull request给我？

[2017-10-14 04:36] zhangxiang0823 opened #397 "RowChange中isDdl字段值的问题"
使用官方提供的clent example，RowChange.parseFrom(entry.getStoreValue()); update、insert、delete语句转换结果 isDdl的值为true，且rowChage.getRowDatasList()的list长度为0.当前使用canal版本是1.0.24 mysql版本是5.6.26-log。请问是什么原因导致的解析问题。

[2017-10-15 01:18] stone-cheng opened #398 "LOST_EVENTS 支持"
我用的Canal版本是 1.0.22。

我们在分析MySQL replication时可能出现的LOST_EVENTS。我查看了一下源码，感觉Canal不支持LOST_EVENTS的处理，而是在读取到这个event后，在将其转换成Entry时给丢掉了。请问Canal是特意设计成这样的行为的吗，或是我们理解有误？

我们分析的如下代码：

在LogDecoder.java中， INCIDENT_EVENT 是会被读取到的。

case LogEvent.INCIDENT_EVENT: {
                IncidentLogEvent event = new IncidentLogEvent(header, buffer, descriptionEvent);
                /* updating position in context */

[2017-10-16 01:05] lulu2panpan commented on #394
好的，这两个忙完，就提

[2017-10-16 01:10] lulu2panpan commented on #395
你们内部没怎么使用这种方案吗？性能差也是相对的，这种方式还是很方便的，之前8个分库需要创建8个实例，然后每个实例一堆映射配置，运维起来还是挺麻烦的。有时间的话，您那边可以想一想，看能不能有一个更好的方案，解决这种协同卡住的问题

[2017-10-16 03:44] agapple commented on #398
当时刻意没加，canal的设计是尽可能抽取DML/DDL/DCL的部分内容，并没有全处理所有mysql事件

[2017-10-16 03:46] agapple commented on #397
确认使用为ROW模式，还有一点mysql 5.6会有rows query对象，可以canal.instance.filter.query.dml改为true

[2017-10-16 03:49] #391 closed

[2017-10-16 03:49] #382 closed

[2017-10-16 03:50] agapple commented on #380
新版本代码已经提交到master

[2017-10-16 03:50] #367 closed

[2017-10-16 03:51] #360 closed

[2017-10-16 03:51] agapple commented on #362
utf8编码

[2017-10-16 03:51] #362 closed

[2017-10-16 03:51] #372 closed

[2017-10-16 03:51] #370 closed

[2017-10-16 03:52] #378 closed

[2017-10-16 03:52] #384 closed

[2017-10-16 03:52] #377 closed

[2017-10-16 03:53] agapple commented on #368
no match ack的意思是未按照batchId的顺序调用ack

[2017-10-16 03:53] #363 closed

[2017-10-16 03:54] agapple commented on #359
新版本已经支持单vip的模式，会记录上一次的serverId，数据库主备切换时会判断serverId是否相同，不同则会自动进行位点切换

[2017-10-16 03:54] #359 closed

[2017-10-16 03:56] agapple commented on #357
@NPCSun 群已经可以加了

[2017-10-16 03:56] #357 closed

[2017-10-16 03:56] #353 closed

[2017-10-16 03:56] #351 closed

[2017-10-16 03:57] #339 closed

[2017-10-16 04:23] #335 closed

[2017-10-16 04:24] #329 closed

[2017-10-16 04:24] agapple commented on #328
当前主干已修复json对象过大的解析问题

[2017-10-16 04:24] #328 closed

[2017-10-16 04:24] #325 closed

[2017-10-16 04:24] #324 closed

[2017-10-16 04:25] #320 closed

[2017-10-16 04:25] stone-cheng commented on #398
@agapple 谢谢你的即时回复！

目前有考虑扩展Canal，以涵盖这类（或者尽量多的）事件吗？

Best Regards
Stone

[2017-10-16 04:25] #318 closed

[2017-10-16 04:26] agapple commented on #317
关注instance.properties

[2017-10-16 04:26] #317 closed

[2017-10-16 04:26] #316 closed

[2017-10-16 04:26] #314 closed

[2017-10-16 04:26] #313 closed

[2017-10-16 04:27] #312 closed

[2017-10-16 04:27] #307 closed

[2017-10-16 04:27] #305 closed

[2017-10-16 04:27] #303 closed

[2017-10-16 04:28] agapple commented on #297
当前master版本已经提供，可以关注

[2017-10-16 04:28] #297 closed

[2017-10-16 04:29] agapple commented on #270
一个event事件可能包含多条变更记录

[2017-10-16 04:30] #266 closed

[2017-10-16 04:30] #264 closed

[2017-10-16 04:31] agapple commented on #398
接口协议设计里不支持，所以暂时不会考虑

[2017-10-16 04:38] stone-cheng commented on #398
谢谢你！
我先close这个问题了。如果有新的问题，我再开一个新的ticket。
谢谢！

Best Regards
Stone

[2017-10-16 04:38] #398 closed

[2017-10-16 05:14] alexandnpu commented on #297
@agapple ， 有相关的PR吗？

[2017-10-16 06:08] ChaselT opened #399 "求助，，"
2017-10-16 10:44:47.424 [destination = example , address = /127.0.0.1:3306 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - prepare to find start position just show master status
2017-10-16 10:44:47.427 [destination = example , address = /127.0.0.1:3306 , EventParser] ERROR c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - dump address /127.0.0.1:3306 has an error,